openapi: 3.1.0
info:
  title: ESPN Core v2 API (unofficial)
  version: 1.0.0-rev2026.06
  description: 'sports.core.api.espn.com is ESPN''s reference-data host. Endpoint shapes are identical
    across every sport; only the {sport}/{league} path slugs differ. Responses use `$ref` envelopes liberally
    — follow the URL to fetch the inline resource. Schemas here are derived from captured basketball response
    bodies (nba/wnba/mens-college-basketball/womens-college-basketball) and apply cross-sport because
    the shapes are sport-agnostic.

    '
  summary: Reverse-engineered OpenAPI spec for ESPN's Core v2 host.
  x-espn-schema-source: captured-bodies (basketball)
servers:
- url: https://sports.core.api.espn.com
  description: ESPN Core v2 (reference data)
tags:
- name: core-v2
  description: sports.core.api.espn.com /v2 surface.
paths:
  /v2/colleges/{collegeId}:
    get:
      operationId: getCoreV2_v2_colleges_collegeId
      summary: 'Core v2: colleges'
      parameters:
      - name: collegeId
        in: path
        required: true
        description: collegeId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  guid:
                    type: string
                  mascot:
                    type: string
                  name:
                    type: string
                  shortName:
                    type: string
                  abbrev:
                    type: string
                  logos:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                        alt:
                          type: string
                        rel:
                          type: array
                          items:
                            type: string
                        lastUpdated:
                          type: string
      x-espn-coverage:
        leagues: []
        seasons_with_data: []
        statuses:
          '200': 26
        n_fetches: 26
  /v2/sports/{sport}/leagues/{league}:
    get:
      operationId: getCoreV2_v2_sports_sport_leagues_league
      summary: 'Core v2: league root'
      parameters:
      - &id001
        name: sport
        in: path
        required: true
        description: ESPN sport slug (e.g. basketball, football, baseball, hockey).
        schema:
          type: string
          enum:
          - australian-football
          - baseball
          - basketball
          - cricket
          - field-hockey
          - football
          - golf
          - hockey
          - lacrosse
          - mma
          - racing
          - rugby
          - rugby-league
          - soccer
          - tennis
          - volleyball
          - water-polo
      - &id002
        name: league
        in: path
        required: true
        description: ESPN league slug. Valid leagues depend on the sport; see x-espn-slugs for the sport->league
          mapping.
        schema:
          type: string
          enum:
          - '164205'
          - '180659'
          - '242041'
          - '244293'
          - '267979'
          - '268565'
          - '270557'
          - '270559'
          - '271937'
          - '289234'
          - '289262'
          - '3'
          - afl
          - atp
          - bellator
          - cage-warriors
          - campeones.cup
          - caribbean-series
          - cfl
          - champions-tour
          - college-baseball
          - college-football
          - college-softball
          - concacaf.leagues.cup
          - dominican-winter-league
          - eng.1
          - eng.fa
          - eng.league_cup
          - esp.1
          - esp.copa_del_rey
          - esp.super_cup
          - eur
          - f1
          - fiba
          - fifa.shebelieves
          - fifa.w.champions_cup
          - fifa.world
          - fifa.wwc
          - fra.1
          - ger.1
          - ger.dfb_pokal
          - hockey-world-cup
          - ifc
          - irl
          - ita.1
          - ita.coppa_italia
          - ksw
          - lfa
          - liv
          - llb
          - lls
          - lpga
          - mens-college-basketball
          - mens-college-hockey
          - mens-college-lacrosse
          - mens-college-volleyball
          - mens-college-water-polo
          - mens-olympics-basketball
          - mens-olympics-golf
          - mex.1
          - mexican-winter-league
          - mlb
          - nascar-premier
          - nascar-secondary
          - nascar-truck
          - nba
          - nba-development
          - nba-summer-california
          - nba-summer-golden-state
          - nba-summer-las-vegas
          - nba-summer-orlando
          - nba-summer-sacramento
          - nba-summer-utah
          - nbl
          - nfl
          - nhl
          - nll
          - ntw
          - olympics-baseball
          - olympics-mens-ice-hockey
          - olympics-womens-ice-hockey
          - pga
          - pll
          - puerto-rican-winter-league
          - tgl
          - uefa.champions
          - uefa.europa
          - uefa.europa.conf
          - uefa.wchampions
          - ufl
          - usa.1
          - usa.nwsl
          - usa.nwsl.cup
          - venezuelan-winter-league
          - wnba
          - womens-college-basketball
          - womens-college-field-hockey
          - womens-college-hockey
          - womens-college-lacrosse
          - womens-college-volleyball
          - womens-college-water-polo
          - womens-olympics-basketball
          - womens-olympics-golf
          - world-baseball-classic
          - wta
          - xfl
        x-espn-slugs:
          basketball:
          - fiba
          - mens-college-basketball
          - mens-olympics-basketball
          - nba
          - nba-development
          - nba-summer-california
          - nba-summer-golden-state
          - nba-summer-las-vegas
          - nba-summer-orlando
          - nba-summer-sacramento
          - nba-summer-utah
          - nbl
          - wnba
          - womens-college-basketball
          - womens-olympics-basketball
          football:
          - cfl
          - college-football
          - nfl
          - ufl
          - xfl
          baseball:
          - caribbean-series
          - college-baseball
          - college-softball
          - dominican-winter-league
          - llb
          - lls
          - mexican-winter-league
          - mlb
          - olympics-baseball
          - puerto-rican-winter-league
          - venezuelan-winter-league
          - world-baseball-classic
          hockey:
          - hockey-world-cup
          - mens-college-hockey
          - nhl
          - olympics-mens-ice-hockey
          - olympics-womens-ice-hockey
          - womens-college-hockey
          soccer:
          - campeones.cup
          - concacaf.leagues.cup
          - eng.1
          - eng.fa
          - eng.league_cup
          - esp.1
          - esp.copa_del_rey
          - esp.super_cup
          - fifa.shebelieves
          - fifa.w.champions_cup
          - fifa.world
          - fifa.wwc
          - fra.1
          - ger.1
          - ger.dfb_pokal
          - ita.1
          - ita.coppa_italia
          - mex.1
          - uefa.champions
          - uefa.europa
          - uefa.europa.conf
          - uefa.wchampions
          - usa.1
          - usa.nwsl
          - usa.nwsl.cup
          golf:
          - champions-tour
          - eur
          - liv
          - lpga
          - mens-olympics-golf
          - ntw
          - pga
          - tgl
          - womens-olympics-golf
          racing:
          - f1
          - irl
          - nascar-premier
          - nascar-secondary
          - nascar-truck
          tennis:
          - atp
          - wta
          mma:
          - bellator
          - cage-warriors
          - ifc
          - ksw
          - lfa
          lacrosse:
          - mens-college-lacrosse
          - nll
          - pll
          - womens-college-lacrosse
          rugby:
          - '164205'
          - '180659'
          - '242041'
          - '244293'
          - '267979'
          - '268565'
          - '270557'
          - '270559'
          - '271937'
          - '289234'
          - '289262'
          rugby-league:
          - '3'
          australian-football:
          - afl
          cricket: []
          volleyball:
          - mens-college-volleyball
          - womens-college-volleyball
          field-hockey:
          - womens-college-field-hockey
          water-polo:
          - mens-college-water-polo
          - womens-college-water-polo
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  guid:
                    type: string
                  uid:
                    type: string
                  name:
                    type: string
                  displayName:
                    type: string
                  abbreviation:
                    type: string
                  shortName:
                    type: string
                  midsizeName:
                    type: string
                  slug:
                    type: string
                  isTournament:
                    type: boolean
                  season:
                    type: object
                    properties:
                      $ref:
                        type: string
                      year:
                        type: integer
                      startDate:
                        type: string
                      endDate:
                        type: string
                      displayName:
                        type: string
                      type:
                        type: object
                        properties:
                          $ref:
                            type: string
                          id:
                            type: string
                          type:
                            type: integer
                          name:
                            type: string
                          abbreviation:
                            type: string
                          year:
                            type: integer
                          startDate:
                            type: string
                          endDate:
                            type: string
                          hasGroups:
                            type: boolean
                          hasStandings:
                            type: boolean
                          hasLegs:
                            type: boolean
                          groups:
                            $ref: '#/components/schemas/Reference'
                          weeks:
                            $ref: '#/components/schemas/Reference'
                          slug:
                            type: string
                          leaders:
                            $ref: '#/components/schemas/Reference'
                          corrections:
                            $ref: '#/components/schemas/Reference'
                      types:
                        type: object
                        properties:
                          $ref:
                            type: string
                          count:
                            type: integer
                          pageIndex:
                            type: integer
                          pageSize:
                            type: integer
                          pageCount:
                            type: integer
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                $ref:
                                  type: string
                                id:
                                  type: string
                                type:
                                  type: integer
                                name:
                                  type: string
                                abbreviation:
                                  type: string
                                year:
                                  type: integer
                                startDate:
                                  type: string
                                endDate:
                                  type: string
                                hasGroups:
                                  type: boolean
                                hasStandings:
                                  type: boolean
                                hasLegs:
                                  type: boolean
                                groups:
                                  $ref: '#/components/schemas/Reference'
                                weeks:
                                  $ref: '#/components/schemas/Reference'
                                slug:
                                  type: string
                                leaders:
                                  $ref: '#/components/schemas/Reference'
                                week:
                                  type: object
                                  properties:
                                    $ref:
                                      type: string
                                    number:
                                      type: integer
                                    startDate:
                                      type: string
                                    endDate:
                                      type: string
                                    text:
                                      type: string
                                    rankings:
                                      $ref: '#/components/schemas/Reference'
                                corrections:
                                  $ref: '#/components/schemas/Reference'
                      rankings:
                        $ref: '#/components/schemas/Reference'
                      powerIndexes:
                        $ref: '#/components/schemas/Reference'
                      powerIndexLeaders:
                        $ref: '#/components/schemas/Reference'
                      athletes:
                        $ref: '#/components/schemas/Reference'
                      awards:
                        $ref: '#/components/schemas/Reference'
                      futures:
                        $ref: '#/components/schemas/Reference'
                      leaders:
                        $ref: '#/components/schemas/Reference'
                      coaches:
                        $ref: '#/components/schemas/Reference'
                  seasons:
                    $ref: '#/components/schemas/Reference'
                  franchises:
                    $ref: '#/components/schemas/Reference'
                  teams:
                    $ref: '#/components/schemas/Reference'
                  group:
                    $ref: '#/components/schemas/Reference'
                  groups:
                    $ref: '#/components/schemas/Reference'
                  events:
                    $ref: '#/components/schemas/Reference'
                  notes:
                    $ref: '#/components/schemas/Reference'
                  rankings:
                    $ref: '#/components/schemas/Reference'
                  awards:
                    $ref: '#/components/schemas/Reference'
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        language:
                          type: string
                        rel:
                          type: array
                          items:
                            type: string
                        href:
                          type: string
                        text:
                          type: string
                        shortText:
                          type: string
                        isExternal:
                          type: boolean
                        isPremium:
                          type: boolean
                  logos:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                        alt:
                          type: string
                        rel:
                          type: array
                          items:
                            type: string
                        lastUpdated:
                          type: string
                  powerIndexSeasons:
                    $ref: '#/components/schemas/Reference'
                  calendar:
                    $ref: '#/components/schemas/Reference'
                  transactions:
                    $ref: '#/components/schemas/Reference'
                  gender:
                    type: string
                  draft:
                    $ref: '#/components/schemas/Reference'
                  athletes:
                    $ref: '#/components/schemas/Reference'
                  leaders:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 35
        n_fetches: 35
  /v2/sports/{sport}/leagues/{league}/athletes:
    get:
      operationId: getCoreV2_athletes
      summary: 'Core v2: athletes'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 27
          '400': 3
        n_fetches: 30
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}:
    get:
      operationId: getCoreV2_athletes_athleteId
      summary: 'Core v2: athletes'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  uid:
                    type: string
                  guid:
                    type: string
                  type:
                    type: string
                  alternateIds:
                    type: object
                    properties:
                      sdr:
                        type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  fullName:
                    type: string
                  displayName:
                    type: string
                  shortName:
                    type: string
                  weight:
                    type: integer
                  displayWeight:
                    type: string
                  height:
                    type: integer
                  displayHeight:
                    type: string
                  age:
                    type: integer
                  dateOfBirth:
                    type: string
                  debutYear:
                    type: integer
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        language:
                          type: string
                        rel:
                          type: array
                          items:
                            type: string
                        href:
                          type: string
                        text:
                          type: string
                        shortText:
                          type: string
                        isExternal:
                          type: boolean
                        isPremium:
                          type: boolean
                  birthPlace:
                    type: object
                    properties:
                      city:
                        type: string
                      state:
                        type: string
                      country:
                        type: string
                  college:
                    $ref: '#/components/schemas/Reference'
                  slug:
                    type: string
                  headshot:
                    type: object
                    properties:
                      href:
                        type: string
                      alt:
                        type: string
                  jersey:
                    type: string
                  hand:
                    type: object
                    properties:
                      type:
                        type: string
                      abbreviation:
                        type: string
                      displayValue:
                        type: string
                  position:
                    type: object
                    properties:
                      $ref:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      displayName:
                        type: string
                      abbreviation:
                        type: string
                      leaf:
                        type: boolean
                  linked:
                    type: boolean
                  team:
                    $ref: '#/components/schemas/Reference'
                  statistics:
                    $ref: '#/components/schemas/Reference'
                  contracts:
                    $ref: '#/components/schemas/Reference'
                  experience:
                    type: object
                    properties:
                      years:
                        type: integer
                      displayValue:
                        type: string
                      abbreviation:
                        type: string
                  collegeAthlete:
                    $ref: '#/components/schemas/Reference'
                  active:
                    type: boolean
                  contract:
                    type: object
                    properties:
                      $ref:
                        type: string
                      birdStatus:
                        type: integer
                      baseYearCompensation:
                        type: object
                        properties:
                          active:
                            type: boolean
                      poisonPillProvision:
                        type: object
                        properties:
                          active:
                            type: boolean
                      incomingTradeValue:
                        type: integer
                      outgoingTradeValue:
                        type: integer
                      minimumSalaryException:
                        type: boolean
                      optionType:
                        type: integer
                      salary:
                        type: integer
                      salaryRemaining:
                        type: integer
                      yearsRemaining:
                        type: integer
                      season:
                        $ref: '#/components/schemas/Reference'
                      team:
                        $ref: '#/components/schemas/Reference'
                      tradeKicker:
                        type: object
                        properties:
                          active:
                            type: boolean
                          percentage:
                            type: integer
                          value:
                            type: integer
                          tradeValue:
                            type: integer
                      tradeRestriction:
                        type: boolean
                      unsignedForeignPick:
                        type: boolean
                      active:
                        type: boolean
                  draft:
                    type: object
                    properties:
                      displayText:
                        type: string
                      round:
                        type: integer
                      year:
                        type: integer
                      selection:
                        type: integer
                      team:
                        $ref: '#/components/schemas/Reference'
                      pick:
                        $ref: '#/components/schemas/Reference'
                  status:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      type:
                        type: string
                      abbreviation:
                        type: string
                  statisticslog:
                    $ref: '#/components/schemas/Reference'
                  seasons:
                    $ref: '#/components/schemas/Reference'
                  birthCountry:
                    type: object
                    properties:
                      alternateId:
                        type: string
                      abbreviation:
                        type: string
                  flag:
                    type: object
                    properties:
                      href:
                        type: string
                      alt:
                        type: string
                      rel:
                        type: array
                        items:
                          type: string
                  proAthlete:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 2243
        n_fetches: 2243
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/contracts:
    get:
      operationId: getCoreV2_athletes_athleteId_contracts
      summary: 'Core v2: athletes/contracts'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - nba
        - nhl
        - wnba
        seasons_with_data: []
        statuses:
          '200': 18
        n_fetches: 18
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/contracts/{contractId}:
    get:
      operationId: getCoreV2_athletes_athleteId_contracts_contractId
      summary: 'Core v2: athletes/contracts'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      - name: contractId
        in: path
        required: true
        description: contractId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
      x-espn-coverage:
        leagues:
        - nba
        seasons_with_data: []
        statuses:
          '200': 33
        n_fetches: 33
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/seasons:
    get:
      operationId: getCoreV2_athletes_athleteId_seasons
      summary: 'Core v2: athletes/seasons'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - nba
        - wnba
        seasons_with_data: []
        statuses:
          '200': 6
        n_fetches: 6
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statistics:
    get:
      operationId: getCoreV2_athletes_athleteId_statistics
      summary: 'Core v2: athletes/statistics'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  athlete:
                    $ref: '#/components/schemas/Reference'
                  splits:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      abbreviation:
                        type: string
                      type:
                        type: string
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            shortDisplayName:
                              type: string
                            abbreviation:
                              type: string
                            summary:
                              type: string
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  shortDisplayName:
                                    type: string
                                  description:
                                    type: string
                                  abbreviation:
                                    type: string
                                  value:
                                    type: number
                                  displayValue:
                                    type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 14
        n_fetches: 14
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statistics/{statisticsId}:
    get:
      operationId: getCoreV2_athletes_athleteId_statistics_statisticsId
      summary: 'Core v2: athletes/statistics'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      - name: statisticsId
        in: path
        required: true
        description: statisticsId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  athlete:
                    $ref: '#/components/schemas/Reference'
                  splits:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      abbreviation:
                        type: string
                      type:
                        type: string
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            shortDisplayName:
                              type: string
                            abbreviation:
                              type: string
                            summary:
                              type: string
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  shortDisplayName:
                                    type: string
                                  description:
                                    type: string
                                  abbreviation:
                                    type: string
                                  value:
                                    type: number
                                  displayValue:
                                    type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 1001
        n_fetches: 1001
  /v2/sports/{sport}/leagues/{league}/athletes/{athleteId}/statisticslog:
    get:
      operationId: getCoreV2_athletes_athleteId_statisticslog
      summary: 'Core v2: athletes/statisticslog'
      parameters:
      - *id001
      - *id002
      - name: athleteId
        in: path
        required: true
        description: athleteId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        season:
                          $ref: '#/components/schemas/Reference'
                        statistics:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              statistics:
                                $ref: '#/components/schemas/Reference'
                              team:
                                $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 14
        n_fetches: 14
  /v2/sports/{sport}/leagues/{league}/awards:
    get:
      operationId: getCoreV2_awards
      summary: 'Core v2: awards'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 14
        n_fetches: 14
  /v2/sports/{sport}/leagues/{league}/awards/{awardId}:
    get:
      operationId: getCoreV2_awards_awardId
      summary: 'Core v2: awards'
      parameters:
      - *id001
      - *id002
      - name: awardId
        in: path
        required: true
        description: awardId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 76
        n_fetches: 76
  /v2/sports/{sport}/leagues/{league}/calendar:
    get:
      operationId: getCoreV2_calendar
      summary: 'Core v2: calendar'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 16
        n_fetches: 16
  /v2/sports/{sport}/leagues/{league}/calendar/blacklist:
    get:
      operationId: getCoreV2_calendar_blacklist
      summary: 'Core v2: calendar/blacklist'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  type:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  eventDate:
                    type: object
                    properties:
                      type:
                        type: string
                      dates:
                        type: array
                        items:
                          type: string
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        detail:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: string
                        seasonType:
                          $ref: '#/components/schemas/Reference'
                  season:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 5
        n_fetches: 5
  /v2/sports/{sport}/leagues/{league}/calendar/offdays:
    get:
      operationId: getCoreV2_calendar_offdays
      summary: 'Core v2: calendar/offdays'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  type:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  eventDate:
                    type: object
                    properties:
                      type:
                        type: string
                      dates:
                        type: array
                        items:
                          type: string
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        detail:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: string
                        seasonType:
                          $ref: '#/components/schemas/Reference'
                  season:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 5
        n_fetches: 5
  /v2/sports/{sport}/leagues/{league}/calendar/ondays:
    get:
      operationId: getCoreV2_calendar_ondays
      summary: 'Core v2: calendar/ondays'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  type:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  eventDate:
                    type: object
                    properties:
                      type:
                        type: string
                      dates:
                        type: array
                        items:
                          type: string
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        detail:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: string
                        seasonType:
                          $ref: '#/components/schemas/Reference'
                  season:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 5
        n_fetches: 5
  /v2/sports/{sport}/leagues/{league}/calendar/whitelist:
    get:
      operationId: getCoreV2_calendar_whitelist
      summary: 'Core v2: calendar/whitelist'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  type:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  eventDate:
                    type: object
                    properties:
                      type:
                        type: string
                      dates:
                        type: array
                        items:
                          type: string
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                        detail:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: string
                        seasonType:
                          $ref: '#/components/schemas/Reference'
                  season:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 5
        n_fetches: 5
  /v2/sports/{sport}/leagues/{league}/casinos/{casinoId}:
    get:
      operationId: getCoreV2_casinos_casinoId
      summary: 'Core v2: casinos'
      parameters:
      - *id001
      - *id002
      - name: casinoId
        in: path
        required: true
        description: casinoId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  active:
                    type: integer
                  priority:
                    type: integer
      x-espn-coverage:
        leagues:
        - nba
        - wnba
        seasons_with_data: []
        statuses:
          '200': 4
        n_fetches: 4
  /v2/sports/{sport}/leagues/{league}/coaches/{coachId}:
    get:
      operationId: getCoreV2_coaches_coachId
      summary: 'Core v2: coaches'
      parameters:
      - *id001
      - *id002
      - name: coachId
        in: path
        required: true
        description: coachId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coach'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 15
        n_fetches: 15
  /v2/sports/{sport}/leagues/{league}/coaches/{coachId}/record/{recordId}:
    get:
      operationId: getCoreV2_coaches_coachId_record_recordId
      summary: 'Core v2: coaches/record'
      parameters:
      - *id001
      - *id002
      - name: coachId
        in: path
        required: true
        description: coachId path segment.
        schema:
          type: string
      - name: recordId
        in: path
        required: true
        description: recordId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  summary:
                    type: string
                  displayValue:
                    type: string
                  value:
                    type: number
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        shortDisplayName:
                          type: string
                        description:
                          type: string
                        abbreviation:
                          type: string
                        type:
                          type: string
                        value:
                          type: integer
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 28
        n_fetches: 28
  /v2/sports/{sport}/leagues/{league}/events:
    get:
      operationId: getCoreV2_events
      summary: 'Core v2: events'
      parameters:
      - *id001
      - *id002
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $meta:
                    type: object
                    properties:
                      parameters:
                        type: object
                        properties:
                          seasTypes:
                            type: array
                            items:
                              type: string
                          season:
                            type: array
                            items:
                              type: string
                          groups:
                            type: array
                            items:
                              type: string
                          dates:
                            type: array
                            items:
                              type: string
                          seasontypes:
                            type: array
                            items:
                              type: string
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - college-football
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 16
        n_fetches: 16
  /v2/sports/{sport}/leagues/{league}/events/{eventId}:
    get:
      operationId: getCoreV2_events_eventId
      summary: 'Core v2: events'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 298
          '404': 32
        n_fetches: 330
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId
      summary: 'Core v2: events/competitions'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competition'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - mlb
        - nba
        - nfl
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 105
        n_fetches: 105
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/broadcasts:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_broadcasts
      summary: 'Core v2: events/competitions/broadcasts'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: object
                          properties:
                            id:
                              type: string
                            shortName:
                              type: string
                            longName:
                              type: string
                            slug:
                              type: string
                        channel:
                          type: integer
                        station:
                          type: string
                        slug:
                          type: string
                        priority:
                          type: integer
                        market:
                          type: object
                          properties:
                            id:
                              type: string
                            type:
                              type: string
                        media:
                          type: object
                          properties:
                            $ref:
                              type: string
                            id:
                              type: string
                            callLetters:
                              type: string
                            name:
                              type: string
                            shortName:
                              type: string
                            slug:
                              type: string
                            logos:
                              type: array
                              items:
                                type: object
                                properties:
                                  href:
                                    type: string
                                  width:
                                    type: integer
                                  height:
                                    type: integer
                                  alt:
                                    type: string
                                  rel:
                                    type: array
                                    items:
                                      type: string
                                  lastUpdated:
                                    type: string
                            group:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                slug:
                                  type: string
                        lang:
                          type: string
                        region:
                          type: string
                        competition:
                          $ref: '#/components/schemas/Reference'
                        partnered:
                          type: boolean
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 15
        n_fetches: 15
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId
      summary: 'Core v2: events/competitions/competitors'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competitor'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 30
        n_fetches: 30
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/leaders:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_leaders
      summary: 'Core v2: events/competitions/competitors/leaders'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  abbreviation:
                    type: string
                  type:
                    type: string
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        shortDisplayName:
                          type: string
                        abbreviation:
                          type: string
                        leaders:
                          type: array
                          items:
                            type: object
                            properties:
                              displayValue:
                                type: string
                              value:
                                type: number
                              rel:
                                type: array
                                items:
                                  type: string
                              athlete:
                                $ref: '#/components/schemas/Reference'
                              team:
                                $ref: '#/components/schemas/Reference'
                              statistics:
                                $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 24
        n_fetches: 24
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/linescores:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_linescores
      summary: 'Core v2: events/competitions/competitors/linescores'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        $ref:
                          type: string
                        value:
                          type: integer
                        displayValue:
                          type: string
                        source:
                          type: object
                          properties:
                            id:
                              type: string
                            description:
                              type: string
                        period:
                          type: integer
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 24
        n_fetches: 24
  ? /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/linescores/{linescoreId}/{id}
  : get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_linescores_linescoreId_id
      summary: 'Core v2: events/competitions/competitors/linescores'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      - name: linescoreId
        in: path
        required: true
        description: linescoreId path segment.
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Numeric resource identifier.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  value:
                    type: integer
                  displayValue:
                    type: string
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      description:
                        type: string
                  period:
                    type: integer
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 38
        n_fetches: 38
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/records:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_records
      summary: 'Core v2: events/competitions/competitors/records'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        $ref:
                          type: string
                        id:
                          type: string
                        name:
                          type: string
                        abbreviation:
                          type: string
                        displayName:
                          type: string
                        shortDisplayName:
                          type: string
                        description:
                          type: string
                        type:
                          type: string
                        summary:
                          type: string
                        displayValue:
                          type: string
                        value:
                          type: number
                        stats:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              displayName:
                                type: string
                              shortDisplayName:
                                type: string
                              description:
                                type: string
                              abbreviation:
                                type: string
                              type:
                                type: string
                              value:
                                type: number
                              displayValue:
                                type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 19
        n_fetches: 19
  ? /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/records/{recordId}
  : get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_records_recordId
      summary: 'Core v2: events/competitions/competitors/records'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      - name: recordId
        in: path
        required: true
        description: recordId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  abbreviation:
                    type: string
                  displayName:
                    type: string
                  shortDisplayName:
                    type: string
                  description:
                    type: string
                  type:
                    type: string
                  summary:
                    type: string
                  displayValue:
                    type: string
                  value:
                    type: number
                  stats:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        displayName:
                          type: string
                        shortDisplayName:
                          type: string
                        description:
                          type: string
                        abbreviation:
                          type: string
                        type:
                          type: string
                        value:
                          type: number
                        displayValue:
                          type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 45
        n_fetches: 45
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/roster:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_roster
      summary: 'Core v2: events/competitions/competitors/roster'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        playerId:
                          type: integer
                        period:
                          type: integer
                        active:
                          type: boolean
                        starter:
                          type: boolean
                        forPlayerId:
                          type: integer
                        jersey:
                          type: string
                        valid:
                          type: boolean
                        athlete:
                          $ref: '#/components/schemas/Reference'
                        position:
                          $ref: '#/components/schemas/Reference'
                        statistics:
                          $ref: '#/components/schemas/Reference'
                        didNotPlay:
                          type: boolean
                        displayName:
                          type: string
                        reason:
                          type: string
                        ejected:
                          type: boolean
                  competition:
                    $ref: '#/components/schemas/Reference'
                  team:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 26
        n_fetches: 26
  ? /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/roster/{rosterId}/statistics/{statisticsId}
  : get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_roster_rosterId_statistics_statisticsId
      summary: 'Core v2: events/competitions/competitors/roster/statistics'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      - name: rosterId
        in: path
        required: true
        description: rosterId path segment.
        schema:
          type: string
      - name: statisticsId
        in: path
        required: true
        description: statisticsId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  competition:
                    $ref: '#/components/schemas/Reference'
                  splits:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      abbreviation:
                        type: string
                      type:
                        type: string
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            shortDisplayName:
                              type: string
                            abbreviation:
                              type: string
                            summary:
                              type: string
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  shortDisplayName:
                                    type: string
                                  description:
                                    type: string
                                  abbreviation:
                                    type: string
                                  value:
                                    type: number
                                  displayValue:
                                    type: string
                  athlete:
                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 248
        n_fetches: 248
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/score:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_score
      summary: 'Core v2: events/competitions/competitors/score'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  value:
                    type: integer
                  displayValue:
                    type: string
                  winner:
                    type: boolean
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      description:
                        type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 30
        n_fetches: 30
  ? /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/scores/{scoreId}
  : get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_scores_scoreId
      summary: 'Core v2: events/competitions/competitors/scores'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      - name: scoreId
        in: path
        required: true
        description: scoreId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  value:
                    type: integer
                  displayValue:
                    type: string
                  winner:
                    type: boolean
                  source:
                    type: object
                    properties:
                      id:
                        type: string
                      description:
                        type: string
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 12
        n_fetches: 12
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/statistics:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_statistics
      summary: 'Core v2: events/competitions/competitors/statistics'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  competition:
                    $ref: '#/components/schemas/Reference'
                  team:
                    $ref: '#/components/schemas/Reference'
                  splits:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      abbreviation:
                        type: string
                      type:
                        type: string
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            shortDisplayName:
                              type: string
                            abbreviation:
                              type: string
                            summary:
                              type: string
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  shortDisplayName:
                                    type: string
                                  description:
                                    type: string
                                  abbreviation:
                                    type: string
                                  value:
                                    type: number
                                  displayValue:
                                    type: string
                            athletes:
                              type: array
                              items:
                                type: object
                                properties:
                                  athlete:
                                    $ref: '#/components/schemas/Reference'
                                  statistics:
                                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - nhl
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 24
        n_fetches: 24
  ? /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/competitors/{competitorId}/statistics/{statisticsId}
  : get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_competitors_competitorId_statistics_statisticsId
      summary: 'Core v2: events/competitions/competitors/statistics'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        description: competitorId path segment.
        schema:
          type: string
      - name: statisticsId
        in: path
        required: true
        description: statisticsId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  $ref:
                    type: string
                  competition:
                    $ref: '#/components/schemas/Reference'
                  team:
                    $ref: '#/components/schemas/Reference'
                  splits:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      abbreviation:
                        type: string
                      type:
                        type: string
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            displayName:
                              type: string
                            shortDisplayName:
                              type: string
                            abbreviation:
                              type: string
                            summary:
                              type: string
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  shortDisplayName:
                                    type: string
                                  description:
                                    type: string
                                  abbreviation:
                                    type: string
                                  value:
                                    type: number
                                  displayValue:
                                    type: string
                            athletes:
                              type: array
                              items:
                                type: object
                                properties:
                                  athlete:
                                    $ref: '#/components/schemas/Reference'
                                  statistics:
                                    $ref: '#/components/schemas/Reference'
      x-espn-coverage:
        leagues:
        - mens-college-basketball
        - nba
        - wnba
        - womens-college-basketball
        seasons_with_data: []
        statuses:
          '200': 11
        n_fetches: 11
  /v2/sports/{sport}/leagues/{league}/events/{eventId}/competitions/{competitionId}/odds:
    get:
      operationId: getCoreV2_events_eventId_competitions_competitionId_odds
      summary: 'Core v2: events/competitions/odds'
      parameters:
      - *id001
      - *id002
      - name: eventId
        in: path
        required: true
        description: eventId path segment.
        schema:
          type: string
      - name: competitionId
        in: path
        required: true
        description: competitionId path segment.
        schema:
          type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pageIndex:
                    type: integer
                  pageSize:
                    type: integer
                  pageCount:
                    type: integer
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        $ref:
                          type: string
                        provider:
                          type: object
                          properties:
                            $ref:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                            priority:
                              type: integer
                        details:
                          type: string
                        overUnder:
                          type: number
                        spread:
                          type: number
                        overOdds:
                          type: integer
                        underOdds:
                          type: integer
                        awayTeamOdds:
                          type: object
                          properties:
                            favorite:
                              type: boolean
                            underdog:
                              type: boolean
                            moneyLine:
                              type: integer
                            spreadOdds:
                              type: integer
                            open:
                              type: object
                              properties:
                                favorite:
                                  type: boolean
                                pointSpread:
                                  type: object
                                  properties:
                                    alternateDisplayValue:
                                      type: string
                                    american:
                                      type: string
                                spread:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    displayValue:
                                      type: string
                                    alternateDisplayValue:
                                      type: string
                                    decimal:
                                      type: number
                                    fraction:
                                      type: string
                                    american:
                                      type: string
                                moneyLine:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    displayValue:
                                      type: string
                                    alternateDisplayValue:
                                      type: string
                                    decimal:
                                      type: number
                                    fraction:
                                      type: string
                                    american:
                                      type: string
                            close:
                              type: object
                              properties:
                                pointSpread:
                                  type: object
                                  properties:
                                    alternateDisplayValue:
                                      type: string
                                    american:
                                      type: string
                                spread:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    displayValue:
                                      type: string
                                    alternateDisplayValue:
                                      type: string
                                    decimal:
                                      type: number
                                    fraction:
                                      type: string
                                    american:
                                      type: string
                                moneyLine:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    displayValue:
                                      type: string
[...]
