info:
  description: Live game feeds on cdn.nba.com / cdn.wnba.com. Reference-only; not
    wrapped in sdv-py.
  title: NBA / WNBA Live CDN feeds (reference-only, unofficial)
  version: 1.0.0-rev2026.06
  x-nba-schema-source: nba_api committed docs + hoopR/wehoop slug sweep (offline)
openapi: 3.1.0
paths:
  /static/json/liveData/boxscore/boxscore_{game_id}.json:
    get:
      operationId: boxscore
      parameters:
      - description: 10-digit NBA/WNBA game id.
        in: path
        name: game_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn boxscore
      tags:
      - live-cdn
  /static/json/liveData/odds/odds_todaysGames.json:
    get:
      operationId: odds
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn odds
      tags:
      - live-cdn
  /static/json/liveData/playbyplay/playbyplay_{game_id}.json:
    get:
      operationId: playbyplay
      parameters:
      - description: 10-digit NBA/WNBA game id.
        in: path
        name: game_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn playbyplay
      tags:
      - live-cdn
  /static/json/liveData/scoreboard/todaysScoreboard_00.json:
    get:
      operationId: scoreboard
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn scoreboard
      tags:
      - live-cdn
  /static/json/liveData/scoreboard/todaysScoreboard_10.json:
    get:
      operationId: wnba_scoreboard
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn wnba_scoreboard
      tags:
      - live-cdn
  /static/json/staticData/scheduleLeagueV2_2.json:
    get:
      operationId: gleague_schedule
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: Live JSON feed (plain shape, not resultSets).
      summary: live-cdn gleague_schedule
      tags:
      - live-cdn
servers:
- url: https://cdn.nba.com
- url: https://cdn.wnba.com
