openapi: 3.1.0
info:
  title: NFL.com API (api.nfl.com) — unofficial
  version: 0.2.0-rev2026.09
  summary: Reverse-engineered spec for the modern NFL.com data API (NFL "Shield").
  description: |
    Unofficial OpenAPI description of the modern **`api.nfl.com`** ("Shield") data
    surface used by the NFL.com web app, covering the `/football/v2/*`,
    `/experience/*`, and `/identity/v3/*` endpoints that `sportsdataverse-py`'s
    NFL module wraps (`sportsdataverse.nfl.nfl_api` / `nfl_games`).

    **Auth.** Every data endpoint requires a bearer token. The web app mints an
    anonymous *device token* by POSTing the public `WEB_DESKTOP` client
    credentials to `/identity/v3/token`; the returned `accessToken` is sent as
    `Authorization: Bearer <token>` together with `X-Domain-Id: 100`. No personal
    NFL.com account is involved. This is **not** an official, supported API.
    Schemas are intentionally shallow (documented wrapper keys + a free-form item
    shape) since the payloads are large and evolve.

    **Game identifiers.** A game carries four ids: the Shield uuid (path param
    `gameId` below), plus `externalIds` from the games list -- `elias`
    (`YYYYMMDDNN`, = Next Gen Stats `gameId`), `gsis` (= NGS `gameKey`) and
    `slug` (`broncos-at-chiefs-2026-reg-1`, = the nfl.com `/games/{slug}` page).
    The Shield uuid is also NGS's `gameSmartId`.

    **Live.** The `/football/v2/stats/live/*` game routes and both game-detail
    routes answered during an in-progress game (2026-09-15, DEN@KC) with the
    anonymous token; sample bodies are in `captures/shield/2026-09-14/`.
  x-nfl-schema-source: code+captured-2026-06+captured-2026-09-14
  contact:
    name: sdv-internal-refs
  license:
    name: Reference only
servers:
  - url: https://api.nfl.com
    description: NFL.com Shield data host
tags:
  - name: identity
    description: Token minting (device-token grant).
  - name: football
    description: /football/v2 data resources.
  - name: experience
    description: /experience game-detail resources.
  - name: live
    description: /live/v1 streaming listings.
security:
  - bearerAuth: []
paths:
  /identity/v3/token:
    post:
      operationId: mintToken
      summary: Mint an anonymous device access token (WEB_DESKTOP grant).
      tags: [identity]
      security: []
      description: |
        Exchanges the public `WEB_DESKTOP` web-app client credentials for a
        short-lived bearer `accessToken`. Send `X-Domain-Id: 100`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [clientKey, clientSecret]
              properties:
                clientKey: {type: string, description: Public WEB_DESKTOP client key.}
                clientSecret: {type: string, description: Public WEB_DESKTOP client secret.}
                deviceId: {type: string, description: Random UUID identifying the device.}
                deviceInfo: {type: string, description: base64 device descriptor JSON.}
                networkType: {type: string, default: other}
      responses:
        "200":
          description: A fresh access token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: {type: string}
                  refreshToken: {type: string}
                  expiresIn: {type: integer}
  /football/v2/standings:
    get:
      operationId: getStandings
      summary: Team standings snapshot for a season/week (weeks[].standings[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - {$ref: "#/components/parameters/seasonType"}
        - {$ref: "#/components/parameters/week"}
        - {$ref: "#/components/parameters/limit"}
      responses:
        "200": {$ref: "#/components/responses/WeeksWrapper"}
  /football/v2/rosters:
    get:
      operationId: getRosters
      summary: Team rosters for a season (rosters[]), optionally one team.
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - {$ref: "#/components/parameters/limit"}
        - name: teamId
          in: query
          required: false
          schema: {type: string, format: uuid}
          example: 10401400-b89b-96e5-55d1-caa7e18de3d8
          description: |
            Shield team uuid. Returns just that team's roster (DEN 2026: 1 roster,
            37 KB) instead of all 32 (1.2 MB). The nfl.com game page calls it once
            per side.
      responses:
        "200":
          description: One entry per team roster (`season`, `seasonType`, `team`, `persons[]`) under `rosters`, plus `pagination`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rosters: {type: array, items: {$ref: "#/components/schemas/Item"}}
                  pagination: {$ref: "#/components/schemas/Item"}
  /football/v2/teams/history:
    get:
      operationId: getTeamsHistory
      summary: Teams for a season (teams[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - {$ref: "#/components/parameters/limit"}
      responses:
        "200":
          description: One entry per team under `teams`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/teams/{teamId}:
    get:
      operationId: getTeam
      summary: Single-team detail (one object).
      tags: [football]
      parameters:
        - name: teamId
          in: path
          required: true
          schema: {type: string}
          description: The uuid team id from /football/v2/teams/history.
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/weeks/season/{season}/seasonType/{seasonType}:
    get:
      operationId: getWeeks
      summary: Week calendar for a season (weeks[]).
      tags: [football]
      parameters:
        - name: season
          in: path
          required: true
          schema: {type: integer}
        - name: seasonType
          in: path
          required: true
          schema: {$ref: "#/components/schemas/SeasonTypeStr"}
      responses:
        "200": {$ref: "#/components/responses/WeeksWrapper"}
  /football/v2/weeks/date/{date}:
    get:
      operationId: getWeekByDate
      summary: The week containing a calendar date (one object).
      tags: [football]
      parameters:
        - name: date
          in: path
          required: true
          schema: {type: string, format: date}
          description: Calendar date in YYYY-MM-DD form.
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/combine/profiles:
    get:
      operationId: getCombineProfiles
      summary: Combine prospect profiles for a year (combineProfiles[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/year"}
        - {$ref: "#/components/parameters/limit"}
      responses:
        "200":
          description: One entry per combine profile under `combineProfiles`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  combineProfiles: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/draft/picks/report:
    get:
      operationId: getDraftPicks
      summary: Draft pick report for a year (picks[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/year"}
        - {$ref: "#/components/parameters/limit"}
      responses:
        "200":
          description: Draft state plus `picks` and `days` lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  picks: {type: array, items: {$ref: "#/components/schemas/Item"}}
                  days: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/injuries:
    get:
      operationId: getInjuries
      summary: Injury report for a season/week (injuries[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - {$ref: "#/components/parameters/seasonType"}
        - {$ref: "#/components/parameters/week"}
      responses:
        "200":
          description: One entry per injured player under `injuries`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  injuries: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/stats/live/game-summaries:
    get:
      operationId: getGameSummaries
      summary: Live game summaries for a season/week (data[]).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - {$ref: "#/components/parameters/seasonType"}
        - {$ref: "#/components/parameters/week"}
      responses:
        "200":
          description: One entry per game under `data`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/experience/weekly-game-details:
    get:
      operationId: getWeeklyGameDetails
      summary: Weekly game details (bare list of game objects).
      tags: [football]
      parameters:
        - {$ref: "#/components/parameters/season"}
        - name: type
          in: query
          schema: {$ref: "#/components/schemas/SeasonTypeStr"}
          description: Season type (sent as `type`, not `seasonType`).
        - {$ref: "#/components/parameters/week"}
        - {name: includeDriveChart, in: query, schema: {type: boolean, default: true}}
        - {name: includeReplays, in: query, schema: {type: boolean, default: false}}
        - {name: includeStandings, in: query, schema: {type: boolean, default: false}}
        - {name: includeTaggedVideos, in: query, schema: {type: boolean, default: false}}
      responses:
        "200":
          description: A bare JSON array of game-detail objects.
          content:
            application/json:
              schema: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /football/v2/games/season/{season}/seasonType/{seasonType}/week/{week}:
    get:
      operationId: getGames
      summary: Games for a season/week slice (games[] + pagination).
      tags: [football]
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
        - {name: seasonType, in: path, required: true, schema: {$ref: "#/components/schemas/SeasonTypeStr"}}
        - {name: week, in: path, required: true, schema: {type: integer}}
      responses:
        "200":
          description: Games list under `games` plus `pagination`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  games: {type: array, items: {$ref: "#/components/schemas/Item"}}
                  pagination: {$ref: "#/components/schemas/Item"}
  /football/v2/stats/live/team-statistics/{gameId}:
    get:
      operationId: getLiveTeamStatistics
      summary: Live team box score for one game (awayTeam / homeTeam stat objects).
      tags: [football]
      description: |
        One flat object per side with ~100 counting stats (`firstDownsPassing`,
        `defensiveSacks`, `fieldGoalsLongestMade`, ...). `offset` advances during
        the game (97 when captured mid-1st-quarter) and appears to be the feed
        position the stats reflect.
      parameters:
        - {$ref: "#/components/parameters/gameId"}
      responses:
        "200":
          description: Team statistics for both sides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  gameId: {type: string}
                  offset: {type: integer}
                  awayTeam: {$ref: "#/components/schemas/Item"}
                  homeTeam: {$ref: "#/components/schemas/Item"}
  /football/v2/stats/live/player-statistics/{gameId}:
    get:
      operationId: getLivePlayerStatistics
      summary: Live player box score for one game (awayTeam.players[] / homeTeam.players[]).
      tags: [football]
      description: |
        Accepts `simulationDisabled` (seen in the web SDK). Each side is `{teamId, players[]}`; a player row carries `gsisPlayerId`,
        `gsisPlayerJerseyNumber`, `gsisPlayerName`, `personId` and every stat
        family's counting stats.
      parameters:
        - {$ref: "#/components/parameters/gameId"}
      responses:
        "200":
          description: Player statistics for both sides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  gameId: {type: string}
                  offset: {type: integer}
                  awayTeam:
                    type: object
                    properties:
                      teamId: {type: string}
                      players: {type: array, items: {$ref: "#/components/schemas/Item"}}
                  homeTeam:
                    type: object
                    properties:
                      teamId: {type: string}
                      players: {type: array, items: {$ref: "#/components/schemas/Item"}}
  /experience/v1/gamedetails/{gameId}:
    get:
      operationId: getGameDetails
      summary: Single-game experience detail, v1 shape (everything under `data`).
      tags: [experience]
      description: |
        Drives, plays and scoring for one game. The payload is wrapped in a single
        `data` key. This path was previously documented as `/experience/v1/game/{gameId}`,
        which answers 404; `gamedetails` is the live route (verified 2026-09-15).
      parameters:
        - {$ref: "#/components/parameters/gameId"}
      responses:
        "200":
          description: Game detail under `data`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {$ref: "#/components/schemas/Item"}
  /experience/v2/gamedetails/{gameId}:
    get:
      operationId: getGameDetailsV2
      summary: Single-game experience detail, v2 flat shape (game + summary, driveChart, replays, standings).
      tags: [experience]
      description: |
        The current nfl.com game page's call. Game fields sit at the top level
        (the games-list shape plus `externalIds`); the `include*` flags add
        `driveChart`, `replays`, `homeTeamStandings`/`awayTeamStandings` and
        tagged videos, and change the payload from ~26 KB to ~113 KB.
      parameters:
        - {$ref: "#/components/parameters/gameId"}
        - {$ref: "#/components/parameters/includeDriveChart"}
        - {$ref: "#/components/parameters/includeReplays"}
        - {$ref: "#/components/parameters/includeStandings"}
        - {$ref: "#/components/parameters/includeTaggedVideos"}
      responses:
        "200": {$ref: "#/components/responses/GameDetailV2"}
  /experience/v1/gamedetailsbyslug/{slug}:
    get:
      operationId: getGameDetailsBySlug
      summary: Single-game experience detail looked up by nfl.com slug.
      tags: [experience]
      description: |
        Same flat game-detail shape as v2, keyed by the `slug` external id
        (`{away-nickname}-at-{home-nickname}-{season}-{seasonType}-{week}`) -- the
        last path segment of the nfl.com game page URL.
      parameters:
        - name: slug
          in: path
          required: true
          schema: {type: string}
          example: broncos-at-chiefs-2026-reg-1
          description: The `slug` external id from the games list.
        - {$ref: "#/components/parameters/includeReplays"}
      responses:
        "200": {$ref: "#/components/responses/GameDetailV2"}
  /football/v2/games/{gameId}:
    get:
      operationId: getGame
      summary: One game by Shield uuid (the games-list record).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {$ref: "#/components/parameters/gameId"}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/standings/latest:
    get:
      operationId: getStandingsLatest
      summary: Latest standings snapshot for a season type (weeks[] + pagination).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: query, required: true, schema: {type: integer}}
        - {name: seasonType, in: query, required: true, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/weeks/latest-replays:
    get:
      operationId: getWeekLatestReplays
      summary: The most recent week with replays available (one week object).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters: []
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/teams/markets:
    get:
      operationId: getTeamMarkets
      summary: Team markets (data[] + pagination).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters: []
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/prospects/profiles:
    get:
      operationId: getProspectProfiles
      summary: Draft prospect profiles for a year (profiles[] + pagination).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: year, in: query, required: true, schema: {type: integer}}
        - {name: limit, in: query, required: false, schema: {type: integer}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/prospects/draft/report:
    get:
      operationId: getProspectDraftReport
      summary: Draft report for a year (draftState, days, picks).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: year, in: query, required: true, schema: {type: integer}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/prospects/draft/team-needs:
    get:
      operationId: getProspectTeamNeeds
      summary: Team needs for a draft year (teams[]).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: year, in: query, required: true, schema: {type: integer}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/stats/historical/season/{season}/seasonType/{seasonType}/team/{teamId}:
    get:
      operationId: getHistoricalTeamSeasonStats
      summary: A team's season statistics and lineup.
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
        - {name: seasonType, in: path, required: true, schema: {type: string}}
        - {name: teamId, in: path, required: true, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/stats/historical/season/{season}/seasonType/{seasonType}/team/{teamId}/persons:
    get:
      operationId: getHistoricalTeamSeasonPersonStats
      summary: Per-player season statistics for a team (data[] + pagination).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
        - {name: seasonType, in: path, required: true, schema: {type: string}}
        - {name: teamId, in: path, required: true, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/stats/historical/game/{gameId}/persons/team/{teamId}:
    get:
      operationId: getHistoricalGameTeamPersonStats
      summary: Per-player statistics for one team in one game (game, team, personStats[]).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none. Near-empty for an in-progress game.
      parameters:
        - {$ref: "#/components/parameters/gameId"}
        - {name: teamId, in: path, required: true, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /football/v2/experience/playoffs/games/season/{season}:
    get:
      operationId: getPlayoffGames
      summary: Playoff bracket games for a season (weeks[]).
      tags: [football]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /experience/v1/gamedetails/season/{season}/team/{teamId}:
    get:
      operationId: getTeamSeasonGameDetails
      summary: Every game detail for a team-season, paged (games[] + pageToken; ~1.3 MB).
      tags: [experience]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
        - {name: teamId, in: path, required: true, schema: {type: string}}
        - {name: pageToken, in: query, required: false, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /experience/v2/gamedetails/season/{season}/team/{teamId}:
    get:
      operationId: getTeamSeasonGameDetailsV2
      summary: Every v2 game detail for a team-season, paged (games[] + pageToken).
      tags: [experience]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters:
        - {name: season, in: path, required: true, schema: {type: integer}}
        - {name: teamId, in: path, required: true, schema: {type: string}}
        - {name: pageToken, in: query, required: false, schema: {type: string}}
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /live/v1/livestreams:
    get:
      operationId: getLivestreams
      summary: Current livestreams (items[] + metadata + pagination).
      tags: [live]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters: []
      responses:
        "200": {$ref: "#/components/responses/Object"}
  /live/v1/nflnetwork:
    get:
      operationId: getNflNetwork
      summary: NFL Network schedule/stream listing (items[] + metadata + pagination).
      tags: [live]
      description: Found in the www.nfl.com web SDK (chunk 7516) and verified 2026-09-15 -- 200 with the anonymous device token, 401 with none.
      parameters: []
      responses:
        "200": {$ref: "#/components/responses/Object"}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer accessToken minted at POST /identity/v3/token (plus X-Domain-Id 100).
  parameters:
    gameId:
      name: gameId
      in: path
      required: true
      schema: {type: string, format: uuid}
      example: a9a890ed-4feb-11f1-abca-2c54536568a9
      description: The Shield uuid game id (`id` in the games / weekly-game-details lists).
    includeDriveChart: {name: includeDriveChart, in: query, schema: {type: boolean, default: false}}
    includeReplays: {name: includeReplays, in: query, schema: {type: boolean, default: false}}
    includeStandings: {name: includeStandings, in: query, schema: {type: boolean, default: false}}
    includeTaggedVideos: {name: includeTaggedVideos, in: query, schema: {type: boolean, default: false}}
    season:
      name: season
      in: query
      schema: {type: integer, default: 2024}
      description: Season year (e.g. 2024).
    seasonType:
      name: seasonType
      in: query
      schema: {$ref: "#/components/schemas/SeasonTypeStr"}
      description: Season phase string (PRE / REG / POST).
    week:
      name: week
      in: query
      schema: {type: integer, default: 1}
      description: Week number within the season.
    year:
      name: year
      in: query
      schema: {type: integer, default: 2024}
      description: Combine / draft year.
    limit:
      name: limit
      in: query
      schema: {type: integer, default: 40}
      description: Page size (max items per page).
  schemas:
    SeasonTypeStr:
      type: string
      enum: [PRE, REG, POST]
      description: NFL.com season-type code (note PRE/REG/POST, not ESPN's 1/2/3).
    Item:
      type: object
      additionalProperties: true
      description: A free-form resource object (shape varies by endpoint).
  responses:
    Object:
      description: A single resource object.
      content:
        application/json:
          schema: {$ref: "#/components/schemas/Item"}
    GameDetailV2:
      description: Flat game detail -- game fields at the top level plus optional sections.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
            properties:
              id: {type: string, format: uuid}
              externalIds:
                type: array
                items:
                  type: object
                  properties:
                    source: {type: string, enum: [elias, gsis, slug]}
                    id: {type: string}
              season: {type: integer}
              seasonType: {$ref: "#/components/schemas/SeasonTypeStr"}
              week: {type: integer}
              status: {type: string}
              homeTeam: {$ref: "#/components/schemas/Item"}
              awayTeam: {$ref: "#/components/schemas/Item"}
              summary: {$ref: "#/components/schemas/Item"}
              driveChart: {$ref: "#/components/schemas/Item"}
              replays: {type: array, items: {$ref: "#/components/schemas/Item"}}
              homeTeamStandings: {$ref: "#/components/schemas/Item"}
              awayTeamStandings: {$ref: "#/components/schemas/Item"}
    WeeksWrapper:
      description: Records nested under weeks[] (each week carrying its own list).
      content:
        application/json:
          schema:
            type: object
            properties:
              weeks: {type: array, items: {$ref: "#/components/schemas/Item"}}
