openapi: 3.1.0
info:
  title: NFL Pro secured API (pro.nfl.com) — unofficial
  version: 0.1.0-rev2026.09
  summary: Reverse-engineered spec for the Next Gen Stats data behind pro.nfl.com's NFL+ Premium paywall.
  description: 'Unofficial OpenAPI description of the **`pro.nfl.com/api/secured/*`** surface -- the Next
    Gen Stats data that `nextgenstats.nfl.com` stopped serving (see sdv-internal-refs'' nfl/nextgenstats/
    for that dead host''s history). NGS moved behind an NFL+ Premium subscription.


    **Auth.** A client-credentials token is NOT sufficient -- it mints successfully but is not user-bound,
    and every `/api/secured/*` call 401s. A user-bound token is obtained only by completing the real `id.nfl.com`
    login (a 3-step flow: email, a passkey-sign-in *offer* at `/account/sign-in-biometric` with no password
    field, then password at `/account/sign-in-password`) and confirming the resulting token''s `plans`
    claim carries an ACTIVE `NFL_PLUS_*` entry -- an anonymous token has claims byte-identical to a UID-minted
    one otherwise. There is no token-mint endpoint modeled here since the login is a browser flow, not
    a REST operation.


    **Gotchas verified by measurement:** an unsupported query param returns HTTP 200 with an EMPTY body
    (no error envelope) rather than a 400; `week`/`game` are PATH scopes, not query params; responses
    truncate silently at the page `limit` with the envelope''s own `total` as the only truncation signal.


    Field-level descriptions are intentionally omitted -- see sdv-internal-refs'' nfl/nflpro/catalogs/nfl_pro_secured_returns.md
    for why, and the identified `load_nfl_nextgen_stats` cross-walk that could recover some of them.'
  x-nfl-schema-source: live-captured-2026-09-03 (NFL+ Premium account, season 2024 REG)
  contact:
    name: sdv-internal-refs
  license:
    name: Reference only
servers:
- url: https://pro.nfl.com
  description: NFL Pro data host
tags:
- name: secured
  description: /api/secured/* Next Gen Stats resources (NFL+ Premium).
security:
- bearerAuth: []
paths:
  /api/secured/stats/players-offense/passing/season:
    get:
      operationId: getPlayersOffensePassingSeason
      summary: Quarterback passing for the season, incl. Next Gen time-to-throw, aggressiveness and CPOE.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - &id001
        name: season
        in: query
        required: false
        schema:
          type: integer
          default: 2024
        description: Season, as the STARTING year (2024 = the 2024-25 NFL season).
      - &id002
        name: seasonType
        in: query
        required: false
        schema:
          type: string
          enum:
          - PRE
          - REG
          - POST
          default: REG
        description: 'Season type code (string): PRE, REG, or POST -- not ESPN''s numeric 1/2/3.'
      - &id003
        name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 500
        description: Page size. Responses truncate silently at this many rows with no error and no indication
          in the body -- the envelope's own `total` is the only signal a caller has that more rows exist.
          Page with `offset` until the accumulated row count reaches `total`.
      - &id004
        name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Zero-based row offset for pagination.
      - &id005
        name: sortKey
        in: query
        required: false
        schema:
          type: string
        description: Field name to sort by, e.g. `epa`.
      - &id006
        name: sortValue
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
        description: Sort direction.
      - name: qualifiedPasser
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  passers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        att:
                          type: integer
                          example: 92
                        attPG:
                          type: number
                          example: 30.66667
                        avgSep:
                          type: number
                          example: 3.22274
                        avgTTP:
                          type: number
                          example: 2.32121
                        avgTTS:
                          type: number
                          example: 5.2332
                        avgTTT:
                          type: number
                          example: 2.38815
                        ay:
                          type: number
                          example: 259.8
                        ayAtt:
                          type: number
                          example: 7.44533
                        blitzR:
                          type: number
                          example: 0.24742
                        cmp:
                          type: integer
                          example: 58
                        cmpPG:
                          type: number
                          example: 19.33333
                        cmpPct:
                          type: number
                          example: 0.63043
                        cpoe:
                          type: number
                          example: -0.0106
                        db:
                          type: integer
                          example: 97
                        dbPG:
                          type: number
                          example: 32.33333
                        deepAttPct:
                          type: number
                          example: 0.08696
                        displayName:
                          type: string
                          example: Philip Rivers
                        drop:
                          type: integer
                          example: 1
                        dropPG:
                          type: number
                          example: 0.33333
                        dropR:
                          type: number
                          example: 0.01087
                        epa:
                          type: number
                          example: -14.0985
                        epaDb:
                          type: number
                          example: -0.14535
                        epaPG:
                          type: number
                          example: -4.6995
                        gp:
                          type: integer
                          example: 3
                        gs:
                          type: integer
                          example: 3
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/privat
                        int:
                          type: integer
                          example: 3
                        intPG:
                          type: number
                          example: 1.0
                        jerseyNumber:
                          type: integer
                          example: 17
                        nflId:
                          type: string
                          example: '28956'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        paDbPct:
                          type: number
                          example: 0.15464
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qbp:
                          type: integer
                          example: 33
                        qbpPG:
                          type: number
                          example: 11.0
                        qbpR:
                          type: number
                          example: 0.34021
                        qp:
                          type: boolean
                          example: false
                        rating:
                          type: number
                          example: 80.16304
                        sack:
                          type: integer
                          example: 5
                        sackPG:
                          type: number
                          example: 1.66667
                        shortName:
                          type: string
                          example: P.Rivers
                        td:
                          type: integer
                          example: 4
                        tdPG:
                          type: number
                          example: 1.33333
                        teamId:
                          type: string
                          example: '2200'
                        tg:
                          type: integer
                          example: 3
                        totalTg:
                          type: integer
                          example: 17
                        twAttPG:
                          type: number
                          example: 6.33333
                        twAttPct:
                          type: number
                          example: 0.20652
                        xCmp:
                          type: number
                          example: 0.64104
                        xYac:
                          type: number
                          example: 279.7439
                        yac:
                          type: number
                          example: 291.97
                        yacPct:
                          type: number
                          example: 0.53671
                        yds:
                          type: integer
                          example: 544
                        ydsPG:
                          type: number
                          example: 181.33333
                        ypa:
                          type: number
                          example: 5.91304
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/players-offense/passing/week:
    get:
      operationId: getPlayersOffensePassingWeek
      summary: Quarterback passing per week.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedPasser
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      - &id007
        name: nflId
        in: query
        required: false
        schema:
          type: string
        description: Optional player filter on the player-scoped week routes (omit for the whole league-week
          table). Verified live to be silently accepted-and-ignored on the team-scoped team-offense/team-defense
          week routes -- NOT exposed as a parameter there.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  passers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        att:
                          type: integer
                          example: 27
                        attPG:
                          type: integer
                          example: 27
                        avgSep:
                          type: number
                          example: 3.39941
                        avgTTP:
                          type: number
                          example: 2.45455
                        avgTTS:
                          type: number
                          example: 6.664
                        avgTTT:
                          type: number
                          example: 2.3557
                        ay:
                          type: number
                          example: 19.2
                        ayAtt:
                          type: number
                          example: 4.74654
                        blitzR:
                          type: number
                          example: 0.17857
                        cmp:
                          type: integer
                          example: 18
                        cmpPG:
                          type: integer
                          example: 18
                        cmpPct:
                          type: number
                          example: 0.66667
                        cpoe:
                          type: number
                          example: -0.0019
                        db:
                          type: integer
                          example: 28
                        dbPG:
                          type: integer
                          example: 28
                        deepAttPct:
                          type: number
                          example: 0.07407
                        displayName:
                          type: string
                          example: Philip Rivers
                        drop:
                          type: integer
                          example: 1
                        dropPG:
                          type: integer
                          example: 1
                        dropR:
                          type: number
                          example: 0.03704
                        epa:
                          type: number
                          example: -5.10244
                        epaDb:
                          type: number
                          example: -0.18223
                        epaPG:
                          type: number
                          example: -5.10244
                        fapiGameId:
                          type: string
                          example: f8d8d236-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 16-18
                        gameId:
                          type: integer
                          example: 2025121411
                        gameResult:
                          type: string
                          example: L
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/privat
                        int:
                          type: integer
                          example: 1
                        intPG:
                          type: integer
                          example: 1
                        isHome:
                          type: boolean
                          example: false
                        jerseyNumber:
                          type: integer
                          example: 17
                        nflId:
                          type: string
                          example: '28956'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        opponentTeamId:
                          type: string
                          example: '4600'
                        paDbPct:
                          type: number
                          example: 0.07143
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qbp:
                          type: integer
                          example: 11
                        qbpPG:
                          type: integer
                          example: 11
                        qbpR:
                          type: number
                          example: 0.39286
                        qp:
                          type: boolean
                          example: true
                        rating:
                          type: number
                          example: 73.07099
                        sack:
                          type: integer
                          example: 1
                        sackPG:
                          type: integer
                          example: 1
                        shortName:
                          type: string
                          example: P.Rivers
                        td:
                          type: integer
                          example: 1
                        tdPG:
                          type: integer
                          example: 1
                        teamId:
                          type: string
                          example: '2200'
                        tg:
                          type: integer
                          example: 1
                        totalTg:
                          type: integer
                          example: 1
                        twAttPG:
                          type: integer
                          example: 5
                        twAttPct:
                          type: number
                          example: 0.18519
                        weekSlug:
                          type: string
                          example: WEEK_15
                        xCmp:
                          type: number
                          example: 0.66857
                        xYac:
                          type: number
                          example: 100.47377
                        yac:
                          type: number
                          example: 100.8
                        yacPct:
                          type: number
                          example: 0.84
                        yds:
                          type: integer
                          example: 120
                        ydsPG:
                          type: integer
                          example: 120
                        ypa:
                          type: number
                          example: 4.44444
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/players-offense/rushing/season:
    get:
      operationId: getPlayersOffenseRushingSeason
      summary: Rushing for the season, incl. Next Gen efficiency, yards over expected and defenders-in-box.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedRusher
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  rushers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        att:
                          type: integer
                          example: 2
                        attPG:
                          type: number
                          example: 1.0
                        displayName:
                          type: string
                          example: Philip Rivers
                        eff:
                          type: number
                          example: 1.415
                        epa:
                          type: number
                          example: -1.23811
                        epaAtt:
                          type: number
                          example: -0.61905
                        epaPG:
                          type: number
                          example: -0.61906
                        fum:
                          type: integer
                          example: 1
                        fumPG:
                          type: number
                          example: 0.5
                        gp:
                          type: integer
                          example: 2
                        gs:
                          type: integer
                          example: 2
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/privat
                        inTPct:
                          type: number
                          example: 0.5
                        jerseyNumber:
                          type: integer
                          example: 17
                        lost:
                          type: integer
                          example: 0
                        lostPG:
                          type: number
                          example: 0.0
                        nflId:
                          type: string
                          example: '28956'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qr:
                          type: boolean
                          example: false
                        rush10PYds:
                          type: integer
                          example: 0
                        rush10PYdsPG:
                          type: number
                          example: 0.0
                        rush15PMph:
                          type: integer
                          example: 0
                        rush15PMphPG:
                          type: number
                          example: 0.0
                        rush20PMph:
                          type: integer
                          example: 0
                        rush20PMphPG:
                          type: number
                          example: 0.0
                        ryoe:
                          type: number
                          example: -0.94053
                        ryoeAtt:
                          type: number
                          example: -0.94053
                        ryoePG:
                          type: number
                          example: -0.47027
                        shortName:
                          type: string
                          example: P.Rivers
                        stBoxPct:
                          type: number
                          example: 0.0
                        success:
                          type: number
                          example: 0.0
                        td:
                          type: integer
                          example: 0
                        tdPG:
                          type: number
                          example: 0.0
                        teamId:
                          type: string
                          example: '2200'
                        tg:
                          type: integer
                          example: 2
                        totalTg:
                          type: integer
                          example: 17
                        underPct:
                          type: number
                          example: 0.0
                        xRy:
                          type: number
                          example: 0.94053
                        xRyPG:
                          type: number
                          example: 0.47027
                        xYpc:
                          type: number
                          example: 0.94053
                        yaco:
                          type: number
                          example: 0.0
                        yacoAtt:
                          type: number
                          example: 0.0
                        yacoPG:
                          type: number
                          example: 0.0
                        ybco:
                          type: number
                          example: 0.0
                        ybcoAtt:
                          type: number
                          example: 0.0
                        ybcoPG:
                          type: number
                          example: 0.0
                        yds:
                          type: integer
                          example: -1
                        ydsPG:
                          type: number
                          example: -0.5
                        ypc:
                          type: number
                          example: -0.5
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/players-offense/rushing/week:
    get:
      operationId: getPlayersOffenseRushingWeek
      summary: Rushing per week.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedRusher
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      - *id007
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  rushers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        att:
                          type: integer
                          example: 1
                        attPG:
                          type: integer
                          example: 1
                        displayName:
                          type: string
                          example: Philip Rivers
                        eff:
                          type: number
                          example: 2.55
                        epa:
                          type: number
                          example: -1.23811
                        epaAtt:
                          type: number
                          example: -1.23811
                        epaPG:
                          type: number
                          example: -1.23811
                        fapiGameId:
                          type: string
                          example: f8d8d236-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 16-18
                        fum:
                          type: integer
                          example: 1
                        fumPG:
                          type: integer
                          example: 1
                        gameId:
                          type: integer
                          example: 2025121411
                        gameResult:
                          type: string
                          example: L
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/privat
                        inTPct:
                          type: number
                          example: 1.0
                        isHome:
                          type: boolean
                          example: false
                        jerseyNumber:
                          type: integer
                          example: 17
                        lost:
                          type: integer
                          example: 0
                        lostPG:
                          type: integer
                          example: 0
                        nflId:
                          type: string
                          example: '28956'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        opponentTeamId:
                          type: string
                          example: '4600'
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qr:
                          type: boolean
                          example: false
                        rush10PYds:
                          type: integer
                          example: 0
                        rush10PYdsPG:
                          type: integer
                          example: 0
                        rush15PMph:
                          type: integer
                          example: 0
                        rush15PMphPG:
                          type: integer
                          example: 0
                        rush20PMph:
                          type: integer
                          example: 0
                        rush20PMphPG:
                          type: integer
                          example: 0
                        ryoe:
                          type: number
                          example: -0.94053
                        ryoeAtt:
                          type: number
                          example: -0.94053
                        ryoePG:
                          type: number
                          example: -0.94053
                        shortName:
                          type: string
                          example: P.Rivers
                        stBoxPct:
                          type: number
                          example: 0.0
                        success:
                          type: number
                          example: 0.0
                        td:
                          type: integer
                          example: 0
                        tdPG:
                          type: integer
                          example: 0
                        teamId:
                          type: string
                          example: '2200'
                        tg:
                          type: integer
                          example: 1
                        totalTg:
                          type: integer
                          example: 1
                        underPct:
                          type: number
                          example: 0.0
                        weekSlug:
                          type: string
                          example: WEEK_15
                        xRy:
                          type: number
                          example: 0.94053
                        xRyPG:
                          type: number
                          example: 0.94053
                        xYpc:
                          type: number
                          example: 0.94053
                        yaco:
                          type: number
                          example: 0.0
                        yacoAtt:
                          type: number
                          example: 0.0
                        yacoPG:
                          type: number
                          example: 0.0
                        ybco:
                          type: number
                          example: 0.0
                        ybcoAtt:
                          type: number
                          example: 0.0
                        ybcoPG:
                          type: number
                          example: 0.0
                        yds:
                          type: integer
                          example: 0
                        ydsPG:
                          type: integer
                          example: 0
                        ypc:
                          type: number
                          example: 0.0
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/players-offense/receiving/season:
    get:
      operationId: getPlayersOffenseReceivingSeason
      summary: Receiving for the season, incl. Next Gen separation, cushion and catch rate over expected.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedReceiver
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  receivers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        avgRtDep:
                          type: number
                          example: -8.0
                        avgSep:
                          type: number
                          example: 0.36497
                        ay:
                          type: number
                          example: -8.44
                        ayPG:
                          type: number
                          example: -8.44
                        ayTgt:
                          type: number
                          example: -8.44
                        catch:
                          type: number
                          example: 1.0
                        croe:
                          type: number
                          example: 0.5246
                        deepTgtPct:
                          type: number
                          example: 0.0
                        displayName:
                          type: string
                          example: Aaron Rodgers
                        drop:
                          type: integer
                          example: 0
                        dropPG:
                          type: number
                          example: 0.0
                        dropTgt:
                          type: number
                          example: 0.0
                        epa:
                          type: number
                          example: -1.90366
                        epaPG:
                          type: number
                          example: -1.90366
                        epaRt:
                          type: number
                          example: -1.90366
                        epaTgt:
                          type: number
                          example: -1.90366
                        ezRec:
                          type: integer
                          example: 0
                        ezRecPG:
                          type: number
                          example: 0.0
                        ezTgt:
                          type: integer
                          example: 0
                        ezTgtPG:
                          type: number
                          example: 0.0
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        intPG:
                          type: number
                          example: 0.0
                        jerseyNumber:
                          type: integer
                          example: 8
                        nflId:
                          type: string
                          example: '29851'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qr:
                          type: boolean
                          example: false
                        rating:
                          type: number
                          example: 79.16667
                        rec:
                          type: integer
                          example: 1
                        recPG:
                          type: number
                          example: 1.0
                        rt:
                          type: integer
                          example: 1
                        rtPG:
                          type: number
                          example: 1.0
                        shortName:
                          type: string
                          example: A.Rodgers
                        td:
                          type: integer
                          example: 0
                        tdPG:
                          type: number
                          example: 0.0
                        teamId:
                          type: string
                          example: '3900'
                        tg:
                          type: integer
                          example: 1
                        tgt:
                          type: integer
                          example: 1
                        tgtPG:
                          type: number
                          example: 1.0
                        tgtRt:
                          type: number
                          example: 1.0
                        totalTg:
                          type: integer
                          example: 17
                        twPct:
                          type: number
                          example: 1.0
                        xCatch:
                          type: number
                          example: 0.4754
                        xYac:
                          type: integer
                          example: 1
                        xYacPG:
                          type: number
                          example: 1.0
                        yac:
                          type: integer
                          example: -1
                        yacPG:
                          type: number
                          example: -1.0
                        yacRec:
                          type: number
                          example: -1.0
                        yacoe:
                          type: integer
                          example: -2
                        yacoePG:
                          type: number
                          example: -2.0
                        yds:
                          type: integer
                          example: -9
                        ydsPG:
                          type: number
                          example: -9.0
                        ydsRec:
                          type: number
                          example: -9.0
                        ydsRt:
                          type: number
                          example: -9.0
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/players-offense/receiving/week:
    get:
      operationId: getPlayersOffenseReceivingWeek
      summary: Receiving per week.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedReceiver
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      - *id007
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  receivers:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        avgRtDep:
                          type: number
                          example: -8.0
                        avgSep:
                          type: number
                          example: 0.36497
                        ay:
                          type: number
                          example: -8.44
                        ayPG:
                          type: number
                          example: -8.44
                        ayTgt:
                          type: number
                          example: -8.44
                        catch:
                          type: number
                          example: 1.0
                        croe:
                          type: number
                          example: 0.5246
                        deepTgtPct:
                          type: number
                          example: 0.0
                        displayName:
                          type: string
                          example: Aaron Rodgers
                        drop:
                          type: integer
                          example: 0
                        dropPG:
                          type: integer
                          example: 0
                        dropTgt:
                          type: number
                          example: 0.0
                        epa:
                          type: number
                          example: -1.90366
                        epaPG:
                          type: number
                          example: -1.90366
                        epaRt:
                          type: number
                          example: -1.90366
                        epaTgt:
                          type: number
                          example: -1.90366
                        ezRec:
                          type: integer
                          example: 0
                        ezRecPG:
                          type: integer
                          example: 0
                        ezTgt:
                          type: integer
                          example: 0
                        ezTgtPG:
                          type: integer
                          example: 0
                        fapiGameId:
                          type: string
                          example: f877e690-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 27-22
                        gameId:
                          type: integer
                          example: 2025120701
                        gameResult:
                          type: string
                          example: W
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        intPG:
                          type: integer
                          example: 0
                        isHome:
                          type: boolean
                          example: false
                        jerseyNumber:
                          type: integer
                          example: 8
                        nflId:
                          type: string
                          example: '29851'
                        ngsPosition:
                          type: string
                          example: QB
                        ngsPositionGroup:
                          type: string
                          example: QB
                        opponentTeamId:
                          type: string
                          example: '0325'
                        position:
                          type: string
                          example: QB
                        positionGroup:
                          type: string
                          example: QB
                        qr:
                          type: boolean
                          example: false
                        rating:
                          type: number
                          example: 79.16667
                        rec:
                          type: integer
                          example: 1
                        recPG:
                          type: integer
                          example: 1
                        rt:
                          type: integer
                          example: 1
                        rtPG:
                          type: integer
                          example: 1
                        shortName:
                          type: string
                          example: A.Rodgers
                        td:
                          type: integer
                          example: 0
                        tdPG:
                          type: integer
                          example: 0
                        teamId:
                          type: string
                          example: '3900'
                        tg:
                          type: integer
                          example: 1
                        tgt:
                          type: integer
                          example: 1
                        tgtPG:
                          type: integer
                          example: 1
                        tgtRt:
                          type: number
                          example: 1.0
                        totalTg:
                          type: integer
                          example: 1
                        twPct:
                          type: number
                          example: 1.0
                        weekSlug:
                          type: string
                          example: WEEK_14
                        xCatch:
                          type: number
                          example: 0.4754
                        xYac:
                          type: integer
                          example: 1
                        xYacPG:
                          type: integer
                          example: 1
                        yac:
                          type: integer
                          example: -1
                        yacPG:
                          type: integer
                          example: -1
                        yacRec:
                          type: number
                          example: -1.0
                        yacoe:
                          type: integer
                          example: -2
                        yacoePG:
                          type: integer
                          example: -2
                        yds:
                          type: integer
                          example: -9
                        ydsPG:
                          type: integer
                          example: -9
                        ydsRec:
                          type: number
                          example: -9.0
                        ydsRt:
                          type: number
                          example: -9.0
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/defense/overview/season:
    get:
      operationId: getDefenseOverviewSeason
      summary: Defensive overview for the season, incl. snap counts, pressures and havoc stops.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedDefender
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defenders:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        displayName:
                          type: string
                          example: Calais Campbell
                        gameSnap:
                          type: integer
                          example: 499
                        gp:
                          type: integer
                          example: 17
                        gs:
                          type: integer
                          example: 17
                        hStop:
                          type: integer
                          example: 2
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        jerseyNumber:
                          type: integer
                          example: 93
                        nflId:
                          type: string
                          example: '33131'
                        ngsPosition:
                          type: string
                          example: DT
                        ngsPositionGroup:
                          type: string
                          example: DL
                        passRatingNd:
                          type: number
                          example: 88.54167
                        position:
                          type: string
                          example: DT
                        positionGroup:
                          type: string
                          example: DL
                        pr:
                          type: integer
                          example: 317
                        qbp:
                          type: integer
                          example: 30
                        qbpR:
                          type: number
                          example: 0.09464
                        qd:
                          type: boolean
                          example: false
                        rd:
                          type: integer
                          example: 178
                        recNd:
                          type: integer
                          example: 4
                        recTdNd:
                          type: integer
                          example: 0
                        recYdsNd:
                          type: integer
                          example: 21
                        sack:
                          type: number
                          example: 6.5
                        shortName:
                          type: string
                          example: C.Campbell
                        snap:
                          type: integer
                          example: 499
                        snapPct:
                          type: number
                          example: 0.45738
                        tStop:
                          type: integer
                          example: 32
                        tck:
                          type: integer
                          example: 43
                        teamId:
                          type: string
                          example: '3800'
                        teamSnap:
                          type: integer
                          example: 1091
                        tg:
                          type: integer
                          example: 17
                        tgtNd:
                          type: integer
                          example: 4
                        totalTg:
                          type: integer
                          example: 17
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/defense/overview/week:
    get:
      operationId: getDefenseOverviewWeek
      summary: Defensive overview per week.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedDefender
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      - *id007
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defenders:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        displayName:
                          type: string
                          example: Calais Campbell
                        fapiGameId:
                          type: string
                          example: f591a18c-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 20-13
                        gameId:
                          type: integer
                          example: 2025090705
                        gameResult:
                          type: string
                          example: W
                        gameSnap:
                          type: integer
                          example: 32
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        hStop:
                          type: integer
                          example: 0
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        isHome:
                          type: boolean
                          example: false
                        jerseyNumber:
                          type: integer
                          example: 93
                        nflId:
                          type: string
                          example: '33131'
                        ngsPosition:
                          type: string
                          example: DT
                        ngsPositionGroup:
                          type: string
                          example: DL
                        opponentTeamId:
                          type: string
                          example: '3300'
                        passRatingNd:
                          type: number
                          example: 95.83333
                        position:
                          type: string
                          example: DT
                        positionGroup:
                          type: string
                          example: DL
                        pr:
                          type: integer
                          example: 22
                        qbp:
                          type: integer
                          example: 0
                        qbpR:
                          type: number
                          example: 0.0
                        qd:
                          type: boolean
                          example: false
                        rd:
                          type: integer
                          example: 9
                        recNd:
                          type: integer
                          example: 1
                        recTdNd:
                          type: integer
                          example: 0
                        recYdsNd:
                          type: integer
                          example: 7
                        sack:
                          type: number
                          example: 0.0
                        shortName:
                          type: string
                          example: C.Campbell
                        snap:
                          type: integer
                          example: 32
                        snapPct:
                          type: number
                          example: 0.46377
                        tStop:
                          type: integer
                          example: 2
                        tck:
                          type: integer
                          example: 5
                        teamId:
                          type: string
                          example: '3800'
                        teamSnap:
                          type: integer
                          example: 69
                        tg:
                          type: integer
                          example: 1
                        tgtNd:
                          type: integer
                          example: 1
                        totalTg:
                          type: integer
                          example: 1
                        weekSlug:
                          type: string
                          example: WEEK_1
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/defense/nearest/season:
    get:
      operationId: getDefenseNearestSeason
      summary: Nearest-defender coverage for the season, incl. targets, catch rate and CROE allowed.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedDefender
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defenders:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        bhPct:
                          type: number
                          example: 0.5
                        catchNd:
                          type: number
                          example: 1.0
                        cov:
                          type: integer
                          example: 4
                        covNd:
                          type: integer
                          example: 4
                        croeNd:
                          type: number
                          example: 0.0934
                        displayName:
                          type: string
                          example: Calais Campbell
                        gameSnap:
                          type: integer
                          example: 499
                        gp:
                          type: integer
                          example: 17
                        gs:
                          type: integer
                          example: 17
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        jerseyNumber:
                          type: integer
                          example: 93
                        nflId:
                          type: string
                          example: '33131'
                        ngsPosition:
                          type: string
                          example: DT
                        ngsPositionGroup:
                          type: string
                          example: DL
                        passRatingNd:
                          type: number
                          example: 88.54167
                        position:
                          type: string
                          example: DT
                        positionGroup:
                          type: string
                          example: DL
                        qd:
                          type: boolean
                          example: false
                        recNd:
                          type: integer
                          example: 4
                        recTdNd:
                          type: integer
                          example: 0
                        recYdsNd:
                          type: integer
                          example: 21
                        sep:
                          type: number
                          example: 5.73091
                        shortName:
                          type: string
                          example: C.Campbell
                        teamId:
                          type: string
                          example: '3800'
                        teamSnap:
                          type: integer
                          example: 1091
                        tg:
                          type: integer
                          example: 17
                        tgtEpaNd:
                          type: number
                          example: -0.01738077402114868
                        tgtNd:
                          type: integer
                          example: 4
                        tgtRNd:
                          type: number
                          example: 1.0
                        totalTg:
                          type: integer
                          example: 17
                        twfPct:
                          type: number
                          example: 0.0
                        yacprNd:
                          type: number
                          example: 7.75
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/defense/nearest/week:
    get:
      operationId: getDefenseNearestWeek
      summary: Nearest-defender coverage per week.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      - name: qualifiedDefender
        in: query
        required: false
        schema:
          type: boolean
        description: Restrict to players meeting the league qualifying threshold.
      - *id007
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defenders:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        bhPct:
                          type: number
                          example: 0.0
                        catchNd:
                          type: number
                          example: 1.0
                        cov:
                          type: integer
                          example: 1
                        covNd:
                          type: integer
                          example: 1
                        croeNd:
                          type: number
                          example: 0.0764
                        displayName:
                          type: string
                          example: Calais Campbell
                        fapiGameId:
                          type: string
                          example: f591a18c-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 20-13
                        gameId:
                          type: integer
                          example: 2025090705
                        gameResult:
                          type: string
                          example: W
                        gameSnap:
                          type: integer
                          example: 32
                        gp:
                          type: integer
                          example: 1
                        gs:
                          type: integer
                          example: 1
                        headshot:
                          type: string
                          example: https://static.www.nfl.com/image/upload
                        int:
                          type: integer
                          example: 0
                        isHome:
                          type: boolean
                          example: false
                        jerseyNumber:
                          type: integer
                          example: 93
                        nflId:
                          type: string
                          example: '33131'
                        ngsPosition:
                          type: string
                          example: DT
                        ngsPositionGroup:
                          type: string
                          example: DL
                        opponentTeamId:
                          type: string
                          example: '3300'
                        passRatingNd:
                          type: number
                          example: 95.83333
                        position:
                          type: string
                          example: DT
                        positionGroup:
                          type: string
                          example: DL
                        qd:
                          type: boolean
                          example: false
                        recNd:
                          type: integer
                          example: 1
                        recTdNd:
                          type: integer
                          example: 0
                        recYdsNd:
                          type: integer
                          example: 7
                        sep:
                          type: number
                          example: 6.5611
                        shortName:
                          type: string
                          example: C.Campbell
                        teamId:
                          type: string
                          example: '3800'
                        teamSnap:
                          type: integer
                          example: 69
                        tg:
                          type: integer
                          example: 1
                        tgtEpaNd:
                          type: number
                          example: 0.5571628212928772
                        tgtNd:
                          type: integer
                          example: 1
                        tgtRNd:
                          type: number
                          example: 1.0
                        totalTg:
                          type: integer
                          example: 1
                        twfPct:
                          type: number
                          example: 0.0
                        weekSlug:
                          type: string
                          example: WEEK_1
                        yacprNd:
                          type: number
                          example: 13.0
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/team-offense/overview/season:
    get:
      operationId: getTeamOffenseOverviewSeason
      summary: Team offensive overview for the season, incl. EPA per play, pass and rush splits.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  offense:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        epa:
                          type: number
                          example: -68.33147
                        epaPP:
                          type: number
                          example: -0.0652
                        epaPass:
                          type: number
                          example: -34.72934
                        epaPassPP:
                          type: number
                          example: -0.06082
                        epaRush:
                          type: number
                          example: -33.60213
                        epaRushPP:
                          type: number
                          example: -0.07044
                        gp:
                          type: integer
                          example: 17
                        pass:
                          type: integer
                          example: 571
                        passPct:
                          type: number
                          example: 0.54485
                        passYds:
                          type: integer
                          example: 3523
                        passYpg:
                          type: number
                          example: 207.23529
                        passYpp:
                          type: number
                          example: 6.16988
                        ppg:
                          type: number
                          example: 20.76471
                        qbp:
                          type: integer
                          example: 216
                        qbpPct:
                          type: number
                          example: 0.36923
                        run:
                          type: integer
                          example: 477
                        rushYds:
                          type: integer
                          example: 2138
                        rushYpg:
                          type: number
                          example: 125.76471
                        rushYpp:
                          type: number
                          example: 4.48218
                        ryoe:
                          type: number
                          example: 224.37877
                        sackedYds:
                          type: integer
                          example: 180
                        sackedYpg:
                          type: number
                          example: 10.58824
                        td:
                          type: integer
                          example: 36
                        teamId:
                          type: string
                          example: '0200'
                        total:
                          type: integer
                          example: 1048
                        ttt:
                          type: number
                          example: 2.78376
                        yds:
                          type: integer
                          example: 5661
                        ypg:
                          type: number
                          example: 333.0
                        ypp:
                          type: number
                          example: 5.40172
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/team-offense/overview/week:
    get:
      operationId: getTeamOffenseOverviewWeek
      summary: Team offensive overview per week. `nflId` is NOT a parameter here -- verified live it is
        silently ignored.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  offense:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        epa:
                          type: number
                          example: 2.71908
                        epaPP:
                          type: number
                          example: 0.0383
                        epaPass:
                          type: number
                          example: 9.0108
                        epaPassPP:
                          type: number
                          example: 0.20955
                        epaRush:
                          type: number
                          example: -6.29173
                        epaRushPP:
                          type: number
                          example: -0.2247
                        fapiGameId:
                          type: string
                          example: f5919639-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 20-23
                        gameId:
                          type: integer
                          example: 2025090700
                        gameResult:
                          type: string
                          example: L
                        gp:
                          type: integer
                          example: 1
                        isHome:
                          type: boolean
                          example: true
                        opponentTeamId:
                          type: string
                          example: '4900'
                        pass:
                          type: integer
                          example: 43
                        passPct:
                          type: number
                          example: 0.60563
                        passYds:
                          type: integer
                          example: 289
                        passYpg:
                          type: integer
                          example: 289
                        passYpp:
                          type: number
                          example: 6.72093
                        ppg:
                          type: integer
                          example: 20
                        qbp:
                          type: integer
                          example: 20
                        qbpPct:
                          type: number
                          example: 0.43478
                        run:
                          type: integer
                          example: 28
                        rushYds:
                          type: integer
                          example: 69
                        rushYpg:
                          type: integer
                          example: 69
                        rushYpp:
                          type: number
                          example: 2.46429
                        ryoe:
                          type: number
                          example: -30.68997
                        sackedYds:
                          type: integer
                          example: 9
                        sackedYpg:
                          type: integer
                          example: 9
                        td:
                          type: integer
                          example: 2
                        teamId:
                          type: string
                          example: '0200'
                        total:
                          type: integer
                          example: 71
                        ttt:
                          type: number
                          example: 2.55883
                        weekSlug:
                          type: string
                          example: WEEK_1
                        yds:
                          type: integer
                          example: 358
                        ypg:
                          type: integer
                          example: 358
                        ypp:
                          type: number
                          example: 5.04225
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/team-defense/overview/season:
    get:
      operationId: getTeamDefenseOverviewSeason
      summary: Team defensive overview for the season, incl. EPA allowed per play and takeaways.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defense:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        defensiveTouchdown:
                          type: integer
                          example: 1
                        epa:
                          type: number
                          example: -44.49506
                        epaPP:
                          type: number
                          example: -0.0423
                        epaPass:
                          type: number
                          example: -47.97872
                        epaPassPP:
                          type: number
                          example: -0.08187
                        epaRush:
                          type: number
                          example: 3.48366
                        epaRushPP:
                          type: number
                          example: 0.00748
                        forcedFumble:
                          type: integer
                          example: 12
                        fumbleRecovered:
                          type: integer
                          example: 5
                        gp:
                          type: integer
                          example: 17
                        interception:
                          type: integer
                          example: 16
                        pass:
                          type: integer
                          example: 586
                        passPct:
                          type: number
                          example: 0.55703
                        passTd:
                          type: integer
                          example: 27
                        passYds:
                          type: integer
                          example: 3407
                        passYpg:
                          type: number
                          example: 200.41176
                        passYpp:
                          type: number
                          example: 5.81399
                        ppg:
                          type: number
                          example: 23.58824
                        qbp:
                          type: integer
                          example: 230
                        qbpPct:
                          type: number
                          example: 0.368
                        run:
                          type: integer
                          example: 466
                        rushTd:
                          type: integer
                          example: 12
                        rushYds:
                          type: integer
                          example: 2146
                        rushYpg:
                          type: number
                          example: 126.23529
                        rushYpp:
                          type: number
                          example: 4.60515
                        ryoe:
                          type: number
                          example: 263.07455
                        sackedYds:
                          type: integer
                          example: 366
                        sackedYpg:
                          type: number
                          example: 21.52941
                        td:
                          type: integer
                          example: 39
                        teamId:
                          type: string
                          example: '0200'
                        total:
                          type: integer
                          example: 1052
                        totalTakeaways:
                          type: integer
                          example: 21
                        ttt:
                          type: number
                          example: 2.85148
                        yds:
                          type: integer
                          example: 5553
                        ypg:
                          type: number
                          example: 326.64706
                        ypp:
                          type: number
                          example: 5.27852
        '401':
          description: Token expired, not user-bound, or lacks an active NFL_PLUS_* plan.
        '403':
          description: Same as 401 -- both surface the auth failure on this host.
        '500':
          description: Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`)
            -- the body's `statusText` usually names the failed request.
  /api/secured/stats/team-defense/overview/week:
    get:
      operationId: getTeamDefenseOverviewWeek
      summary: Team defensive overview per week. `nflId` is NOT a parameter here -- verified live it is
        silently ignored.
      tags:
      - secured
      security:
      - bearerAuth: []
      parameters:
      - *id001
      - *id002
      - *id003
      - *id004
      - *id005
      - *id006
      responses:
        '200':
          description: Envelope with the requested params echoed back plus the record collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching rows, independent of what this page returned -- the free
                      truncation detector.
                  defense:
                    type: array
                    items:
                      type: object
                      description: Column descriptions are deliberately omitted -- no authoritative label
                        source was reachable for these Next Gen Stats field names. See sdv-internal-refs'
                        nfl/nflpro/catalogs/nfl_pro_secured_returns.md for the full provenance note. Do
                        not fill these in by inference.
                      properties:
                        defensiveTouchdown:
                          type: integer
                          example: 0
                        epa:
                          type: number
                          example: 4.09039
                        epaPP:
                          type: number
                          example: 0.07304
                        epaPass:
                          type: number
                          example: 4.0928
                        epaPassPP:
                          type: number
                          example: 0.12402
                        epaRush:
                          type: number
                          example: -0.00241
                        epaRushPP:
                          type: number
                          example: -0.0001
                        fapiGameId:
                          type: string
                          example: f5919639-311e-11f0-b670-ae1250fadad1
                        finalScore:
                          type: string
                          example: 20-23
                        forcedFumble:
                          type: integer
                          example: 0
                        fumbleRecovered:
                          type: integer
                          example: 0
                        gameId:
                          type: integer
                          example: 2025090700
                        gameResult:
                          type: string
                          example: L
                        gp:
                          type: integer
                          example: 1
                        interception:
                          type: integer
                          example: 0
                        isHome:
                          type: boolean
                          example: true
[...]
