{
  "openapi": "3.1.0",
  "info": {
    "title": "NFL Pro secured API (pro.nfl.com) \u2014 unofficial",
    "version": "0.1.0-rev2026.09",
    "summary": "Reverse-engineered spec for the Next Gen Stats data behind pro.nfl.com's NFL+ Premium paywall.",
    "description": "Unofficial OpenAPI description of the **`pro.nfl.com/api/secured/*`** surface -- the Next Gen Stats data that `nextgenstats.nfl.com` stopped serving (see the sibling `nextgenstats/` spec for that dead host's history). NGS moved behind an NFL+ Premium subscription.\n\n**Auth.** A client-credentials token is NOT sufficient -- it mints successfully but is not user-bound, and every `/api/secured/*` call 401s. A user-bound token is obtained only by completing the real `id.nfl.com` login (a 3-step flow: email, a passkey-sign-in *offer* at `/account/sign-in-biometric` with no password field, then password at `/account/sign-in-password`) and confirming the resulting token's `plans` claim carries an ACTIVE `NFL_PLUS_*` entry -- an anonymous token has claims byte-identical to a UID-minted one otherwise. There is no token-mint endpoint modeled here since the login is a browser flow, not a REST operation.\n\n**Gotchas verified by measurement:** an unsupported query param returns HTTP 200 with an EMPTY body (no error envelope) rather than a 400; `week`/`game` are PATH scopes, not query params; responses truncate silently at the page `limit` with the envelope's own `total` as the only truncation signal.\n\nField-level descriptions are intentionally omitted -- see `catalogs/nfl_pro_secured_returns.md` for why, and the identified `load_nfl_nextgen_stats` cross-walk that could recover some of them.",
    "x-nfl-schema-source": "live-captured-2026-09-03 (NFL+ Premium account, season 2024 REG)",
    "contact": {
      "name": "sdv-internal-refs"
    },
    "license": {
      "name": "Reference only"
    }
  },
  "servers": [
    {
      "url": "https://pro.nfl.com",
      "description": "NFL Pro data host"
    }
  ],
  "tags": [
    {
      "name": "secured",
      "description": "/api/secured/* Next Gen Stats resources (NFL+ Premium)."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/secured/stats/players-offense/passing/season": {
      "get": {
        "operationId": "getPlayersOffensePassingSeason",
        "summary": "Quarterback passing for the season, incl. Next Gen time-to-throw, aggressiveness and CPOE.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedPasser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "passers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "att": {
                            "type": "integer",
                            "example": 584
                          },
                          "attPG": {
                            "type": "number",
                            "example": 34.35294
                          },
                          "avgSep": {
                            "type": "number",
                            "example": 3.72766
                          },
                          "avgTTP": {
                            "type": "number",
                            "example": 2.69506
                          },
                          "avgTTS": {
                            "type": "number",
                            "example": 4.45105
                          },
                          "avgTTT": {
                            "type": "number",
                            "example": 2.68814
                          },
                          "ay": {
                            "type": "number",
                            "example": 1662.33999
                          },
                          "ayAtt": {
                            "type": "number",
                            "example": 6.72435
                          },
                          "blitzR": {
                            "type": "number",
                            "example": 0.25
                          },
                          "cmp": {
                            "type": "integer",
                            "example": 368
                          },
                          "cmpPG": {
                            "type": "number",
                            "example": 21.64706
                          },
                          "cmpPct": {
                            "type": "number",
                            "example": 0.63014
                          },
                          "cpoe": {
                            "type": "number",
                            "example": -0.04713
                          },
                          "db": {
                            "type": "integer",
                            "example": 640
                          },
                          "dbPG": {
                            "type": "number",
                            "example": 37.64706
                          },
                          "deepAttPct": {
                            "type": "number",
                            "example": 0.07363
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "drop": {
                            "type": "integer",
                            "example": 24
                          },
                          "dropPG": {
                            "type": "number",
                            "example": 1.41176
                          },
                          "dropR": {
                            "type": "number",
                            "example": 0.0411
                          },
                          "epa": {
                            "type": "number",
                            "example": -41.28122
                          },
                          "epaDb": {
                            "type": "number",
                            "example": -0.0645
                          },
                          "epaPG": {
                            "type": "number",
                            "example": -2.42831
                          },
                          "gp": {
                            "type": "integer",
                            "example": 17
                          },
                          "gs": {
                            "type": "integer",
                            "example": 17
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "int": {
                            "type": "integer",
                            "example": 11
                          },
                          "intPG": {
                            "type": "number",
                            "example": 0.64706
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "paDbPct": {
                            "type": "number",
                            "example": 0.23594
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qbp": {
                            "type": "integer",
                            "example": 169
                          },
                          "qbpPG": {
                            "type": "number",
                            "example": 9.94118
                          },
                          "qbpR": {
                            "type": "number",
                            "example": 0.26406
                          },
                          "qp": {
                            "type": "boolean",
                            "example": true
                          },
                          "rating": {
                            "type": "number",
                            "example": 90.53225
                          },
                          "sack": {
                            "type": "integer",
                            "example": 40
                          },
                          "sackPG": {
                            "type": "number",
                            "example": 2.35294
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "td": {
                            "type": "integer",
                            "example": 28
                          },
                          "tdPG": {
                            "type": "number",
                            "example": 1.64706
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 17
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 17
                          },
                          "twAttPG": {
                            "type": "number",
                            "example": 4.82353
                          },
                          "twAttPct": {
                            "type": "number",
                            "example": 0.14041
                          },
                          "xCmp": {
                            "type": "number",
                            "example": 0.67727
                          },
                          "xYac": {
                            "type": "number",
                            "example": 2055.36557
                          },
                          "yac": {
                            "type": "number",
                            "example": 2295.91
                          },
                          "yacPct": {
                            "type": "number",
                            "example": 0.58915
                          },
                          "yds": {
                            "type": "integer",
                            "example": 3897
                          },
                          "ydsPG": {
                            "type": "number",
                            "example": 229.23529
                          },
                          "ypa": {
                            "type": "number",
                            "example": 6.67295
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/players-offense/passing/week": {
      "get": {
        "operationId": "getPlayersOffensePassingWeek",
        "summary": "Quarterback passing per week.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedPasser",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          },
          {
            "name": "nflId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional player filter on the player-scoped week routes (omit for the whole league-week table). Verified live to be silently accepted-and-ignored on the team-scoped team-offense/team-defense week routes -- NOT exposed as a parameter there."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "passers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "att": {
                            "type": "integer",
                            "example": 21
                          },
                          "attPG": {
                            "type": "integer",
                            "example": 21
                          },
                          "avgSep": {
                            "type": "number",
                            "example": 3.46254
                          },
                          "avgTTP": {
                            "type": "number",
                            "example": 2.9
                          },
                          "avgTTS": {
                            "type": "number",
                            "example": 4.169
                          },
                          "avgTTT": {
                            "type": "number",
                            "example": 2.47319
                          },
                          "ay": {
                            "type": "number",
                            "example": 61.04
                          },
                          "ayAtt": {
                            "type": "number",
                            "example": 6.34333
                          },
                          "blitzR": {
                            "type": "number",
                            "example": 0.09091
                          },
                          "cmp": {
                            "type": "integer",
                            "example": 13
                          },
                          "cmpPG": {
                            "type": "integer",
                            "example": 13
                          },
                          "cmpPct": {
                            "type": "number",
                            "example": 0.61905
                          },
                          "cpoe": {
                            "type": "number",
                            "example": -0.08873
                          },
                          "db": {
                            "type": "integer",
                            "example": 22
                          },
                          "dbPG": {
                            "type": "integer",
                            "example": 22
                          },
                          "deepAttPct": {
                            "type": "number",
                            "example": 0.09524
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "drop": {
                            "type": "integer",
                            "example": 2
                          },
                          "dropPG": {
                            "type": "integer",
                            "example": 2
                          },
                          "dropR": {
                            "type": "number",
                            "example": 0.09524
                          },
                          "epa": {
                            "type": "number",
                            "example": -5.49929
                          },
                          "epaDb": {
                            "type": "number",
                            "example": -0.24997
                          },
                          "epaPG": {
                            "type": "number",
                            "example": -5.49929
                          },
                          "fapiGameId": {
                            "type": "string",
                            "example": "7d404133-1312-11ef-afd1-646009f18b2e"
                          },
                          "finalScore": {
                            "type": "string",
                            "example": "19-32"
                          },
                          "gameId": {
                            "type": "integer",
                            "example": 2024090900
                          },
                          "gameResult": {
                            "type": "string",
                            "example": "L"
                          },
                          "gp": {
                            "type": "integer",
                            "example": 1
                          },
                          "gs": {
                            "type": "integer",
                            "example": 1
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "int": {
                            "type": "integer",
                            "example": 1
                          },
                          "intPG": {
                            "type": "integer",
                            "example": 1
                          },
                          "isHome": {
                            "type": "boolean",
                            "example": false
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "opponentTeamId": {
                            "type": "string",
                            "example": "4500"
                          },
                          "paDbPct": {
                            "type": "number",
                            "example": 0.22727
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qbp": {
                            "type": "integer",
                            "example": 6
                          },
                          "qbpPG": {
                            "type": "integer",
                            "example": 6
                          },
                          "qbpR": {
                            "type": "number",
                            "example": 0.27273
                          },
                          "qp": {
                            "type": "boolean",
                            "example": true
                          },
                          "rating": {
                            "type": "number",
                            "example": 82.8373
                          },
                          "sack": {
                            "type": "integer",
                            "example": 1
                          },
                          "sackPG": {
                            "type": "integer",
                            "example": 1
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "td": {
                            "type": "integer",
                            "example": 1
                          },
                          "tdPG": {
                            "type": "integer",
                            "example": 1
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 1
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 1
                          },
                          "twAttPG": {
                            "type": "integer",
                            "example": 3
                          },
                          "twAttPct": {
                            "type": "number",
                            "example": 0.14286
                          },
                          "weekSlug": {
                            "type": "string",
                            "example": "WEEK_1"
                          },
                          "xCmp": {
                            "type": "number",
                            "example": 0.70778
                          },
                          "xYac": {
                            "type": "number",
                            "example": 94.89277
                          },
                          "yac": {
                            "type": "number",
                            "example": 105.31
                          },
                          "yacPct": {
                            "type": "number",
                            "example": 0.6306
                          },
                          "yds": {
                            "type": "integer",
                            "example": 167
                          },
                          "ydsPG": {
                            "type": "integer",
                            "example": 167
                          },
                          "ypa": {
                            "type": "number",
                            "example": 7.95238
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/players-offense/rushing/season": {
      "get": {
        "operationId": "getPlayersOffenseRushingSeason",
        "summary": "Rushing for the season, incl. Next Gen efficiency, yards over expected and defenders-in-box.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedRusher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "rushers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "att": {
                            "type": "integer",
                            "example": 22
                          },
                          "attPG": {
                            "type": "number",
                            "example": 2.44444
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "eff": {
                            "type": "number",
                            "example": 22.66409
                          },
                          "epa": {
                            "type": "number",
                            "example": 6.05151
                          },
                          "epaAtt": {
                            "type": "number",
                            "example": 0.27507
                          },
                          "epaPG": {
                            "type": "number",
                            "example": 0.67239
                          },
                          "fum": {
                            "type": "integer",
                            "example": 0
                          },
                          "fumPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "gp": {
                            "type": "integer",
                            "example": 9
                          },
                          "gs": {
                            "type": "integer",
                            "example": 9
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "inTPct": {
                            "type": "number",
                            "example": 0.09091
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "lost": {
                            "type": "integer",
                            "example": 0
                          },
                          "lostPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qr": {
                            "type": "boolean",
                            "example": false
                          },
                          "rush10PYds": {
                            "type": "integer",
                            "example": 4
                          },
                          "rush10PYdsPG": {
                            "type": "number",
                            "example": 0.44444
                          },
                          "rush15PMph": {
                            "type": "integer",
                            "example": 12
                          },
                          "rush15PMphPG": {
                            "type": "number",
                            "example": 1.33333
                          },
                          "rush20PMph": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush20PMphPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ryoe": {
                            "type": "number",
                            "example": -11.19731
                          },
                          "ryoeAtt": {
                            "type": "number",
                            "example": -0.69983
                          },
                          "ryoePG": {
                            "type": "number",
                            "example": -1.24415
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "stBoxPct": {
                            "type": "number",
                            "example": 0.04545
                          },
                          "success": {
                            "type": "number",
                            "example": 0.36364
                          },
                          "td": {
                            "type": "integer",
                            "example": 0
                          },
                          "tdPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 9
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 17
                          },
                          "underPct": {
                            "type": "number",
                            "example": 0.04545
                          },
                          "xRy": {
                            "type": "number",
                            "example": 115.19731
                          },
                          "xRyPG": {
                            "type": "number",
                            "example": 12.7997
                          },
                          "xYpc": {
                            "type": "number",
                            "example": 7.19983
                          },
                          "yaco": {
                            "type": "number",
                            "example": 7.11
                          },
                          "yacoAtt": {
                            "type": "number",
                            "example": 0.32318
                          },
                          "yacoPG": {
                            "type": "number",
                            "example": 0.79
                          },
                          "ybco": {
                            "type": "number",
                            "example": 103.89
                          },
                          "ybcoAtt": {
                            "type": "number",
                            "example": 4.72227
                          },
                          "ybcoPG": {
                            "type": "number",
                            "example": 11.54333
                          },
                          "yds": {
                            "type": "integer",
                            "example": 107
                          },
                          "ydsPG": {
                            "type": "number",
                            "example": 11.88889
                          },
                          "ypc": {
                            "type": "number",
                            "example": 4.86364
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/players-offense/rushing/week": {
      "get": {
        "operationId": "getPlayersOffenseRushingWeek",
        "summary": "Rushing per week.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedRusher",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          },
          {
            "name": "nflId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional player filter on the player-scoped week routes (omit for the whole league-week table). Verified live to be silently accepted-and-ignored on the team-scoped team-offense/team-defense week routes -- NOT exposed as a parameter there."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "rushers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "att": {
                            "type": "integer",
                            "example": 1
                          },
                          "attPG": {
                            "type": "integer",
                            "example": 1
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "eff": {
                            "type": "number",
                            "example": 0.3
                          },
                          "epa": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epaAtt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epaPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "fapiGameId": {
                            "type": "string",
                            "example": "7d404133-1312-11ef-afd1-646009f18b2e"
                          },
                          "finalScore": {
                            "type": "string",
                            "example": "19-32"
                          },
                          "fum": {
                            "type": "integer",
                            "example": 0
                          },
                          "fumPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "gameId": {
                            "type": "integer",
                            "example": 2024090900
                          },
                          "gameResult": {
                            "type": "string",
                            "example": "L"
                          },
                          "gp": {
                            "type": "integer",
                            "example": 1
                          },
                          "gs": {
                            "type": "integer",
                            "example": 1
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "inTPct": {
                            "type": "number",
                            "example": 0.0
                          },
                          "isHome": {
                            "type": "boolean",
                            "example": false
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "lost": {
                            "type": "integer",
                            "example": 0
                          },
                          "lostPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "opponentTeamId": {
                            "type": "string",
                            "example": "4500"
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qr": {
                            "type": "boolean",
                            "example": false
                          },
                          "rush10PYds": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush10PYdsPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush15PMph": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush15PMphPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush20PMph": {
                            "type": "integer",
                            "example": 0
                          },
                          "rush20PMphPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "ryoe": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ryoeAtt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ryoePG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "stBoxPct": {
                            "type": "integer",
                            "example": 0
                          },
                          "success": {
                            "type": "number",
                            "example": 0.0
                          },
                          "td": {
                            "type": "integer",
                            "example": 0
                          },
                          "tdPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 1
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 1
                          },
                          "underPct": {
                            "type": "number",
                            "example": 0.0
                          },
                          "weekSlug": {
                            "type": "string",
                            "example": "WEEK_1"
                          },
                          "xRy": {
                            "type": "number",
                            "example": 0.0
                          },
                          "xRyPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "xYpc": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yaco": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yacoAtt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yacoPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ybco": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ybcoAtt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ybcoPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yds": {
                            "type": "integer",
                            "example": -1
                          },
                          "ydsPG": {
                            "type": "integer",
                            "example": -1
                          },
                          "ypc": {
                            "type": "number",
                            "example": -1.0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/players-offense/receiving/season": {
      "get": {
        "operationId": "getPlayersOffenseReceivingSeason",
        "summary": "Receiving for the season, incl. Next Gen separation, cushion and catch rate over expected.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedReceiver",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "receivers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "avgRtDep": {
                            "type": "number",
                            "example": 0.0
                          },
                          "avgSep": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ay": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ayPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ayTgt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "catch": {
                            "type": "number",
                            "example": 0.0
                          },
                          "croe": {
                            "type": "number",
                            "example": 0.0
                          },
                          "deepTgtPct": {
                            "type": "number",
                            "example": 0.0
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "drop": {
                            "type": "integer",
                            "example": 0
                          },
                          "dropPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "dropTgt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epa": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epaPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epaRt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "epaTgt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ezRec": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezRecPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ezTgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezTgtPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "gp": {
                            "type": "integer",
                            "example": 1
                          },
                          "gs": {
                            "type": "integer",
                            "example": 1
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "int": {
                            "type": "integer",
                            "example": 0
                          },
                          "intPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qr": {
                            "type": "boolean",
                            "example": false
                          },
                          "rating": {
                            "type": "number",
                            "example": 0.0
                          },
                          "rec": {
                            "type": "integer",
                            "example": 0
                          },
                          "recPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "rt": {
                            "type": "integer",
                            "example": 1
                          },
                          "rtPG": {
                            "type": "number",
                            "example": 1.0
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "td": {
                            "type": "integer",
                            "example": 0
                          },
                          "tdPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 1
                          },
                          "tgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "tgtPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "tgtRt": {
                            "type": "number",
                            "example": 0.0
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 17
                          },
                          "twPct": {
                            "type": "number",
                            "example": 0.0
                          },
                          "xCatch": {
                            "type": "number",
                            "example": 0.0
                          },
                          "xYac": {
                            "type": "integer",
                            "example": 0
                          },
                          "xYacPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yac": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yacRec": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yacoe": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacoePG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "yds": {
                            "type": "integer",
                            "example": 0
                          },
                          "ydsPG": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ydsRec": {
                            "type": "number",
                            "example": 0.0
                          },
                          "ydsRt": {
                            "type": "number",
                            "example": 0.0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/players-offense/receiving/week": {
      "get": {
        "operationId": "getPlayersOffenseReceivingWeek",
        "summary": "Receiving per week.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedReceiver",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          },
          {
            "name": "nflId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional player filter on the player-scoped week routes (omit for the whole league-week table). Verified live to be silently accepted-and-ignored on the team-scoped team-offense/team-defense week routes -- NOT exposed as a parameter there."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "receivers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "avgRtDep": {
                            "type": "integer",
                            "example": 0
                          },
                          "avgSep": {
                            "type": "integer",
                            "example": 0
                          },
                          "ay": {
                            "type": "integer",
                            "example": 0
                          },
                          "ayPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "ayTgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "catch": {
                            "type": "integer",
                            "example": 0
                          },
                          "croe": {
                            "type": "integer",
                            "example": 0
                          },
                          "deepTgtPct": {
                            "type": "integer",
                            "example": 0
                          },
                          "displayName": {
                            "type": "string",
                            "example": "Aaron Rodgers"
                          },
                          "drop": {
                            "type": "integer",
                            "example": 0
                          },
                          "dropPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "dropTgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "epa": {
                            "type": "integer",
                            "example": 0
                          },
                          "epaPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "epaRt": {
                            "type": "integer",
                            "example": 0
                          },
                          "epaTgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezRec": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezRecPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezTgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "ezTgtPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "fapiGameId": {
                            "type": "string",
                            "example": "45c26800-1313-11ef-afd1-646009f18b2e"
                          },
                          "finalScore": {
                            "type": "string",
                            "example": "32-20"
                          },
                          "gameId": {
                            "type": "integer",
                            "example": 2025010511
                          },
                          "gameResult": {
                            "type": "string",
                            "example": "W"
                          },
                          "gp": {
                            "type": "integer",
                            "example": 1
                          },
                          "gs": {
                            "type": "integer",
                            "example": 1
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "int": {
                            "type": "integer",
                            "example": 0
                          },
                          "intPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "isHome": {
                            "type": "boolean",
                            "example": true
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 8
                          },
                          "nflId": {
                            "type": "string",
                            "example": "29851"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "QB"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "opponentTeamId": {
                            "type": "string",
                            "example": "2700"
                          },
                          "position": {
                            "type": "string",
                            "example": "QB"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "QB"
                          },
                          "qr": {
                            "type": "boolean",
                            "example": false
                          },
                          "rating": {
                            "type": "integer",
                            "example": 0
                          },
                          "rec": {
                            "type": "integer",
                            "example": 0
                          },
                          "recPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "rt": {
                            "type": "integer",
                            "example": 1
                          },
                          "rtPG": {
                            "type": "integer",
                            "example": 1
                          },
                          "shortName": {
                            "type": "string",
                            "example": "A.Rodgers"
                          },
                          "td": {
                            "type": "integer",
                            "example": 0
                          },
                          "tdPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "teamId": {
                            "type": "string",
                            "example": "3430"
                          },
                          "tg": {
                            "type": "integer",
                            "example": 1
                          },
                          "tgt": {
                            "type": "integer",
                            "example": 0
                          },
                          "tgtPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "tgtRt": {
                            "type": "integer",
                            "example": 0
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 1
                          },
                          "twPct": {
                            "type": "integer",
                            "example": 0
                          },
                          "weekSlug": {
                            "type": "string",
                            "example": "WEEK_18"
                          },
                          "xCatch": {
                            "type": "integer",
                            "example": 0
                          },
                          "xYac": {
                            "type": "integer",
                            "example": 0
                          },
                          "xYacPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "yac": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacRec": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacoe": {
                            "type": "integer",
                            "example": 0
                          },
                          "yacoePG": {
                            "type": "integer",
                            "example": 0
                          },
                          "yds": {
                            "type": "integer",
                            "example": 0
                          },
                          "ydsPG": {
                            "type": "integer",
                            "example": 0
                          },
                          "ydsRec": {
                            "type": "integer",
                            "example": 0
                          },
                          "ydsRt": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/defense/overview/season": {
      "get": {
        "operationId": "getDefenseOverviewSeason",
        "summary": "Defensive overview for the season, incl. snap counts, pressures and havoc stops.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedDefender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "defenders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "example": "Calais Campbell"
                          },
                          "gameSnap": {
                            "type": "integer",
                            "example": 587
                          },
                          "gp": {
                            "type": "integer",
                            "example": 17
                          },
                          "gs": {
                            "type": "integer",
                            "example": 17
                          },
                          "hStop": {
                            "type": "integer",
                            "example": 1
                          },
                          "headshot": {
                            "type": "string",
                            "example": "https://static.www.nfl.com/image/uplo"
                          },
                          "int": {
                            "type": "integer",
                            "example": 0
                          },
                          "jerseyNumber": {
                            "type": "integer",
                            "example": 93
                          },
                          "nflId": {
                            "type": "string",
                            "example": "33131"
                          },
                          "ngsPosition": {
                            "type": "string",
                            "example": "DT"
                          },
                          "ngsPositionGroup": {
                            "type": "string",
                            "example": "DL"
                          },
                          "passRatingNd": {
                            "type": "number",
                            "example": 127.31481
                          },
                          "position": {
                            "type": "string",
                            "example": "DE"
                          },
                          "positionGroup": {
                            "type": "string",
                            "example": "DL"
                          },
                          "pr": {
                            "type": "integer",
                            "example": 378
                          },
                          "qbp": {
                            "type": "integer",
                            "example": 37
                          },
                          "qbpR": {
                            "type": "number",
                            "example": 0.09788
                          },
                          "qd": {
                            "type": "boolean",
                            "example": true
                          },
                          "rd": {
                            "type": "integer",
                            "example": 193
                          },
                          "recNd": {
                            "type": "integer",
                            "example": 7
                          },
                          "recTdNd": {
                            "type": "integer",
                            "example": 1
                          },
                          "recYdsNd": {
                            "type": "integer",
                            "example": 51
                          },
                          "sack": {
                            "type": "number",
                            "example": 5.0
                          },
                          "shortName": {
                            "type": "string",
                            "example": "C.Campbell"
                          },
                          "snap": {
                            "type": "integer",
                            "example": 587
                          },
                          "snapPct": {
                            "type": "number",
                            "example": 0.58004
                          },
                          "tStop": {
                            "type": "integer",
                            "example": 44
                          },
                          "tck": {
                            "type": "integer",
                            "example": 52
                          },
                          "teamId": {
                            "type": "string",
                            "example": "2700"
                          },
                          "teamSnap": {
                            "type": "integer",
                            "example": 1012
                          },
                          "tg": {
                            "type": "integer",
                            "example": 17
                          },
                          "tgtNd": {
                            "type": "integer",
                            "example": 9
                          },
                          "totalTg": {
                            "type": "integer",
                            "example": 17
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token expired, not user-bound, or lacks an active NFL_PLUS_* plan."
          },
          "403": {
            "description": "Same as 401 -- both surface the auth failure on this host."
          },
          "500": {
            "description": "Frequently a missing required parameter (see `fantasy/game`'s `positionGroup`) -- the body's `statusText` usually names the failed request."
          }
        }
      }
    },
    "/api/secured/stats/defense/overview/week": {
      "get": {
        "operationId": "getDefenseOverviewWeek",
        "summary": "Defensive overview per week.",
        "tags": [
          "secured"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2024
            },
            "description": "Season, as the STARTING year (2024 = the 2024-25 NFL season)."
          },
          {
            "name": "seasonType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PRE",
                "REG",
                "POST"
              ],
              "default": "REG"
            },
            "description": "Season type code (string): PRE, REG, or POST -- not ESPN's numeric 1/2/3."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Page size. Responses truncate silently at this many rows with no error and no indication in the body -- the envelope's own `total` is the only signal a caller has that more rows exist. Page with `offset` until the accumulated row count reaches `total`."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Zero-based row offset for pagination."
          },
          {
            "name": "sortKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by, e.g. `epa`."
          },
          {
            "name": "sortValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "description": "Sort direction."
          },
          {
            "name": "qualifiedDefender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Restrict to players meeting the league qualifying threshold."
          },
          {
            "name": "nflId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional player filter on the player-scoped week routes (omit for the whole league-week table). Verified live to be silently accepted-and-ignored on the team-scoped team-offense/team-defense week routes -- NOT exposed as a parameter there."
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope with the requested params echoed back plus the record collection.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Total matching rows, independent of what this page returned -- the free truncation detector."
                    },
                    "defenders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Column descriptions are deliberately omitted -- no authoritative label source was reachable for these Next Gen Stats field names. See the companion catalogs/nfl_pro_secured_returns.md for the full provenance note. Do not fill these in by inference.",
                        "properties": {
                          "displayName": {
                            "type": "string",
[...]
