# GENERATED by gen_openapi.js — do not hand-edit; edit the generator.
openapi: 3.0.1
info:
  title: On3 Public Recruit Database
  description: "Reconstructed OpenAPI spec for On3's public Recruit Database (RDB) — the recruiting/rankings/NIL/transfer-portal/draft data surface behind on3.com/db. Routes, HTTP methods, response types and query params for 43 endpoints come from the AUTHORITATIVE swagger-typescript-api Api class (on3_ts_api.ts); the remaining 39 call-site-only paths are heuristically mapped (see x-source / x-confidence per operation). Schemas union both the Api class and the older public-contracts.ts. Validated 3.0 (openapi-spec-validator) + live 2026-07-08. Sibling of the 247Sports RDB (../247sports/)."
  version: v1
  x-basis: on3_ts_api.ts (authoritative routes) + public-contracts.ts (schemas) + call-site + live probe
servers:
  -
    url: "https://api.on3.com/public"
paths:
  "/rdb/v1/commits/organizations/{orgKey}":
    get:
      tags:
        - Commits
      operationId: "rdb/v1/commits/organizations/{orgKey}"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: orgKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitResponse"
  "/rdb/v1/commits/organizations/{orgKey}/latest-commits":
    get:
      tags:
        - Commits
      operationId: "rdb/v1/commits/organizations/{orgKey}/latest-commits"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: orgKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitResponsePaged"
  "/rdb/v1/player/{personKey}/database-updates":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/database-updates"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DatabaseUpdateResponse"
      x-live-validated: true
  /rdb/v1/drafts:
    get:
      tags:
        - Drafts
      operationId: rdb/v1/drafts
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: filter by sport
        -
          name: round
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: filter by round
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: filter by year
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerDraftResponse"
      x-live-validated: true
      x-live-note: empty for the probed sport/year; shape unconfirmed
  /rdb/v1/drafts-by-stars:
    get:
      tags:
        - Drafts
      operationId: rdb/v1/drafts-by-stars
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: "@min 1999 @max 4294967295"
        -
          name: yearSpan
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: "@min 1 @max 5"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftByStarsResponsePagedData"
      x-live-validated: true
  /rdb/v1/filters/teams:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/teams
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: groupBy
          in: query
          required: false
          schema:
            type: boolean
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TeamConferenceFilter"
  /rdb/v1/filters/years:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/years
      x-source: on3_ts_api
      x-confidence: high
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
  /rdb/v1/filters/sports:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/sports
      x-source: on3_ts_api
      x-confidence: high
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SportFilter"
  /rdb/v1/filters/positions:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/positions
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: positionType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/PositionType"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PositionFilter"
  /rdb/v1/filters/conferences:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/conferences
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConferenceFilter"
  /rdb/v1/filters/status:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/status
      x-source: on3_ts_api
      x-confidence: high
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      x-live-validated: true
  /rdb/v1/filters/draft-rounds:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/draft-rounds
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      x-live-validated: true
  "/rdb/v1/player/{personKey}/images":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/images"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageResponsePagedData"
      x-live-validated: true
  "/rdb/v1/team-ranking/{sport}-{year}/consensus-team-rankings":
    get:
      tags:
        - TeamRanking
      operationId: "rdb/v1/team-ranking/{sport}-{year}/consensus-team-rankings"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sport
          in: path
          required: true
          schema:
            type: string
        -
          name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationRankingResponseRankingResponseRelatedPagedData"
  "/rdb/v1/team-ranking/{sport}-{year}/team-rankings":
    get:
      tags:
        - TeamRanking
      operationId: "rdb/v1/team-ranking/{sport}-{year}/team-rankings"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sport
          in: path
          required: true
          schema:
            type: string
        -
          name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationRankingResponseRankingResponseRelatedPagedData"
      x-live-validated: true
      x-live-note: "slug token is the sport NAME (football-2025), not FB/1"
  "/rdb/v1/team-ranking/{sport}-{year}/bluechips-team-rankings":
    get:
      tags:
        - TeamRanking
      operationId: "rdb/v1/team-ranking/{sport}-{year}/bluechips-team-rankings"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sport
          in: path
          required: true
          schema:
            type: string
        -
          name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationBlueChipsRankingResponseRankingResponseRelatedPagedData"
  "/rdb/v1/team-ranking/organizations/{orgKey}/summary":
    get:
      tags:
        - TeamRanking
      operationId: "rdb/v1/team-ranking/organizations/{orgKey}/summary"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: orgKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationRankingSummaryResponse"
  "/rdb/v1/people/{personKey}/social":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/social"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PersonInfluencerResponse"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/social-post-summary":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/social-post-summary"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SocialPostSummaryResponsePagedData"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/latest-valuation":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/latest-valuation"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonValuationResponse"
      x-live-validated: true
      x-live-note: live adds whisper/whisperChange/tags/rosterValue beyond PersonValuationResponse
  "/rdb/v1/people/{personKey}/valuation-growth":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/valuation-growth"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValuationGrowthResponse"
      x-live-validated: true
  /rdb/v1/nil-rankings:
    get:
      tags:
        - Nil
      operationId: rdb/v1/nil-rankings
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: gender
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Gender"
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: orgType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrganizationType"
        -
          name: positionAbbr
          in: query
          required: false
          schema:
            type: string
        -
          name: stateAbbr
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NilRankingResponseRelatedNilRankingResponseRelatedPagedData"
      x-live-validated: true
  /rdb/v1/nil-100:
    get:
      tags:
        - Nil
      operationId: rdb/v1/nil-100
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NilHundredResponse"
  /rdb/v2/nil-100:
    get:
      tags:
        - ''
      operationId: rdb/v2/nil-100
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Recruitment year
        -
          name: orgKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Optional Orginization Key
        -
          name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: "Pagination limit, highest and default is 100"
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Optionl Pagination page default 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NilHundredResponsePagedData"
      x-live-validated: true
  "/rdb/v1/player/{personKey}/profile":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/profile"
      x-source: live
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/On3PlayerProfileLive"
      x-live-validated: true
      x-live-note: "47-col live shape (oracleKey/personSportKey/tier/badge/ncaaId/visibility) — superset of PlayerProfileResponse; live returns a single object, not an array"
  "/rdb/v1/player/{playerKey}/visit-center":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{playerKey}/visit-center"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: playerKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VisitCenterResponse"
  "/rdb/v1/player/{playerKey}/team-targets":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{playerKey}/team-targets"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: playerKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamTargetResponsePagedData"
  "/rdb/v1/player/{playerKey}/organizations/{orgKey}":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{playerKey}/organizations/{orgKey}"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: playerKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: orgKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileOrgResponse"
  "/rdb/v1/player/{personKey}/rankings":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/rankings"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRatingResponse"
      x-live-validated: true
  "/rdb/v1/player/{personKey}/all-rankings":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/all-rankings"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerRatingAllResponse"
      x-live-validated: true
  /rdb/v1/players/industry-comparision:
    get:
      tags:
        - Players
      operationId: rdb/v1/players/industry-comparision
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Player sport key
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Recruitment year
        -
          name: stateAbbr
          in: query
          required: false
          schema:
            type: string
        -
          name: positionAbbr
          in: query
          required: false
          schema:
            type: string
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Optional Pagination page default 1
        -
          name: sortByIndustry
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/SortByIndustry"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRatingAllAndPersonResponsePagedData"
      x-live-validated: true
  "/rdb/v1/recruitments/{recKey}/profile":
    get:
      tags:
        - Recruitments
      operationId: "rdb/v1/recruitments/{recKey}/profile"
      x-source: live
      x-confidence: high
      parameters:
        -
          name: recKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/On3RecruitmentProfileLive"
      x-live-validated: true
      x-live-note: live shape is a profile object — the Api class type PlayerRatingResponse is wrong
  "/rdb/v1/person-sport/{psKey}/profile-recruit":
    get:
      tags:
        - PersonSport
      operationId: "rdb/v1/person-sport/{psKey}/profile-recruit"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: psKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRatingResponse"
  "/rdb/v1/person/{personKey}/recruitment-evaluations":
    get:
      tags:
        - Recruitment
      operationId: "rdb/v1/person/{personKey}/recruitment-evaluations"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecruitmentEvaluationResponsePagedData"
      x-live-validated: true
  "/rdb/v1/person/{personKey}/primary-recruitment-evaluation":
    get:
      tags:
        - Recruitment
      operationId: "rdb/v1/person/{personKey}/primary-recruitment-evaluation"
      x-source: on3_ts_api
      x-confidence: low
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecruitmentEvaluationResponse"
      x-live-status: 204
      x-live-note: empty body (no primary evaluation for the probed recruit)
  "/rdb/v1/recruitment/{recruitmentKey}/recruitment-evaluations":
    get:
      tags:
        - Recruitment
      operationId: "rdb/v1/recruitment/{recruitmentKey}/recruitment-evaluations"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: recruitmentKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecruitmentEvaluationResponsePagedData"
      x-live-validated: true
  "/rdb/v1/recruitment/{recruitmentKey}/primary-recruitment-evaluation":
    get:
      tags:
        - Recruitment
      operationId: "rdb/v1/recruitment/{recruitmentKey}/primary-recruitment-evaluation"
      x-source: on3_ts_api
      x-confidence: low
      parameters:
        -
          name: recruitmentKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecruitmentEvaluationResponse"
      x-live-status: 204
      x-live-note: empty body (no primary evaluation for the probed recruit)
  "/rdb/v1/recruitments/{recKey}/rpm-summary":
    get:
      tags:
        - Recruitments
      operationId: "rdb/v1/recruitments/{recKey}/rpm-summary"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: recKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RpmSummaryResponse"
      x-live-validated: true
  "/rdb/v1/recruitments/{recKey}/rpm-picks":
    get:
      tags:
        - Recruitments
      operationId: "rdb/v1/recruitments/{recKey}/rpm-picks"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: recKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RpmPicks"
      x-live-validated: true
  /rdb/v1/transfers/best-available:
    get:
      tags:
        - Transfers
      operationId: rdb/v1/transfers/best-available
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: orgKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: positionAbbr
          in: query
          required: false
          schema:
            type: string
        -
          name: status
          in: query
          required: false
          schema:
            type: string
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: cutoff
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: orderBy
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BestAvailableTransfersOrder"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerTransferRelatedTransferResponseRelatedPagedData"
      x-live-validated: true
  /rdb/v1/transfers/latest:
    get:
      tags:
        - Transfers
      operationId: rdb/v1/transfers/latest
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: orgKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: positionAbbr
          in: query
          required: false
          schema:
            type: string
        -
          name: status
          in: query
          required: false
          schema:
            type: string
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerTransferRelatedTransferResponseRelatedPagedData"
      x-live-validated: true
  "/rdb/v1/player/{personKey}/videos":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/videos"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoResponsePagedData"
      x-live-validated: true
  "/rdb/v1/videos/{videoKey}":
    get:
      tags:
        - Videos
      operationId: "rdb/v1/videos/{videoKey}"
      x-source: on3_ts_api
      x-confidence: high
      parameters:
        -
          name: videoKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoResponse"
  "/rdb/v1/coaches/{personKey}/history":
    get:
      tags:
        - Coaches
      operationId: "rdb/v1/coaches/{personKey}/history"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachingHistoryResponsePagedData"
  "/rdb/v1/coaches/{personKey}/profile":
    get:
      tags:
        - Coaches
      operationId: "rdb/v1/coaches/{personKey}/profile"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoachResponse"
  /rdb/v1/collective-groups:
    get:
      tags:
        - CollectiveGroups
      operationId: rdb/v1/collective-groups
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: organizationKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: query
          in: query
          required: false
          schema:
            type: string
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectiveGroupResponsePagedData"
      x-live-validated: true
  "/rdb/v1/collective-groups/{key}":
    get:
      tags:
        - CollectiveGroups
      operationId: "rdb/v1/collective-groups/{key}"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: key
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectiveGroupResponse"
  "/rdb/v1/collective-groups/{key}/deals":
    get:
      tags:
        - CollectiveGroups
      operationId: "rdb/v1/collective-groups/{key}/deals"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: key
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicPlayerDealResponseCollectiveGroupResponseRelatedPagedData"
  /rdb/v1/commits/latest:
    get:
      tags:
        - Commits
      operationId: rdb/v1/commits/latest
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerListBasePagedData"
      x-live-validated: true
  /rdb/v1/draft-organization-rank:
    get:
      tags:
        - Drafts
      operationId: rdb/v1/draft-organization-rank
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RankedOrganizationsDraftResponsePagedData"
  /rdb/v1/draft-pick-organization-rank:
    get:
      tags:
        - Drafts
      operationId: rdb/v1/draft-pick-organization-rank
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDraftPickRankedResponsePagedData"
  /rdb/v1/drafts-by-stars-summary:
    get:
      tags:
        - Drafts
      operationId: rdb/v1/drafts-by-stars-summary
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftByStarsSummaryResponse"
  "/rdb/v1/drafts/{orgKey}/players":
    get:
      tags:
        - Drafts
      operationId: "rdb/v1/drafts/{orgKey}/players"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: orgKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerDraftResponse"
  /rdb/v1/filters/interest:
    get:
      tags:
        - Filters
      operationId: rdb/v1/filters/interest
      x-source: call-site
      x-confidence: low
      summary: Recruiting-interest filter options
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Int32StringKeyValuePair"
      x-live-status: 404
      x-live-note: HTTP 404 — endpoint removed or renamed server-side (2026-07-08)
  /rdb/v1/nil-compliances:
    get:
      tags:
        - Nil
      operationId: rdb/v1/nil-compliances
      x-source: call-site
      x-confidence: low
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NilComplianceResponsePagedData"
      x-live-status: 400
      x-live-note: HTTP 400 with page/pageSize — needs different params
  /rdb/v1/nil-compliances/state:
    get:
      tags:
        - Nil
      operationId: rdb/v1/nil-compliances/state
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: stateKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NilComplianceResponse"
  "/rdb/v1/organizations/{organizationKey}/drafted-players":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/drafted-players"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlayerDraftResponse"
  "/rdb/v1/organizations/{organizationKey}/drafts-by-stars-summary":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/drafts-by-stars-summary"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgDraftByStarsSummaryResponse"
  "/rdb/v1/organizations/{organizationKey}/draft-class-by-state":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/draft-class-by-state"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftPickStateResponsePagedData"
  "/rdb/v1/organizations/{organizationKey}/draft-class-by-year":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/draft-class-by-year"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftPickYearResponsePagedData"
  "/rdb/v1/organizations/{organizationKey}/draft-count-by-stars":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/draft-count-by-stars"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftPickStarsResponse"
  "/rdb/v1/organizations/{organizationKey}/draft-count-by-year":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/draft-count-by-year"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDraftYearsResponsePagedData"
  "/rdb/v1/organizations/{organizationKey}/draft-ranking-summary":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/draft-ranking-summary"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDraftRankingSummaryResponse"
  "/rdb/v1/organizations/{organizationKey}/roster":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/roster"
      x-source: live
      x-confidence: high
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/On3RosterEntryLive"
                    nullable: true
      x-live-validated: true
      x-live-note: per-org-season roster row (psoKey/rpm/industryComparison) — richer than PlayerListBase
  "/rdb/v1/organizations/{organizationKey}/roster-header":
    get:
      tags:
        - Organizations
      operationId: "rdb/v1/organizations/{organizationKey}/roster-header"
      x-source: live
      x-confidence: high
      parameters:
        -
          name: organizationKey
          in: path
          required: true
          schema:
            type: integer
            format: int32
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/On3RosterHeaderLive"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/combine-measurements":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/combine-measurements"
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PublicCombineMeasurementResponseRecord"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/measurements":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/measurements"
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PublicMeasurementResponseRecord"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/measurements/averages":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/measurements/averages"
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicMeasurementAveragesResponseRecordMeasurementComparisonRelatedResponseRelatedPagedData"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/person-connections":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/person-connections"
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonConnectionFullResponsePagedData"
      x-live-validated: true
  "/rdb/v1/people/{personKey}/track-and-field-measurements":
    get:
      tags:
        - People
      operationId: "rdb/v1/people/{personKey}/track-and-field-measurements"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PublicMeasurementResponseRecord"
  "/rdb/v1/person-connections/{connectionKey}":
    get:
      tags:
        - PersonConnections
      operationId: "rdb/v1/person-connections/{connectionKey}"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: connectionKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonConnectionResponse"
  /rdb/v1/person-sport-rankings:
    get:
      tags:
        - PersonSport
      operationId: rdb/v1/person-sport-rankings
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRatingAllAndPersonResponsePagedData"
  /rdb/v1/player/look-up-mapping:
    get:
      tags:
        - Player
      operationId: rdb/v1/player/look-up-mapping
      x-source: call-site
      x-confidence: low
      parameters:
        -
          name: query
          in: query
          required: false
          schema:
            type: string
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/KeyUrlSlug"
      x-live-status: 400
      x-live-note: HTTP 400 with query= — needs different params (untested combination)
  /rdb/v1/player/verified:
    get:
      tags:
        - Player
      operationId: rdb/v1/player/verified
      x-source: live
      x-confidence: high
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/On3PlayerProfileLive"
                    nullable: true
      x-live-validated: true
      x-live-note: "same 47-col live shape as player/{k}/profile"
  "/rdb/v1/player/{personKey}/organizations":
    get:
      tags:
        - Player
      operationId: "rdb/v1/player/{personKey}/organizations"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: personKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerOrgResponse"
  /rdb/v1/players/industry-comparision-list:
    get:
      tags:
        - Players
      operationId: rdb/v1/players/industry-comparision-list
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRatingAllAndPersonResponsePagedData"
  /rdb/v1/predictions:
    get:
      tags:
        - Predictions
      operationId: rdb/v1/predictions
      x-source: call-site
      x-confidence: low
      summary: Prediction feed (schema not exported by the Api class)
      parameters:
        -
          name: orgKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-live-status: 404
      x-live-note: HTTP 404 as probed — removed/renamed; use recruitments/latest-rpm-picks for the prediction feed
  "/rdb/v1/predictions/{userKey}":
    get:
      tags:
        - Predictions
      operationId: "rdb/v1/predictions/{userKey}"
      x-source: call-site
      x-confidence: low
      summary: Expert prediction accuracy + feed (see PredictionAccuracies)
      parameters:
        -
          name: userKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /rdb/v1/quotes:
    get:
      tags:
        - Quotes
      operationId: rdb/v1/quotes
      x-source: call-site
      x-confidence: high
      parameters:
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponsePagedData"
      x-live-validated: true
  "/rdb/v1/quotes/{key}":
    get:
      tags:
        - Quotes
      operationId: "rdb/v1/quotes/{key}"
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: key
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
  /rdb/v1/recruitments/latest-rpm-picks:
    get:
      tags:
        - Recruitments
      operationId: rdb/v1/recruitments/latest-rpm-picks
      x-source: live
      x-confidence: high
      summary: "Latest RPM (prediction) picks feed — paged {list,pagination}"
      parameters:
        -
          name: orgKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/On3RpmPickEntryLive"
                    nullable: true
      x-live-validated: true
  /rdb/v1/team-ranking:
    get:
      tags:
        - TeamRanking
      operationId: rdb/v1/team-ranking
      x-source: call-site
      x-confidence: medium
      parameters:
        -
          name: sportKey
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: year
          in: query
          required: false
          schema:
            type: integer
            format: int32
        -
          name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 1
            nullable: true
        -
          name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationRankingResponseRankingResponseRelatedPagedData"
components:
  schemas:
    AssetClasses:
      type: string
      enum:
        - Unknown
        - Image
        - Video
    BestAvailableTransfersOrder:
      type: string
      enum:
        - Default
        - NilValue
    Category:
      type: string
      enum:
        - Undetermined
        - Highlights
        - Training
        - Experts
        - Conversations
        - Camp
    CommitsFilterBase:
      type: string
      enum:
        - Commits
        - Offers
        - Visits
        - Decommits
    DatabaseUpdateType:
      type: string
      enum:
        - Commitment
        - Decommitment
        - OfficialVisit
        - UnofficialVisit
        - VerifiedHeightOrWeight
        - RankingsMove
        - HighSchoolTransfer
        - Reclassification
        - NIL
        - CoachInHome
        - TopSchools
        - NewVideo
        - Signed
        - Enrolled
    DraftFilterType:
      type: string
      enum:
        - State
        - Position
        - Stars
        - TopPicks
    EventClassification:
      type: string
      enum:
        - None
        - TrackAndField
        - Combine
    Gender:
      type: string
      enum:
        - Unknown
        - Womens
        - Mens
    MeasurementRecord:
      type: string
      enum:
        - None
        - PersonalRecord
        - StateRecord
        - WorldRecord
    NilStatuses:
      type: string
      enum:
        - Normal
        - Pending
        - Suspended
        - Private
        - Final
    OrganizationType:
      type: string
      enum:
        - Unknown
        - HighSchool
        - JuniorCollege
        - College
        - Professional
        - PrepSchool
        - Developmental
    PersonMeasurementRequestType:
      type: string
      enum:
        - Default
        - TrackAndField
    PlayerRatingChange:
      type: string
      enum:
        - Decrease
        - None
        - Increase
    PopulationDiscriminator:
      type: string
      enum:
        - Country
        - State
        - City
    PositionType:
      type: string
      enum:
        - Player
        - Coach
        - Operations
    QuoteCategory:
      type: string
      enum:
        - Inspirational
        - Motivational
        - Funny
        - Leadership
        - Success
    RankingStaleness:
      type: string
      enum:
        - None
        - On300
        - Consensus
    RankingStatus:
      type: string
      enum:
        - Draft
        - Processing
        - Ready
        - Scheduled
        - Publishing
        - Published
    RankingType:
      type: string
      enum:
        - Player
        - AllTimePlayer
        - TransferPortal
        - AllTimeTransferPortal
        - Draft
        - AllTimeDraft
        - Organization
        - AllTimeOrganization
        - Roster
        - AllTimeRoster
        - TeamTransferPortal
        - AllTimeTeamTransferPortal
    RpmType:
      type: string
      enum:
        - Pick
        - ConfidenceChange
        - NewLeader
        - PercentChange
    ScoutingCategory:
      type: string
      enum:
        - Camp
        - Game
        - SevenVsSeven
        - AllAmericanPractice
        - Summary
        - RankingEvaluation
    SocialType:
      type: string
      enum:
        - Twitter
        - Instagram
        - TikTok
        - Facebook
        - Youtube
    SortByIndustry:
      type: string
      enum:
        - On3Consensus
        - On3
        - TwentyFourSevenSports
        - Espn
        - Rivals
    SortDirection:
      type: string
      enum:
        - ASC
        - DESC
    SortMeasurementType:
      type: string
      enum:
        - Latest
        - Lowest
        - Highest
    TeamRankingSort:
      type: string
      enum:
        - Score
        - AverageRating
        - TotalCommits
        - FiveStar
        - FourStar
        - ThreeStar
    TransferEligibility:
      type: string
      enum:
        - Immediate
        - Tbd
        - PendingAppeal
        - SittingOne
    ContentType:
      type: string
      enum:
        - application/json
        - multipart/form-data
        - application/x-www-form-urlencoded
    AgentResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
    AssetResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
          description: Key for the asset
        domainOverride:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        sourceOverride:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
        category:
          $ref: "#/components/schemas/Category"
        altText:
          type: string
          nullable: true
        height:
          type: integer
          format: int32
          nullable: true
          description: Height of the asset
        width:
          type: integer
          format: int32
          nullable: true
          description: Width of the asset
        assetType:
          $ref: "#/components/schemas/AssetClasses"
        fileSystem:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        thumbnail:
          type: string
          nullable: true
        duration:
          type: integer
          format: int32
        mimeType:
          type: string
          nullable: true
    AttributeResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        abbr:
          type: string
          nullable: true
    CityResponseRecord:
      type: object
      properties:
        key:
          type: integer
          format: int32
        name:
          type: string
        state:
          $ref: "#/components/schemas/StateResponseRecord"
        country:
          $ref: "#/components/schemas/CountryResponseRecord"
    Coach:
      type: object
      properties:
        type:
          type: string
          nullable: true
        key:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        slug:
          type: string
          nullable: true
    CoachingHistoryResponse:
      type: object
      properties:
        startPsoKey:
          type: integer
          format: int64
        latestPsoKey:
          type: integer
          format: int64
        startYear:
          type: integer
          format: int32
        latestYear:
          type: integer
          format: int32
        fired:
          type: boolean
        promoted:
          type: boolean
        resigned:
          type: boolean
        endOfTeam:
          type: boolean
        deceased:
          type: boolean
        isPresent:
          type: boolean
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        position:
          $ref: "#/components/schemas/PositionResponse"
    CoachingHistoryResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/CoachingHistoryResponse"
          nullable: true
    CoachingVisitResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
          nullable: true
        dateOccurred:
          type: string
          format: date-time
        dateOccurredTimestamp:
          type: integer
          format: int64
        coaches:
          type: array
          items:
            $ref: "#/components/schemas/CoachVisitedResponse"
    CoachResponse:
      type: object
      properties:
        salary:
          type: number
          format: double
          nullable: true
        age:
          type: integer
          format: int32
          nullable: true
        highSchoolName:
          type: string
          nullable: true
        homeTownName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        almaMater:
          $ref: "#/components/schemas/OrganizationResponse"
        almaMaterClassYear:
          type: integer
          format: int32
          nullable: true
        degree:
          type: string
          nullable: true
        key:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        knownAsName:
          type: string
          nullable: true
        fullName:
          type: string
        slug:
          type: string
        defaultAsset:
          $ref: "#/components/schemas/AssetResponse"
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        primaryPosition:
          $ref: "#/components/schemas/AttributeResponse"
        orgSeasonCount:
          type: integer
          format: int32
          nullable: true
        yearsActive:
          type: integer
          format: int32
          nullable: true
    CoachVisitedResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        coachKey:
          type: integer
          format: int64
        name:
          type: string
        coachName:
          type: string
        fullName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        slug:
          type: string
        position:
          $ref: "#/components/schemas/PositionResponse"
    CollectiveGroupFounderResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        collectiveGroupKey:
          type: integer
          format: int64
        order:
          type: integer
          format: int32
          nullable: true
        name:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        twitterHandle:
          type: string
          nullable: true
        instagramHandle:
          type: string
          nullable: true
        tikTokHandle:
          type: string
          nullable: true
        linkedInHandle:
          type: string
          nullable: true
        personKey:
          type: integer
          format: int64
          nullable: true
        personSlug:
          type: string
          nullable: true
      required:
        - key
        - collectiveGroupKey
    CollectiveGroupResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
        defaultAssetKey:
          type: integer
          format: int64
          nullable: true
        defaultAsset:
          $ref: "#/components/schemas/ImageResponseRecord"
        socialAssetKey:
          type: integer
          format: int64
          nullable: true
        socialAsset:
          $ref: "#/components/schemas/ImageResponseRecord"
        organizationKey:
          type: integer
          format: int32
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        launchDate:
          type: string
          format: date-time
          nullable: true
        organizationType:
          type: string
          nullable: true
        twitterHandle:
          type: string
          nullable: true
        instagramHandle:
          type: string
          nullable: true
        tikTokHandle:
          type: string
          nullable: true
        youtubeHandle:
          type: string
          nullable: true
        linkedInHandle:
          type: string
          nullable: true
        websiteName:
          type: string
          nullable: true
        websiteUrl:
          type: string
          nullable: true
        missionStatement:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        annualGoalAmount:
          type: number
          format: double
          nullable: true
        confirmedRaisedAmount:
          type: number
          format: double
          nullable: true
        mergedIntoGroupKey:
          type: integer
          format: int64
          nullable: true
        mergedIntoGroup:
          $ref: "#/components/schemas/CollectiveGroupSimpleResponse"
        slug:
          type: string
        founders:
          type: array
          items:
            $ref: "#/components/schemas/CollectiveGroupFounderResponse"
        sports:
          type: array
          items:
            $ref: "#/components/schemas/CollectiveGroupSportResponse"
      required:
        - key
        - name
        - slug
    CollectiveGroupResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/CollectiveGroupResponse"
          nullable: true
    CollectiveGroupSimpleResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
        defaultAssetKey:
          type: integer
          format: int64
          nullable: true
        defaultAsset:
          $ref: "#/components/schemas/ImageResponseRecord"
        slug:
          type: string
      required:
        - key
        - name
        - slug
    CollectiveGroupSportResponse:
      type: object
      properties:
        sportKey:
          type: integer
          format: int64
        name:
          type: string
        primary:
          type: boolean
      required:
        - sportKey
        - name
        - primary
    CommitResponse:
      type: object
      properties:
        statusType:
          type: string
          nullable: true
        commits:
          type: array
          items:
            $ref: "#/components/schemas/Commits"
          nullable: true
    CommitResponsePaged:
      type: object
      properties:
        statusType:
          type: string
          nullable: true
        commits:
          $ref: "#/components/schemas/CommitsPagedData"
    Commits:
      type: object
      properties:
        order:
          type: integer
          format: int32
        type:
          type: string
          nullable: true
        count:
          type: integer
          format: int32
        players:
          type: array
          items:
            $ref: "#/components/schemas/PlayerListBase"
          nullable: true
    CommitsPagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/Commits"
          nullable: true
    ConferenceFilter:
      type: object
      properties:
        key:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        abbreviation:
          type: string
          nullable: true
    ConferenceResponse:
      type: object
      properties:
        key:
          type: integer
          format: int32
        name:
          type: string
        abbreviation:
          type: string
          nullable: true
        assetKey:
          type: integer
          format: int64
          nullable: true
        isPowerFive:
          type: boolean
    Country:
      type: object
      properties:
        key:
          type: integer
          format: int32
        abbreviation:
          type: string
        name:
          type: string
      required:
        - abbreviation
        - name
    CountryResponseRecord:
      type: object
      properties:
        key:
          type: integer
          format: int32
        name:
          type: string
        abbreviation:
          type: string
    DatabaseUpdateResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        type:
          $ref: "#/components/schemas/DatabaseUpdateType"
        text:
          type: string
          nullable: true
        replacementText:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
        dateAdded:
          type: integer
          format: int64
        dateOccurred:
          type: integer
          format: int64
        objectKey:
          type: integer
          format: int64
          nullable: true
        sportKey:
          type: integer
          format: int32
          nullable: true
        personKey:
          type: integer
          format: int64
          nullable: true
        organizationKey:
          type: integer
          format: int32
          nullable: true
    DraftByOrgResponse:
      type: object
      properties:
        group:
          type: string
        players:
          type: array
          items:
            $ref: "#/components/schemas/DraftPlayerResponse"
    DraftByStarsResponse:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/StateResponseRecord"
        blueChipPercent:
          type: number
          format: double
        populationPercent:
          type: number
          format: double
        talentRatio:
          type: number
          format: double
        fiveStars:
          type: integer
          format: int32
        fourStars:
          type: integer
          format: int32
        threeStars:
          type: integer
          format: int32
        zeroStars:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
    DraftByStarsResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/DraftByStarsResponse"
          nullable: true
    DraftByStarsSummaryItemResponse:
      type: object
      properties:
        drafted:
          type: integer
          format: int32
        recruited:
          type: integer
          format: int32
        draftedPercent:
          type: number
          format: double
        recruitedPercent:
          type: number
          format: double
        draftRate:
          type: number
          format: double
        draftRatio:
          type: number
          format: double
    DraftByStarsSummaryResponse:
      type: object
      properties:
        fiveStars:
          $ref: "#/components/schemas/DraftByStarsSummaryItemResponse"
        fourStars:
          $ref: "#/components/schemas/DraftByStarsSummaryItemResponse"
        threeStars:
          $ref: "#/components/schemas/DraftByStarsSummaryItemResponse"
        zeroStars:
          $ref: "#/components/schemas/DraftByStarsSummaryItemResponse"
        totalDrafted:
          type: integer
          format: int32
        totalRecruited:
          type: integer
          format: int32
    DraftPickStarsResponse:
      type: object
      properties:
        fiveStars:
          type: integer
          format: int32
        fourStars:
          type: integer
          format: int32
        threeStars:
          type: integer
          format: int32
        zeroStars:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
    DraftPickStateResponse:
      type: object
      properties:
        state:
          $ref: "#/components/schemas/StateResponseRecord"
        count:
          type: integer
          format: int32
    DraftPickStateResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/DraftPickStateResponse"
          nullable: true
    DraftPickYearResponse:
      type: object
      properties:
        year:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
    DraftPickYearResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/DraftPickYearResponse"
          nullable: true
    DraftPlayerResponse:
      type: object
      properties:
        player:
          $ref: "#/components/schemas/PlayerResponse"
        rating:
          $ref: "#/components/schemas/RatingResponse"
        status:
          $ref: "#/components/schemas/RecStatusResponse"
        nilValue:
          type: integer
          format: int64
          nullable: true
        key:
          type: integer
          format: int64
        round:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
        sportKey:
          type: integer
          format: int32
        overallPick:
          type: integer
          format: int32
          nullable: true
        pick:
          type: integer
          format: int32
          nullable: true
        compensatory:
          type: boolean
        supplementary:
          type: boolean
        traded:
          type: boolean
        forfeited:
          type: boolean
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        collegeOrganization:
          $ref: "#/components/schemas/OrganizationResponse"
        rosterRating:
          $ref: "#/components/schemas/RatingResponse"
        industryComparison:
          type: array
          items:
            $ref: "#/components/schemas/PlayerRatingAllResponse"
          nullable: true
    DraftSimpleResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        round:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
        sportKey:
          type: integer
          format: int32
        overallPick:
          type: integer
          format: int32
          nullable: true
        pick:
          type: integer
          format: int32
          nullable: true
        compensatory:
          type: boolean
        supplementary:
          type: boolean
        traded:
          type: boolean
        forfeited:
          type: boolean
        organization:
          $ref: "#/components/schemas/OrganizationResponse"
        collegeOrganization:
          $ref: "#/components/schemas/OrganizationResponse"
        rosterRating:
          $ref: "#/components/schemas/RatingResponse"
        industryComparison:
          type: array
          items:
            $ref: "#/components/schemas/PlayerRatingAllResponse"
          nullable: true
    EventResponseRecord:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
          nullable: true
        sportKey:
          type: integer
          format: int32
          nullable: true
        sport:
          $ref: "#/components/schemas/SportResponseRecord"
        cityKey:
          type: integer
          format: int32
          nullable: true
        city:
          $ref: "#/components/schemas/CityResponseRecord"
        startDate:
          type: string
          format: date-time
          nullable: true
        endDate:
          type: string
          format: date-time
          nullable: true
        classification:
          $ref: "#/components/schemas/EventClassification"
    ImageResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
          description: Key for the asset
        domainOverride:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        sourceOverride:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
        category:
          $ref: "#/components/schemas/Category"
        altText:
          type: string
          nullable: true
        height:
          type: integer
          format: int32
          nullable: true
          description: Height of the asset
        width:
          type: integer
          format: int32
          nullable: true
          description: Width of the asset
        assetType:
          $ref: "#/components/schemas/AssetClasses"
        fileSystem:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        thumbnail:
          type: string
          nullable: true
        duration:
          type: integer
          format: int32
        mimeType:
          type: string
          nullable: true
    ImageResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/ImageResponse"
          nullable: true
    ImageResponseRecord:
      type: object
      properties:
        key:
          type: integer
          format: int64
          description: Key of term
        assetType:
          $ref: "#/components/schemas/AssetClasses"
        source:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        caption:
          type: string
          nullable: true
        category:
          $ref: "#/components/schemas/Category"
        altText:
          type: string
          nullable: true
        height:
          type: integer
          format: int32
          nullable: true
          description: Height of image
        width:
          type: integer
          format: int32
          nullable: true
          description: Width of image
        fileSystem:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        thumbnail:
          type: string
          nullable: true
        duration:
          type: integer
          format: int32
        mimeType:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        domainOverride:
          type: string
          nullable: true
        sourceOverride:
          type: string
          nullable: true
    IndustryComparisonResponse:
      type: object
      properties:
        person:
          $ref: "#/components/schemas/PlayerResponse"
        nilValue:
          type: integer
          format: int64
          nullable: true
        ratings:
          type: array
          items:
            $ref: "#/components/schemas/PlayerRatingAllResponse"
        status:
          $ref: "#/components/schemas/RecStatusResponse"
        rpm:
          type: array
          items:
            $ref: "#/components/schemas/RpmPercentResponse"
          nullable: true
        rating:
          $ref: "#/components/schemas/RatingResponse"
    IndustryComparisonResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/IndustryComparisonResponse"
          nullable: true
    Int32StringKeyValuePair:
      type: object
      properties:
        key:
          type: integer
          format: int32
        value:
          type: string
    KeyUrlBase:
      type: object
      properties:
        key:
          type: integer
          format: int64
        url:
          type: string
          nullable: true
        slug:
          type: string
          nullable: true
        fullName:
          type: string
    KeyUrlSlug:
      type: object
      properties:
        name:
          type: string
          nullable: true
        key:
          type: integer
          format: int64
        url:
          type: string
          nullable: true
        slug:
          type: string
          nullable: true
        fullName:
          type: string
    MeasurementComparisonRelatedResponse:
      type: object
      properties:
        numberOfYears:
          type: integer
          format: int32
        position:
          $ref: "#/components/schemas/PositionResponse"
    MeasurementTypeResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        measurementTypeKey:
          type: integer
          format: int64
        type:
          type: string
          nullable: true
        sort:
          $ref: "#/components/schemas/SortMeasurementType"
        units:
          type: string
          nullable: true
    NilCompanyResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        name:
          type: string
          nullable: true
        assetUrl:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        details:
          type: string
          nullable: true
    NilComplianceResponse:
      type: object
      properties:
        key:
          type: integer
          format: int64
        organizationType:
          $ref: "#/components/schemas/OrganizationType"
        stateKey:
          type: integer
          format: int32
        state:
          $ref: "#/components/schemas/StateResponseRecord"
        monetizationAllowed:
          type: boolean
          nullable: true
        governingRuleLabel:
          type: string
          nullable: true
        governingRuleUrl:
          type: string
          nullable: true
        currentRules:
          type: string
          nullable: true
    NilComplianceResponsePagedData:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        list:
          type: array
          items:
            $ref: "#/components/schemas/NilComplianceResponse"
          nullable: true
    NilHundredResponse:
      type: object
      properties:
        person:
          $ref: "#/components/schemas/NilPlayerListResponse"
        valuation:
          $ref: "#/components/schemas/PersonValuationResponse"
    NilPlayerListResponse:
      type: object
      properties:
        rating:
          $ref: "#/components/schemas/RatingExtendedResponse"
        division:
          type: string
[...]
