openapi: 3.1.0
info:
  title: PFF Premium Stats API (unofficial, reverse-engineered)
  version: "0.1.0-re.2026-07-08"
  description: >
    Reverse-engineered map of https://premium.pff.com/api/v1/ observed via authenticated
    browser traffic + the frontend JS route table. NOT an official PFF spec. Auth is by
    session COOKIE (no Authorization header): Clerk '__session' JWT (~60s TTL, silently
    refreshed by the Clerk '__refresh_*'/'__client_uat' cookies) plus the Phoenix-signed
    '_premium_key' cookie carrying the premium entitlement (permissions.premium=[full]).
    Every stat endpoint is {prefix}{report} where prefix selects the view:
    facet=leaderboard/team/game, player=player-detail.
servers:
  - url: https://premium.pff.com
security:
  - clerkSession: []
    premiumKey: []
components:
  securitySchemes:
    clerkSession: { type: apiKey, in: cookie, name: __session }
    premiumKey:   { type: apiKey, in: cookie, name: _premium_key }
  parameters:
    league:     { name: league,   in: query, required: true,  schema: { type: string, enum: [nfl, ncaa, aaf, ufl] } }
    season:     { name: season,   in: query, required: true,  schema: { type: integer }, description: "e.g. nfl 1994-2025, ncaa 2008-2025" }
    week:       { name: week,     in: query, required: true,  schema: { type: string }, description: "comma-separated week IDs, e.g. 1,2,...,18,28,29,30,32 (post-season weeks are 28-32)" }
    weekSingle: { name: week,     in: query, required: false, schema: { type: integer }, description: "single week id (games endpoint)" }
    playerId:   { name: player_id, in: query, required: true, schema: { type: integer } }
    franchiseId: { name: franchiseId, in: query, required: false, schema: { type: integer }, description: "team filter on facet reports (By Team view)" }
    gameId:     { name: gameId,   in: query, required: false, schema: { type: integer }, description: "game filter on facet reports (By Game view); requires league+season" }
    division:   { name: division, in: query, required: false, schema: { type: string }, description: "ncaa conference/division filter (comma-separated)" }
    career:     { name: career,   in: query, required: false, schema: { type: boolean }, description: "player-detail: career totals instead of a single season" }
    name:       { name: name,     in: query, required: false, schema: { type: string }, description: "player search by name" }
    id:         { name: id,       in: query, required: false, schema: { type: integer }, description: "player lookup by id" }
  schemas:
    Facet_defense_coverage:
      type: object
      properties:
        "coverage_summary":
          type: array
          items:
            type: object
            properties:
              "targets": { type: number }
              "yards_per_coverage_snap": { type: number }
              "draft_season": { type: number }
              "missed_tackles": { type: number }
              "catch_rate": { type: string, nullable: true }
              "team_name": { type: string }
              "tackles": { type: number }
              "coverage_percent": { type: number }
              "jersey_number": { type: string }
              "dropped_ints": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "grades_tackle": { type: number }
              "yards": { type: number }
              "receptions": { type: number }
              "forced_incompletion_rate": { type: string, nullable: true }
              "grades_coverage_defense": { type: number }
              "interceptions": { type: number }
              "snap_counts_coverage": { type: number }
              "grades_run_defense": { type: number }
              "snap_counts_pass_play": { type: number }
              "penalties": { type: number }
              "forced_incompletes": { type: number }
              "team": { type: string }
              "coverage_snaps_per_target": { type: string, nullable: true }
              "stops": { type: number }
              "declined_penalties": { type: number }
              "position": { type: string }
              "longest": { type: string, nullable: true }
              "missed_tackle_rate": { type: number }
              "grades_defense": { type: number }
              "yards_per_reception": { type: string, nullable: true }
              "grades_defense_penalty": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "yards_after_catch": { type: number }
              "avg_depth_of_target": { type: string, nullable: true }
              "pass_break_ups": { type: number }
              "qb_rating_against": { type: number }
              "coverage_snaps_per_reception": { type: string, nullable: true }
              "assists": { type: number }
              "grades_pass_rush_defense": { type: number }
              "player_id": { type: number }
              "touchdowns": { type: number }
    Facet_defense_coverage_matchup:
      type: object
      properties:
        "receiving_coverage_stats": { type: object, description: "matrix: defenders, receivers, versus" }
    Facet_defense_coverage_scheme:
      type: object
      properties:
        "coverage_scheme":
          type: array
          items:
            type: object
            properties:
              "man_touchdowns": { type: number }
              "man_interceptions": { type: number }
              "zone_snap_counts_coverage_percent": { type: number }
              "man_avg_depth_of_target": { type: string, nullable: true }
              "man_dropped_ints": { type: number }
              "draft_season": { type: number }
              "zone_coverage_snaps_per_target": { type: string, nullable: true }
              "man_yards_per_reception": { type: string, nullable: true }
              "team_name": { type: string }
              "jersey_number": { type: string }
              "man_snap_counts_coverage": { type: number }
              "man_tackles": { type: number }
              "zone_stops": { type: number }
              "zone_snap_counts_coverage": { type: number }
              "zone_yards": { type: number }
              "man_coverage_snaps_per_target": { type: string, nullable: true }
              "zone_coverage_percent": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "zone_receptions": { type: number }
              "zone_forced_incompletion_rate": { type: string, nullable: true }
              "man_snap_counts_pass_play": { type: number }
              "zone_yards_per_reception": { type: string, nullable: true }
              "man_longest": { type: string, nullable: true }
              "man_assists": { type: number }
              "zone_yards_after_catch": { type: number }
              "man_stops": { type: number }
              "man_receptions": { type: number }
              "zone_tackles": { type: number }
              "man_coverage_percent": { type: number }
              "penalties": { type: number }
              "zone_yards_per_coverage_snap": { type: string, nullable: true }
              "team": { type: string }
              "man_catch_rate": { type: string, nullable: true }
              "man_grades_coverage_defense": { type: number }
              "declined_penalties": { type: number }
              "man_yards_after_catch": { type: number }
              "man_pass_break_ups": { type: number }
              "man_yards": { type: number }
              "position": { type: string }
              "man_targets": { type: number }
              "man_missed_tackle_rate": { type: number }
              "zone_assists": { type: number }
              "zone_snap_counts_pass_play": { type: number }
              "zone_missed_tackle_rate": { type: number }
              "zone_touchdowns": { type: number }
              "zone_coverage_snaps_per_reception": { type: string, nullable: true }
              "man_coverage_snaps_per_reception": { type: string, nullable: true }
              "zone_avg_depth_of_target": { type: string, nullable: true }
              "man_snap_counts_coverage_percent": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "zone_forced_incompletes": { type: number }
              "man_forced_incompletion_rate": { type: string, nullable: true }
              "zone_targets": { type: number }
              "zone_longest": { type: string, nullable: true }
              "zone_dropped_ints": { type: number }
              "zone_interceptions": { type: number }
              "man_forced_incompletes": { type: number }
              "player_id": { type: number }
              "zone_missed_tackles": { type: number }
              "base_snap_counts_coverage": { type: number }
              "man_missed_tackles": { type: number }
              "zone_grades_coverage_defense": { type: number }
              "man_qb_rating_against": { type: number }
              "zone_pass_break_ups": { type: number }
              "zone_qb_rating_against": { type: number }
              "man_yards_per_coverage_snap": { type: number }
              "zone_catch_rate": { type: string, nullable: true }
    Facet_defense_pass_rush:
      type: object
      properties:
        "pass_rush_summary":
          type: array
          items:
            type: object
            properties:
              "true_pass_set_total_pressures": { type: number }
              "draft_season": { type: number }
              "true_pass_set_prp": { type: number }
              "true_pass_set_hurries": { type: number }
              "team_name": { type: string }
              "prp": { type: number }
              "true_pass_set_sacks": { type: number }
              "pass_rush_win_rate": { type: number }
              "jersey_number": { type: string }
              "sacks": { type: number }
              "snap_counts_pass_rush": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "true_pass_set_snap_counts_pass_play": { type: number }
              "pass_rush_wins": { type: number }
              "hurries": { type: number }
              "pass_rush_opp": { type: number }
              "snap_counts_pass_play": { type: number }
              "hits": { type: number }
              "true_pass_set_pass_rush_win_rate": { type: number }
              "penalties": { type: number }
              "batted_passes": { type: number }
              "true_pass_set_hits": { type: number }
              "true_pass_set_snap_counts_pass_rush": { type: number }
              "team": { type: string }
              "declined_penalties": { type: number }
              "true_pass_set_pass_rush_wins": { type: number }
              "total_pressures": { type: number }
              "position": { type: string }
              "true_pass_set_grades_pass_rush_defense": { type: number }
              "true_pass_set_batted_passes": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "pass_rush_percent": { type: number }
              "true_pass_set_pass_rush_opp": { type: number }
              "true_pass_set_pass_rush_percent": { type: number }
              "grades_pass_rush_defense": { type: number }
              "player_id": { type: number }
    Facet_defense_run:
      type: object
      properties:
        "run_defense_summary":
          type: array
          items:
            type: object
            properties:
              "assists": { type: number }
              "avg_depth_of_tackle": { type: number }
              "declined_penalties": { type: number }
              "draft_season": { type: number }
              "eligible_season": { type: number }
              "forced_fumbles": { type: number }
              "franchise_id": { type: number }
              "grades_coverage_defense": { type: number }
              "grades_defense": { type: number }
              "grades_defense_penalty": { type: number }
              "grades_pass_rush_defense": { type: number }
              "grades_run_defense": { type: number }
              "grades_tackle": { type: number }
              "jersey_number": { type: string }
              "missed_tackle_rate": { type: number }
              "missed_tackles": { type: number }
              "penalties": { type: number }
              "player": { type: string }
              "player_game_count": { type: number }
              "player_id": { type: number }
              "position": { type: string }
              "run_stop_opp": { type: number }
              "snap_counts_run": { type: number }
              "stop_percent": { type: number }
              "stops": { type: number }
              "tackles": { type: number }
              "team": { type: string }
              "team_name": { type: string }
    Facet_defense_summary:
      type: object
      properties:
        "defense_summary":
          type: array
          items:
            type: object
            properties:
              "targets": { type: number }
              "interception_touchdowns": { type: number }
              "draft_season": { type: number }
              "forced_fumbles": { type: number }
              "missed_tackles": { type: number }
              "catch_rate": { type: string, nullable: true }
              "team_name": { type: string }
              "tackles": { type: number }
              "jersey_number": { type: string }
              "snap_counts_offball": { type: number }
              "snap_counts_box": { type: number }
              "sacks": { type: number }
              "snap_counts_pass_rush": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "snap_counts_dl": { type: number }
              "grades_tackle": { type: number }
              "yards": { type: number }
              "receptions": { type: number }
              "grades_coverage_defense": { type: number }
              "hurries": { type: number }
              "interceptions": { type: number }
              "snap_counts_coverage": { type: number }
              "snap_counts_dl_over_t": { type: number }
              "snap_counts_dl_a_gap": { type: number }
              "fumble_recoveries": { type: number }
              "grades_run_defense": { type: number }
              "snap_counts_corner": { type: number }
              "hits": { type: number }
              "penalties": { type: number }
              "batted_passes": { type: number }
              "team": { type: string }
              "stops": { type: number }
              "declined_penalties": { type: number }
              "total_pressures": { type: number }
              "position": { type: string }
              "fumble_recovery_touchdowns": { type: number }
              "longest": { type: string, nullable: true }
              "snap_counts_slot": { type: number }
              "missed_tackle_rate": { type: number }
              "grades_defense": { type: number }
              "yards_per_reception": { type: string, nullable: true }
              "grades_defense_penalty": { type: number }
              "safeties": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "snap_counts_defense": { type: number }
              "yards_after_catch": { type: number }
              "snap_counts_dl_b_gap": { type: number }
              "pass_break_ups": { type: number }
              "qb_rating_against": { type: number }
              "snap_counts_run_defense": { type: number }
              "tackles_for_loss": { type: number }
              "assists": { type: number }
              "grades_pass_rush_defense": { type: number }
              "player_id": { type: number }
              "snap_counts_fs": { type: number }
              "touchdowns": { type: number }
              "snap_counts_dl_outside_t": { type: number }
    Facet_field_goal_summary:
      type: object
      properties:
        "field_goal_summary":
          type: array
          items:
            type: object
            properties:
              "twenty_attempts": { type: number }
              "pat_percent": { type: number }
              "draft_season": { type: number }
              "forty_made": { type: number }
              "team_name": { type: string }
              "fifty_percent": { type: number }
              "total_made": { type: number }
              "jersey_number": { type: string }
              "one_made": { type: number }
              "fifty_attempts": { type: number }
              "forty_attempts": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "thirty_percent": { type: number }
              "total_attempts": { type: number }
              "pat_attempts": { type: number }
              "twenty_made": { type: number }
              "one_attempts": { type: number }
              "grades_fgep_kicker": { type: number }
              "thirty_attempts": { type: number }
              "penalties": { type: number }
              "pat_made": { type: number }
              "team": { type: string }
              "declined_penalties": { type: number }
              "one_percent": { type: string, nullable: true }
              "total_percent": { type: number }
              "position": { type: string }
              "twenty_percent": { type: number }
              "forty_percent": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "fifty_made": { type: number }
              "thirty_made": { type: number }
              "player_id": { type: number }
    Facet_kickoff_summary:
      type: object
      properties:
        "kicking_summary":
          type: array
          items:
            type: object
            properties:
              "attempts": { type: number }
              "attempts_with_hangtime": { type: number }
              "average_distance": { type: number }
              "average_hangtime": { type: number }
              "average_starting_field_position": { type: number }
              "average_yards_per_return": { type: number }
              "declined_penalties": { type: number }
              "draft_season": { type: number }
              "eligible_season": { type: number }
              "fair_catches": { type: number }
              "franchise_id": { type: number }
              "grades_kickoff_kicker": { type: number }
              "jersey_number": { type: string }
              "kicked_yards": { type: number }
              "kicks_returned": { type: number }
              "onside_kicks": { type: number }
              "penalties": { type: number }
              "percent_returned": { type: number }
              "player": { type: string }
              "player_game_count": { type: number }
              "player_id": { type: number }
              "position": { type: string }
              "return_yards": { type: number }
              "team": { type: string }
              "team_name": { type: string }
              "total_hangtime": { type: number }
              "touchbacks": { type: number }
    Facet_offense_blocking:
      type: object
      properties:
        "blocking_summary":
          type: array
          items:
            type: object
            properties:
              "grades_pass_block": { type: number }
              "grades_offense": { type: number }
              "pbe": { type: number }
              "non_spike_pass_block_percentage": { type: number }
              "draft_season": { type: number }
              "snap_counts_rg": { type: number }
              "team_name": { type: string }
              "jersey_number": { type: string }
              "snap_counts_ce": { type: number }
              "hits_allowed": { type: number }
              "block_percent": { type: number }
              "snap_counts_offense": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "snap_counts_block": { type: number }
              "hurries_allowed": { type: number }
              "grades_run_block": { type: number }
              "snap_counts_run_block": { type: number }
              "pressures_allowed": { type: number }
              "snap_counts_pass_play": { type: number }
              "penalties": { type: number }
              "sacks_allowed": { type: number }
              "team": { type: string }
              "declined_penalties": { type: number }
              "snap_counts_te": { type: number }
              "snap_counts_rt": { type: number }
              "position": { type: string }
              "non_spike_pass_block": { type: number }
              "snap_counts_lt": { type: number }
              "player": { type: string }
              "franchise_id": { type: number }
              "snap_counts_pass_block": { type: number }
              "pass_block_percent": { type: number }
              "snap_counts_lg": { type: number }
              "player_id": { type: number }
    Facet_offense_pass_blocking:
      type: object
      properties:
        "pass_blocking":
          type: array
          items:
            type: object
            properties:
              "true_pass_set_non_spike_pass_block_percentage": { type: number }
              "true_pass_set_pressures_allowed": { type: number }
              "grades_pass_block": { type: number }
              "true_pass_set_pass_block_percent": { type: number }
              "pbe": { type: number }
              "non_spike_pass_block_percentage": { type: number }
              "draft_season": { type: number }
              "team_name": { type: string }
              "jersey_number": { type: string }
              "hits_allowed": { type: number }
              "true_pass_set_non_spike_pass_block": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "hurries_allowed": { type: number }
              "true_pass_set_hurries_allowed": { type: number }
              "true_pass_set_snap_counts_pass_play": { type: number }
              "true_pass_set_hits_allowed": { type: number }
              "pressures_allowed": { type: number }
              "true_pass_set_pbe": { type: number }
              "snap_counts_pass_play": { type: number }
              "penalties": { type: number }
              "sacks_allowed": { type: number }
              "team": { type: string }
              "declined_penalties": { type: number }
              "position": { type: string }
              "true_pass_set_grades_pass_block": { type: number }
              "non_spike_pass_block": { type: number }
              "true_pass_set_snap_counts_pass_block": { type: number }
              "player": { type: string }
              "true_pass_set_sacks_allowed": { type: number }
              "franchise_id": { type: number }
              "snap_counts_pass_block": { type: number }
              "pass_block_percent": { type: number }
              "player_id": { type: number }
    Facet_offense_run_blocking:
      type: object
      properties:
        "run_blocking":
          type: array
          items:
            type: object
            properties:
              "declined_penalties": { type: number }
              "draft_season": { type: number }
              "eligible_season": { type: number }
              "franchise_id": { type: number }
              "gap_grades_run_block": { type: number }
              "gap_run_block_percent": { type: number }
              "gap_snap_counts_run_block": { type: number }
              "gap_snap_counts_run_block_percent": { type: number }
              "gap_snap_counts_run_play": { type: number }
              "grades_run_block": { type: number }
              "jersey_number": { type: string }
              "penalties": { type: number }
              "player": { type: string }
              "player_game_count": { type: number }
              "player_id": { type: number }
              "position": { type: string }
              "run_block_percent": { type: number }
              "snap_counts_run_block": { type: number }
              "snap_counts_run_play": { type: number }
              "team": { type: string }
              "team_name": { type: string }
              "zone_grades_run_block": { type: number }
              "zone_run_block_percent": { type: number }
              "zone_snap_counts_run_block": { type: number }
              "zone_snap_counts_run_block_percent": { type: number }
              "zone_snap_counts_run_play": { type: number }
    Facet_offense_summary:
      type: object
      properties:
        "offense_summary":
          type: array
          items:
            type: object
            properties:
              "declined_penalties": { type: number }
              "draft_season": { type: number }
              "eligible_season": { type: number }
              "franchise_id": { type: number }
              "grades_hands_fumble": { type: number }
              "grades_offense": { type: number }
              "grades_offense_penalty": { type: number }
              "grades_pass": { type: number }
              "grades_run": { type: number }
              "grades_run_block": { type: number }
              "jersey_number": { type: string }
              "penalties": { type: number }
              "player": { type: string }
              "player_game_count": { type: number }
              "player_id": { type: number }
              "position": { type: string }
              "snap_counts_pass": { type: number }
              "snap_counts_pass_block": { type: number }
              "snap_counts_pass_route": { type: number }
              "snap_counts_run": { type: number }
              "snap_counts_run_block": { type: number }
              "snap_counts_total": { type: number }
              "snap_counts_total_pass": { type: number }
              "snap_counts_total_run": { type: number }
              "team": { type: string }
              "team_name": { type: string }
    Facet_passing_allowed_pressure:
      type: object
      properties:
        "passing_allowed_pressure":
          type: array
          items:
            type: object
            properties:
              "te_percent": { type: number }
              "draft_season": { type: number }
              "pressures_lt": { type: number }
              "pressures_rg": { type: number }
              "team_name": { type: string }
              "lt_percent": { type: number }
              "jersey_number": { type: string }
              "hits_allowed": { type: number }
              "pressures_lg": { type: number }
              "player_game_count": { type: number }
              "eligible_season": { type: number }
              "hurries_allowed": { type: number }
              "self_percent": { type: number }
              "pressures_rt": { type: number }
              "pressures_allowed": { type: number }
              "pressures_ol_te": { type: number }
              "pressures_ce": { type: number }
              "penalties": { type: number }
              "sacks_allowed": { type: number }
              "ol_te_percent": { type: number }
              "allowed_pressure_dropbacks": { type: number }
              "pressures_other": { type: number }
              "team": { type: string }
              "declined_penalties": { type: number }
              "ce_percent": { type: number }
              "position": { type: string }
              "pressures_te": { type: number }
              "pressures_self": { type: number }
              "lg_percent": { type: number }
              "player": { type: string }
              "rt_percent": { type: number }
              "franchise_id": { type: number }
              "other_percent": { type: number }
              "pressures_off": { type: number }
              "rg_percent": { type: number }
              "player_id": { type: number }
    Facet_passing_concept:
      type: object
      properties:
        "passing_concept":
          type: array
          items:
            type: object
            properties:
              "comp_pct_diff": { type: number }
              "pa_grades_pass": { type: number }
              "no_screen_grades_offense": { type: number }
              "pa_qb_rating": { type: number }
              "no_screen_qb_rating": { type: number }
              "pa_completions": { type: number }
              "pa_thrown_aways": { type: number }
              "pa_dropbacks_percent": { type: number }
              "ypa_diff": { type: number }
              "no_screen_drops": { type: number }
              "screen_completion_percent": { type: number }
              "npa_bats": { type: number }
              "no_screen_thrown_aways": { type: number }
              "pa_grades_run": { type: number }
              "screen_pressure_to_sack_rate": { type: number }
              "pa_drop_rate": { type: number }
              "screen_grades_offense": { type: number }
              "dropbacks": { type: number }
              "npa_thrown_aways": { type: number }
              "no_screen_def_gen_pressures": { type: number }
              "screen_grades_hands_fumble": { type: number }
              "pa_touchdowns": { type: number }
              "npa_ypa": { type: number }
              "draft_season": { type: number }
              "screen_avg_time_to_throw": { type: number }
              "screen_thrown_aways": { type: number }
              "npa_sacks": { type: number }
              "npa_aimed_passes": { type: number }
              "no_screen_completions": { type: number }
              "no_screen_positive_epa_percent": { type: number }
              "screen_spikes": { type: number }
              "pa_first_downs": { type: number }
              "pa_big_time_throws": { type: number }
              "team_name": { type: string }
              "pa_spikes": { type: number }
              "pa_sack_percent": { type: number }
              "screen_dropbacks_percent": { type: number }
              "no_screen_epa": { type: number }
              "npa_avg_time_to_throw": { type: number }
              "screen_bats": { type: number }
              "screen_grades_run_block": { type: string, nullable: true }
              "jersey_number": { type: string }
              "no_screen_bats": { type: number }
              "npa_grades_offense": { type: number }
              "no_screen_grades_pass_route": { type: number }
              "screen_def_gen_pressures": { type: number }
              "pa_pressure_to_sack_rate": { type: number }
              "screen_sack_percent": { type: number }
              "no_screen_btt_rate": { type: number }
              "npa_btt_rate": { type: number }
              "screen_interceptions": { type: number }
              "no_screen_passing_snaps": { type: number }
              "no_screen_grades_hands_fumble": { type: number }
              "screen_scrambles": { type: number }
              "screen_grades_pass": { type: number }
              "npa_qb_rating": { type: number }
              "no_screen_grades_pass": { type: number }
              "pa_avg_time_to_throw": { type: number }
              "screen_twp_rate": { type: number }
              "player_game_count": { type: number }
              "npa_accuracy_percent": { type: number }
              "eligible_season": { type: number }
              "npa_drops": { type: number }
              "screen_yards": { type: number }
              "no_screen_drop_rate": { type: number }
              "no_screen_grades_offense_penalty": { type: number }
              "npa_passing_snaps": { type: number }
              "screen_drop_rate": { type: number }
              "screen_epa": { type: number }
              "screen_grades_pass_route": { type: string, nullable: true }
              "screen_grades_offense_penalty": { type: number }
              "npa_spikes": { type: number }
              "screen_hit_as_threw": { type: number }
              "no_screen_aimed_passes": { type: number }
              "screen_drops": { type: number }
              "screen_ypa": { type: number }
              "npa_twp_rate": { type: number }
              "screen_accuracy_percent": { type: number }
              "npa_hit_as_threw": { type: number }
              "pa_accuracy_percent": { type: number }
              "pa_def_gen_pressures": { type: number }
              "screen_avg_depth_of_target": { type: number }
              "pa_sacks": { type: number }
              "screen_passing_snaps": { type: number }
              "no_screen_grades_run": { type: number }
              "no_screen_first_downs": { type: number }
              "pa_ypa": { type: number }
              "npa_scrambles": { type: number }
              "npa_pressure_to_sack_rate": { type: number }
              "pa_twp_rate": { type: number }
              "no_screen_twp_rate": { type: number }
              "npa_grades_hands_fumble": { type: number }
              "screen_completions": { type: number }
              "screen_btt_rate": { type: number }
              "npa_grades_run": { type: number }
              "no_screen_interceptions": { type: number }
              "npa_grades_run_block": { type: number }
              "no_screen_sacks": { type: number }
              "penalties": { type: number }
              "no_screen_big_time_throws": { type: number }
              "npa_drop_rate": { type: number }
              "npa_attempts": { type: number }
              "screen_qb_rating": { type: number }
              "npa_grades_offense_penalty": { type: number }
              "pa_bats": { type: number }
              "pa_attempts": { type: number }
              "npa_def_gen_pressures": { type: number }
              "no_screen_avg_time_to_throw": { type: number }
              "pa_yards": { type: number }
              "npa_positive_epa_percent": { type: number }
              "team": { type: string }
              "no_screen_scrambles": { type: number }
              "pa_turnover_worthy_plays": { type: number }
              "pa_aimed_passes": { type: number }
              "declined_penalties": { type: number }
              "pa_grades_offense": { type: number }
              "screen_positive_epa_percent": { type: number }
              "no_screen_dropbacks": { type: number }
              "no_screen_dropbacks_percent": { type: number }
              "npa_grades_pass_route": { type: string, nullable: true }
              "npa_sack_percent": { type: number }
              "pa_positive_epa_percent": { type: number }
              "pa_grades_run_block": { type: string, nullable: true }
              "no_screen_turnover_worthy_plays": { type: number }
              "position": { type: string }
              "pa_grades_pass_route": { type: number }
              "npa_epa": { type: number }
              "no_screen_avg_depth_of_target": { type: number }
              "pa_grades_hands_fumble": { type: number }
              "no_screen_completion_percent": { type: number }
              "pa_hit_as_threw": { type: number }
              "pa_grades_offense_penalty": { type: number }
              "npa_dropbacks_percent": { type: number }
              "npa_grades_pass": { type: number }
              "screen_grades_run": { type: number }
              "screen_first_downs": { type: number }
              "npa_completion_percent": { type: number }
              "no_screen_grades_run_block": { type: number }
              "no_screen_hit_as_threw": { type: number }
              "screen_turnover_worthy_plays": { type: number }
              "npa_avg_depth_of_target": { type: number }
              "npa_dropbacks": { type: number }
              "player": { type: string }
              "pa_drops": { type: number }
              "pa_btt_rate": { type: number }
              "franchise_id": { type: number }
              "screen_big_time_throws": { type: number }
              "screen_aimed_passes": { type: number }
              "npa_touchdowns": { type: number }
              "screen_attempts": { type: number }
              "screen_dropbacks": { type: number }
              "no_screen_yards": { type: number }
              "pa_scrambles": { type: number }
              "pa_completion_percent": { type: number }
              "pa_avg_depth_of_target": { type: number }
              "pa_interceptions": { type: number }
              "no_screen_accuracy_percent": { type: number }
              "no_screen_spikes": { type: number }
              "pa_dropbacks": { type: number }
              "npa_big_time_throws": { type: number }
              "no_screen_sack_percent": { type: number }
              "pa_epa": { type: number }
              "no_screen_attempts": { type: number }
              "pa_passing_snaps": { type: number }
              "npa_completions": { type: number }
              "screen_touchdowns": { type: number }
              "npa_first_downs": { type: number }
              "no_screen_touchdowns": { type: number }
              "player_id": { type: number }
              "npa_yards": { type: number }
              "no_screen_ypa": { type: number }
              "npa_turnover_worthy_plays": { type: number }
              "npa_interceptions": { type: number }
              "no_screen_pressure_to_sack_rate": { type: number }
              "screen_sacks": { type: number }
    Facet_passing_depth:
      type: object
      properties:
        "passing_depth":
          type: array
          items:
            type: object
            properties:
              "left_behind_los_accuracy_percent": { type: number }
              "left_short_scrambles": { type: number }
              "center_short_first_downs": { type: number }
              "right_short_bats": { type: number }
              "right_behind_los_positive_epa_percent": { type: number }
              "left_behind_los_completions": { type: number }
              "left_medium_dropbacks": { type: number }
              "right_medium_grades_pass": { type: number }
              "right_medium_hit_as_threw": { type: number }
              "behind_los_attempts_percent": { type: number }
              "right_short_turnover_worthy_plays": { type: number }
              "right_medium_qb_rating": { type: number }
              "deep_twp_rate": { type: number }
              "center_medium_sacks": { type: number }
              "medium_interceptions": { type: number }
              "left_deep_completions": { type: number }
              "behind_los_spikes": { type: number }
              "medium_aimed_passes": { type: number }
              "center_behind_los_drops": { type: number }
              "center_behind_los_interceptions": { type: number }
              "behind_los_dropbacks": { type: number }
              "left_behind_los_interceptions": { type: number }
              "left_deep_first_downs": { type: number }
              "deep_passing_snaps": { type: number }
              "center_short_btt_rate": { type: number }
              "center_medium_thrown_aways": { type: number }
              "center_deep_avg_depth_of_target": { type: number }
              "center_short_drops": { type: number }
              "center_deep_first_downs": { type: number }
              "left_medium_completion_percent": { type: number }
              "center_deep_attempts": { type: number }
              "center_behind_los_attempts": { type: number }
              "right_short_positive_epa_percent": { type: number }
              "center_deep_aimed_passes": { type: number }
              "right_deep_grades_pass": { type: number }
              "right_medium_big_time_throws": { type: number }
              "deep_sack_percent": { type: number }
              "center_medium_pressure_to_sack_rate": { type: number }
              "deep_sacks": { type: number }
              "right_medium_ypa": { type: number }
              "left_deep_drop_rate": { type: number }
              "right_medium_attempts_percent": { type: number }
              "right_deep_btt_rate": { type: number }
              "center_short_attempts_percent": { type: number }
              "deep_drops": { type: number }
              "center_behind_los_big_time_throws": { type: number }
              "center_behind_los_touchdowns": { type: number }
              "right_behind_los_twp_rate": { type: number }
              "center_deep_completions": { type: number }
              "center_short_attempts": { type: number }
              "left_behind_los_sack_percent": { type: number }
              "center_short_pressure_to_sack_rate": { type: number }
              "deep_touchdowns": { type: number }
              "center_behind_los_accuracy_percent": { type: number }
              "center_deep_drop_rate": { type: number }
              "right_short_first_downs": { type: number }
              "right_behind_los_first_downs": { type: number }
              "short_interceptions": { type: number }
              "center_medium_scrambles": { type: number }
              "left_behind_los_sacks": { type: number }
              "left_short_ypa": { type: number }
              "left_short_qb_rating": { type: number }
              "right_behind_los_qb_rating": { type: number }
              "draft_season": { type: number }
              "right_behind_los_dropbacks": { type: number }
              "behind_los_def_gen_pressures": { type: number }
              "right_short_thrown_aways": { type: number }
              "deep_def_gen_pressures": { type: number }
              "right_short_btt_rate": { type: number }
              "center_behind_los_positive_epa_percent": { type: number }
              "left_behind_los_grades_pass": { type: number }
              "deep_grades_pass": { type: number }
              "center_short_turnover_worthy_plays": { type: number }
              "center_behind_los_scrambles": { type: number }
              "right_short_aimed_passes": { type: number }
              "center_short_dropbacks": { type: number }
              "medium_epa": { type: number }
              "right_short_ypa": { type: number }
              "center_medium_ypa": { type: number }
              "medium_attempts": { type: number }
              "right_deep_accuracy_percent": { type: number }
              "behind_los_scrambles": { type: number }
              "center_behind_los_completion_percent": { type: number }
              "left_behind_los_btt_rate": { type: number }
              "right_behind_los_btt_rate": { type: number }
              "team_name": { type: string }
              "short_touchdowns": { type: number }
              "center_medium_drops": { type: number }
              "left_behind_los_aimed_passes": { type: number }
              "deep_attempts": { type: number }
              "right_behind_los_sack_percent": { type: number }
              "center_short_positive_epa_percent": { type: number }
              "deep_avg_depth_of_target": { type: number }
              "left_deep_btt_rate": { type: number }
              "medium_scrambles": { type: number }
              "center_behind_los_avg_depth_of_target": { type: number }
              "short_attempts_percent": { type: number }
              "right_behind_los_sacks": { type: number }
              "center_medium_avg_time_to_throw": { type: number }
              "left_short_pressure_to_sack_rate": { type: number }
              "center_deep_sack_percent": { type: number }
              "center_deep_ypa": { type: number }
              "left_behind_los_hit_as_threw": { type: number }
              "medium_big_time_throws": { type: number }
              "deep_thrown_aways": { type: number }
              "right_short_accuracy_percent": { type: number }
              "left_deep_turnover_worthy_plays": { type: number }
              "center_medium_bats": { type: number }
              "right_short_grades_pass": { type: number }
              "right_deep_spikes": { type: number }
              "left_deep_passing_snaps": { type: number }
              "center_medium_twp_rate": { type: number }
              "right_behind_los_passing_snaps": { type: number }
              "left_deep_qb_rating": { type: number }
              "right_deep_drop_rate": { type: number }
              "left_behind_los_drop_rate": { type: number }
              "left_medium_drop_rate": { type: number }
              "right_deep_attempts": { type: number }
              "left_deep_spikes": { type: number }
              "center_behind_los_dropbacks": { type: number }
              "right_deep_big_time_throws": { type: number }
              "medium_hit_as_threw": { type: number }
              "right_short_dropbacks": { type: number }
              "medium_def_gen_pressures": { type: number }
              "jersey_number": { type: string }
              "left_short_positive_epa_percent": { type: number }
              "left_short_attempts": { type: number }
              "center_deep_twp_rate": { type: number }
              "right_medium_avg_time_to_throw": { type: number }
              "left_behind_los_qb_rating": { type: number }
              "left_behind_los_dropbacks": { type: number }
              "deep_dropbacks": { type: number }
              "right_behind_los_scrambles": { type: number }
              "behind_los_interceptions": { type: number }
              "right_deep_drops": { type: number }
              "right_deep_yards": { type: number }
              "right_short_hit_as_threw": { type: number }
              "right_short_avg_depth_of_target": { type: number }
              "short_bats": { type: number }
              "right_deep_twp_rate": { type: number }
              "right_behind_los_pressure_to_sack_rate": { type: number }
              "deep_spikes": { type: number }
              "center_medium_spikes": { type: number }
              "behind_los_aimed_passes": { type: number }
              "right_behind_los_touchdowns": { type: number }
              "right_medium_pressure_to_sack_rate": { type: number }
              "medium_thrown_aways": { type: number }
              "short_sacks": { type: number }
              "center_behind_los_twp_rate": { type: number }
              "left_behind_los_attempts": { type: number }
              "short_aimed_passes": { type: number }
              "short_completions": { type: number }
              "right_short_pressure_to_sack_rate": { type: number }
              "medium_avg_depth_of_target": { type: number }
              "left_behind_los_positive_epa_percent": { type: number }
              "center_medium_attempts_percent": { type: number }
              "left_medium_touchdowns": { type: number }
              "center_short_bats": { type: number }
              "left_deep_avg_time_to_throw": { type: number }
              "center_behind_los_passing_snaps": { type: number }
              "center_short_yards": { type: number }
              "right_medium_btt_rate": { type: number }
              "right_medium_scrambles": { type: number }
              "medium_btt_rate": { type: number }
              "center_behind_los_btt_rate": { type: number }
              "center_short_avg_depth_of_target": { type: number }
              "left_medium_sacks": { type: number }
              "right_short_yards": { type: number }
              "left_medium_first_downs": { type: number }
              "right_medium_positive_epa_percent": { type: number }
              "left_short_big_time_throws": { type: number }
              "deep_turnover_worthy_plays": { type: number }
              "left_deep_bats": { type: number }
              "left_medium_turnover_worthy_plays": { type: number }
              "base_dropbacks": { type: number }
              "center_deep_drops": { type: number }
              "center_medium_avg_depth_of_target": { type: number }
              "center_behind_los_ypa": { type: number }
              "right_short_attempts": { type: number }
              "center_medium_completion_percent": { type: number }
              "right_short_sack_percent": { type: number }
              "left_behind_los_avg_depth_of_target": { type: number }
              "center_medium_epa": { type: number }
              "center_behind_los_sack_percent": { type: number }
              "medium_completions": { type: number }
              "medium_sack_percent": { type: number }
              "left_short_grades_pass": { type: number }
              "deep_btt_rate": { type: number }
              "left_short_accuracy_percent": { type: number }
              "short_twp_rate": { type: number }
              "short_passing_snaps": { type: number }
              "left_deep_sacks": { type: number }
              "short_scrambles": { type: number }
              "center_medium_turnover_worthy_plays": { type: number }
              "behind_los_drop_rate": { type: number }
              "right_behind_los_epa": { type: number }
              "right_medium_aimed_passes": { type: number }
              "short_accuracy_percent": { type: number }
              "player_game_count": { type: number }
              "short_btt_rate": { type: number }
              "right_short_touchdowns": { type: number }
              "center_short_completions": { type: number }
              "right_short_spikes": { type: number }
              "behind_los_first_downs": { type: number }
              "right_medium_def_gen_pressures": { type: number }
              "deep_pressure_to_sack_rate": { type: number }
              "medium_qb_rating": { type: number }
              "short_completion_percent": { type: number }
              "right_deep_attempts_percent": { type: number }
              "eligible_season": { type: number }
              "short_big_time_throws": { type: number }
              "behind_los_attempts": { type: number }
              "center_behind_los_yards": { type: number }
              "center_behind_los_bats": { type: number }
              "center_behind_los_qb_rating": { type: number }
              "right_deep_pressure_to_sack_rate": { type: number }
              "center_short_accuracy_percent": { type: number }
              "left_behind_los_bats": { type: number }
              "center_deep_passing_snaps": { type: number }
              "right_behind_los_hit_as_threw": { type: number }
              "medium_bats": { type: number }
              "right_medium_first_downs": { type: number }
              "medium_spikes": { type: number }
              "left_deep_thrown_aways": { type: number }
              "right_deep_epa": { type: number }
              "center_medium_hit_as_threw": { type: number }
              "left_behind_los_completion_percent": { type: number }
              "center_short_ypa": { type: number }
              "right_short_drop_rate": { type: number }
              "right_behind_los_accuracy_percent": { type: number }
              "left_short_yards": { type: number }
              "deep_accuracy_percent": { type: number }
              "right_behind_los_avg_depth_of_target": { type: number }
              "center_behind_los_thrown_aways": { type: number }
              "center_behind_los_attempts_percent": { type: number }
              "right_deep_first_downs": { type: number }
              "left_short_completions": { type: number }
              "deep_completion_percent": { type: number }
              "left_deep_positive_epa_percent": { type: number }
              "right_deep_sack_percent": { type: number }
              "behind_los_pressure_to_sack_rate": { type: number }
              "right_deep_touchdowns": { type: number }
              "left_behind_los_def_gen_pressures": { type: number }
              "left_behind_los_drops": { type: number }
              "deep_epa": { type: number }
              "left_deep_ypa": { type: number }
              "medium_touchdowns": { type: number }
              "left_medium_grades_pass": { type: number }
              "right_behind_los_spikes": { type: number }
              "medium_grades_pass": { type: number }
              "behind_los_passing_snaps": { type: number }
              "left_short_first_downs": { type: number }
              "center_short_passing_snaps": { type: number }
              "center_deep_accuracy_percent": { type: number }
              "right_deep_positive_epa_percent": { type: number }
              "right_medium_sack_percent": { type: number }
              "right_deep_qb_rating": { type: number }
              "right_short_completion_percent": { type: number }
              "right_behind_los_interceptions": { type: number }
              "behind_los_yards": { type: number }
              "center_behind_los_grades_pass": { type: number }
              "left_deep_dropbacks": { type: number }
              "center_behind_los_spikes": { type: number }
              "right_behind_los_aimed_passes": { type: number }
              "left_short_interceptions": { type: number }
              "right_medium_interceptions": { type: number }
              "left_behind_los_yards": { type: number }
              "center_deep_btt_rate": { type: number }
              "medium_first_downs": { type: number }
              "left_short_avg_depth_of_target": { type: number }
              "left_behind_los_ypa": { type: number }
              "short_attempts": { type: number }
              "right_medium_bats": { type: number }
              "left_behind_los_touchdowns": { type: number }
              "right_medium_dropbacks": { type: number }
              "short_turnover_worthy_plays": { type: number }
              "right_deep_thrown_aways": { type: number }
              "right_behind_los_drop_rate": { type: number }
              "right_short_qb_rating": { type: number }
              "medium_sacks": { type: number }
              "center_deep_attempts_percent": { type: number }
              "left_short_dropbacks": { type: number }
              "behind_los_drops": { type: number }
              "short_sack_percent": { type: number }
              "left_medium_spikes": { type: number }
              "left_medium_accuracy_percent": { type: number }
              "behind_los_completions": { type: number }
              "behind_los_sack_percent": { type: number }
              "left_deep_yards": { type: number }
              "left_short_aimed_passes": { type: number }
              "center_behind_los_completions": { type: number }
              "left_short_thrown_aways": { type: number }
              "left_short_sack_percent": { type: number }
              "center_short_thrown_aways": { type: number }
              "center_short_interceptions": { type: number }
              "short_avg_depth_of_target": { type: number }
              "left_deep_touchdowns": { type: number }
              "deep_yards": { type: number }
              "center_behind_los_turnover_worthy_plays": { type: number }
              "medium_ypa": { type: number }
              "left_medium_epa": { type: number }
              "left_deep_avg_depth_of_target": { type: number }
              "deep_first_downs": { type: number }
              "short_drop_rate": { type: number }
              "left_medium_bats": { type: number }
              "center_deep_spikes": { type: number }
              "center_short_hit_as_threw": { type: number }
              "left_medium_positive_epa_percent": { type: number }
              "center_deep_touchdowns": { type: number }
              "right_deep_ypa": { type: number }
              "right_short_big_time_throws": { type: number }
              "center_short_big_time_throws": { type: number }
              "short_positive_epa_percent": { type: number }
              "left_behind_los_avg_time_to_throw": { type: number }
              "right_deep_passing_snaps": { type: number }
              "right_short_twp_rate": { type: number }
              "center_medium_attempts": { type: number }
              "right_deep_avg_time_to_throw": { type: number }
              "center_deep_def_gen_pressures": { type: number }
              "behind_los_epa": { type: number }
              "right_medium_twp_rate": { type: number }
              "right_deep_aimed_passes": { type: number }
              "right_deep_scrambles": { type: number }
              "deep_big_time_throws": { type: number }
              "left_short_turnover_worthy_plays": { type: number }
              "center_short_touchdowns": { type: number }
              "right_medium_drops": { type: number }
              "left_deep_epa": { type: number }
              "short_ypa": { type: number }
              "medium_pressure_to_sack_rate": { type: number }
              "left_medium_thrown_aways": { type: number }
              "right_behind_los_avg_time_to_throw": { type: number }
              "behind_los_btt_rate": { type: number }
              "medium_avg_time_to_throw": { type: number }
              "center_deep_completion_percent": { type: number }
              "behind_los_avg_time_to_throw": { type: number }
              "right_medium_touchdowns": { type: number }
              "center_short_avg_time_to_throw": { type: number }
              "left_deep_aimed_passes": { type: number }
              "left_medium_yards": { type: number }
              "center_medium_touchdowns": { type: number }
              "center_short_drop_rate": { type: number }
              "left_short_twp_rate": { type: number }
              "penalties": { type: number }
              "right_behind_los_attempts_percent": { type: number }
              "right_deep_avg_depth_of_target": { type: number }
              "behind_los_sacks": { type: number }
              "center_deep_yards": { type: number }
              "short_dropbacks": { type: number }
              "left_deep_sack_percent": { type: number }
              "center_behind_los_avg_time_to_throw": { type: number }
              "behind_los_avg_depth_of_target": { type: number }
              "left_behind_los_epa": { type: number }
              "medium_twp_rate": { type: number }
              "left_short_def_gen_pressures": { type: number }
              "medium_turnover_worthy_plays": { type: number }
              "behind_los_twp_rate": { type: number }
              "left_behind_los_thrown_aways": { type: number }
              "left_short_bats": { type: number }
              "center_medium_drop_rate": { type: number }
              "right_deep_bats": { type: number }
              "medium_yards": { type: number }
              "center_deep_grades_pass": { type: number }
              "center_medium_passing_snaps": { type: number }
              "center_behind_los_first_downs": { type: number }
              "center_medium_interceptions": { type: number }
              "behind_los_grades_pass": { type: number }
              "left_short_hit_as_threw": { type: number }
              "deep_qb_rating": { type: number }
              "center_deep_bats": { type: number }
              "behind_los_ypa": { type: number }
              "right_short_interceptions": { type: number }
              "left_deep_interceptions": { type: number }
              "right_medium_sacks": { type: number }
              "right_behind_los_turnover_worthy_plays": { type: number }
              "team": { type: string }
              "right_medium_spikes": { type: number }
              "behind_los_hit_as_threw": { type: number }
              "left_medium_pressure_to_sack_rate": { type: number }
              "medium_dropbacks": { type: number }
              "deep_hit_as_threw": { type: number }
              "right_medium_completion_percent": { type: number }
              "short_epa": { type: number }
              "deep_drop_rate": { type: number }
              "declined_penalties": { type: number }
              "deep_scrambles": { type: number }
              "left_deep_completion_percent": { type: number }
              "right_short_epa": { type: number }
              "medium_attempts_percent": { type: number }
              "right_behind_los_completion_percent": { type: number }
              "left_medium_hit_as_threw": { type: number }
              "left_behind_los_pressure_to_sack_rate": { type: number }
              "right_short_def_gen_pressures": { type: number }
              "right_short_attempts_percent": { type: number }
              "center_short_aimed_passes": { type: number }
              "short_hit_as_threw": { type: number }
              "right_medium_turnover_worthy_plays": { type: number }
              "left_short_epa": { type: number }
              "center_behind_los_pressure_to_sack_rate": { type: number }
              "right_behind_los_ypa": { type: number }
              "deep_interceptions": { type: number }
              "left_medium_twp_rate": { type: number }
              "right_behind_los_big_time_throws": { type: number }
              "center_medium_sack_percent": { type: number }
              "center_deep_thrown_aways": { type: number }
              "short_thrown_aways": { type: number }
              "left_short_btt_rate": { type: number }
              "right_medium_accuracy_percent": { type: number }
              "position": { type: string }
              "short_def_gen_pressures": { type: number }
              "center_deep_dropbacks": { type: number }
              "center_medium_accuracy_percent": { type: number }
              "right_behind_los_yards": { type: number }
              "right_medium_attempts": { type: number }
              "left_medium_attempts": { type: number }
              "medium_accuracy_percent": { type: number }
              "left_medium_drops": { type: number }
              "left_short_avg_time_to_throw": { type: number }
              "medium_passing_snaps": { type: number }
              "center_short_epa": { type: number }
              "left_behind_los_passing_snaps": { type: number }
              "left_deep_pressure_to_sack_rate": { type: number }
              "deep_bats": { type: number }
              "left_medium_passing_snaps": { type: number }
              "left_medium_scrambles": { type: number }
              "right_deep_completion_percent": { type: number }
              "left_short_drops": { type: number }
              "left_deep_accuracy_percent": { type: number }
              "medium_positive_epa_percent": { type: number }
              "behind_los_turnover_worthy_plays": { type: number }
              "right_medium_epa": { type: number }
              "right_deep_dropbacks": { type: number }
              "deep_ypa": { type: number }
              "center_medium_completions": { type: number }
              "left_medium_avg_time_to_throw": { type: number }
              "left_short_sacks": { type: number }
              "left_behind_los_spikes": { type: number }
              "left_deep_def_gen_pressures": { type: number }
              "center_short_qb_rating": { type: number }
              "center_deep_interceptions": { type: number }
              "right_deep_completions": { type: number }
              "center_behind_los_sacks": { type: number }
              "deep_completions": { type: number }
              "left_medium_attempts_percent": { type: number }
              "short_yards": { type: number }
              "behind_los_qb_rating": { type: number }
              "right_short_sacks": { type: number }
              "right_behind_los_thrown_aways": { type: number }
              "base_attempts": { type: number }
              "center_short_spikes": { type: number }
              "center_behind_los_hit_as_threw": { type: number }
              "center_deep_turnover_worthy_plays": { type: number }
              "left_medium_sack_percent": { type: number }
              "behind_los_completion_percent": { type: number }
              "left_deep_attempts_percent": { type: number }
              "center_deep_big_time_throws": { type: number }
              "player": { type: string }
              "left_medium_avg_depth_of_target": { type: number }
              "behind_los_thrown_aways": { type: number }
              "center_medium_def_gen_pressures": { type: number }
              "short_avg_time_to_throw": { type: number }
              "left_deep_twp_rate": { type: number }
              "center_behind_los_epa": { type: number }
              "left_behind_los_big_time_throws": { type: number }
              "right_medium_yards": { type: number }
              "right_medium_drop_rate": { type: number }
              "center_medium_big_time_throws": { type: number }
              "franchise_id": { type: number }
              "left_short_completion_percent": { type: number }
              "left_short_drop_rate": { type: number }
              "left_behind_los_scrambles": { type: number }
              "left_medium_btt_rate": { type: number }
              "right_deep_hit_as_threw": { type: number }
              "behind_los_bats": { type: number }
              "short_first_downs": { type: number }
              "left_deep_attempts": { type: number }
              "right_behind_los_attempts": { type: number }
              "right_deep_sacks": { type: number }
              "left_behind_los_attempts_percent": { type: number }
              "behind_los_big_time_throws": { type: number }
              "center_deep_pressure_to_sack_rate": { type: number }
              "left_medium_big_time_throws": { type: number }
              "right_behind_los_bats": { type: number }
              "left_medium_def_gen_pressures": { type: number }
              "right_deep_turnover_worthy_plays": { type: number }
              "left_short_spikes": { type: number }
              "left_medium_aimed_passes": { type: number }
              "left_behind_los_twp_rate": { type: number }
              "short_grades_pass": { type: number }
              "right_short_drops": { type: number }
              "right_short_avg_time_to_throw": { type: number }
              "right_medium_thrown_aways": { type: number }
              "center_short_sack_percent": { type: number }
              "right_short_passing_snaps": { type: number }
              "center_short_def_gen_pressures": { type: number }
              "center_medium_positive_epa_percent": { type: number }
              "medium_drops": { type: number }
              "center_medium_aimed_passes": { type: number }
              "center_short_sacks": { type: number }
              "deep_attempts_percent": { type: number }
              "center_behind_los_def_gen_pressures": { type: number }
              "left_short_passing_snaps": { type: number }
              "center_medium_grades_pass": { type: number }
              "center_deep_avg_time_to_throw": { type: number }
              "behind_los_positive_epa_percent": { type: number }
              "center_short_completion_percent": { type: number }
              "left_deep_hit_as_threw": { type: number }
              "center_short_grades_pass": { type: number }
              "left_short_attempts_percent": { type: number }
              "left_deep_scrambles": { type: number }
              "right_short_completions": { type: number }
              "center_behind_los_aimed_passes": { type: number }
              "right_short_scrambles": { type: number }
              "center_medium_qb_rating": { type: number }
              "deep_avg_time_to_throw": { type: number }
              "left_deep_drops": { type: number }
              "right_behind_los_def_gen_pressures": { type: number }
              "center_deep_positive_epa_percent": { type: number }
              "center_deep_hit_as_threw": { type: number }
              "short_spikes": { type: number }
              "right_behind_los_completions": { type: number }
              "center_behind_los_drop_rate": { type: number }
              "short_drops": { type: number }
              "deep_aimed_passes": { type: number }
              "right_medium_avg_depth_of_target": { type: number }
              "short_pressure_to_sack_rate": { type: number }
              "center_deep_qb_rating": { type: number }
              "left_medium_completions": { type: number }
              "center_deep_sacks": { type: number }
              "left_deep_big_time_throws": { type: number }
              "center_medium_first_downs": { type: number }
              "center_medium_dropbacks": { type: number }
              "right_deep_def_gen_pressures": { type: number }
              "left_short_touchdowns": { type: number }
              "medium_drop_rate": { type: number }
              "player_id": { type: number }
              "left_medium_ypa": { type: number }
              "right_medium_passing_snaps": { type: number }
              "center_short_scrambles": { type: number }
              "left_behind_los_turnover_worthy_plays": { type: number }
              "center_medium_yards": { type: number }
              "center_deep_epa": { type: number }
              "left_medium_interceptions": { type: number }
              "right_deep_interceptions": { type: number }
              "medium_completion_percent": { type: number }
              "right_behind_los_grades_pass": { type: number }
              "deep_positive_epa_percent": { type: number }
              "behind_los_accuracy_percent": { type: number }
              "center_deep_scrambles": { type: number }
              "center_short_twp_rate": { type: number }
              "behind_los_touchdowns": { type: number }
              "left_medium_qb_rating": { type: number }
              "right_medium_completions": { type: number }
              "right_behind_los_drops": { type: number }
              "left_behind_los_first_downs": { type: number }
              "short_qb_rating": { type: number }
              "center_medium_btt_rate": { type: number }
              "left_deep_grades_pass": { type: number }
    Facet_passing_detail:
      type: object
      properties:
        "passing_detail_stats":
          type: array
          items:
            type: object
            properties:
              "left_behind_los_accuracy_percent": { type: number }
              "left_short_scrambles": { type: number }
              "center_short_first_downs": { type: number }
              "no_blitz_completion_percent": { type: number }
              "right_short_bats": { type: number }
              "right_behind_los_positive_epa_percent": { type: number }
              "left_behind_los_completions": { type: number }
              "comp_pct_diff": { type: number }
              "pa_grades_pass": { type: number }
              "left_medium_dropbacks": { type: number }
              "right_medium_grades_pass": { type: number }
              "right_medium_hit_as_threw": { type: number }
              "behind_los_attempts_percent": { type: number }
              "grades_offense": { type: number }
              "no_screen_grades_offense": { type: number }
              "pa_qb_rating": { type: number }
              "right_short_turnover_worthy_plays": { type: number }
              "no_screen_qb_rating": { type: number }
              "pa_completions": { type: number }
              "right_medium_qb_rating": { type: number }
              "deep_twp_rate": { type: number }
              "center_medium_sacks": { type: number }
              "medium_interceptions": { type: number }
              "left_deep_completions": { type: number }
              "no_pressure_scrambles": { type: number }
              "twp_rate": { type: number }
              "behind_los_spikes": { type: number }
              "medium_aimed_passes": { type: number }
              "pa_thrown_aways": { type: number }
              "pa_dropbacks_percent": { type: number }
              "ypa_diff": { type: number }
              "blitz_touchdowns": { type: number }
              "center_behind_los_drops": { type: number }
              "pressure_yards": { type: number }
              "no_pressure_spikes": { type: number }
              "blitz_ypa": { type: number }
              "center_behind_los_interceptions": { type: number }
              "no_screen_drops": { type: number }
              "behind_los_dropbacks": { type: number }
              "no_blitz_grades_run": { type: number }
              "screen_completion_percent": { type: number }
              "npa_bats": { type: number }
              "left_behind_los_interceptions": { type: number }
              "left_deep_first_downs": { type: number }
              "deep_passing_snaps": { type: number }
              "btt_rate": { type: number }
              "center_short_btt_rate": { type: number }
              "center_medium_thrown_aways": { type: number }
              "center_deep_avg_depth_of_target": { type: number }
              "blitz_qb_rating": { type: number }
              "center_short_drops": { type: number }
              "no_pressure_thrown_aways": { type: number }
              "no_screen_thrown_aways": { type: number }
              "no_blitz_bats": { type: number }
              "center_deep_first_downs": { type: number }
              "left_medium_completion_percent": { type: number }
              "center_deep_attempts": { type: number }
              "pa_grades_run": { type: number }
              "center_behind_los_attempts": { type: number }
              "right_short_positive_epa_percent": { type: number }
              "no_blitz_drops": { type: number }
              "center_deep_aimed_passes": { type: number }
              "right_deep_grades_pass": { type: number }
              "right_medium_big_time_throws": { type: number }
              "deep_sack_percent": { type: number }
              "no_pressure_completion_percent": { type: number }
              "blitz_aimed_passes": { type: number }
              "screen_pressure_to_sack_rate": { type: number }
              "pa_drop_rate": { type: number }
              "center_medium_pressure_to_sack_rate": { type: number }
              "deep_sacks": { type: number }
              "right_medium_ypa": { type: number }
              "spikes": { type: number }
              "left_deep_drop_rate": { type: number }
              "screen_grades_offense": { type: number }
              "right_medium_attempts_percent": { type: number }
              "right_deep_btt_rate": { type: number }
              "center_short_attempts_percent": { type: number }
              "deep_drops": { type: number }
              "center_behind_los_big_time_throws": { type: number }
              "center_behind_los_touchdowns": { type: number }
              "dropbacks": { type: number }
              "right_behind_los_twp_rate": { type: number }
              "center_deep_completions": { type: number }
              "npa_thrown_aways": { type: number }
              "center_short_attempts": { type: number }
              "pressure_grades_run": { type: number }
              "left_behind_los_sack_percent": { type: number }
              "center_short_pressure_to_sack_rate": { type: number }
              "deep_touchdowns": { type: number }
              "no_blitz_sack_percent": { type: number }
              "no_pressure_bats": { type: number }
              "center_behind_los_accuracy_percent": { type: number }
              "pressure_completions": { type: number }
              "blitz_big_time_throws": { type: number }
              "center_deep_drop_rate": { type: number }
              "right_short_first_downs": { type: number }
              "no_screen_def_gen_pressures": { type: number }
              "right_behind_los_first_downs": { type: number }
              "screen_grades_hands_fumble": { type: number }
              "pa_touchdowns": { type: number }
              "short_interceptions": { type: number }
              "center_medium_scrambles": { type: number }
              "left_behind_los_sacks": { type: number }
              "npa_ypa": { type: number }
              "no_blitz_drop_rate": { type: number }
              "blitz_spikes": { type: number }
              "left_short_ypa": { type: number }
              "no_pressure_completions": { type: number }
              "left_short_qb_rating": { type: number }
              "thrown_aways": { type: number }
              "right_behind_los_qb_rating": { type: number }
              "draft_season": { type: number }
              "screen_avg_time_to_throw": { type: number }
              "right_behind_los_dropbacks": { type: number }
              "screen_thrown_aways": { type: number }
              "behind_los_def_gen_pressures": { type: number }
              "npa_sacks": { type: number }
              "no_pressure_passing_snaps": { type: number }
              "npa_aimed_passes": { type: number }
              "no_blitz_first_downs": { type: number }
              "right_short_thrown_aways": { type: number }
              "deep_def_gen_pressures": { type: number }
              "right_short_btt_rate": { type: number }
              "center_behind_los_positive_epa_percent": { type: number }
              "blitz_avg_time_to_throw": { type: number }
              "left_behind_los_grades_pass": { type: number }
              "deep_grades_pass": { type: number }
              "no_pressure_grades_hands_fumble": { type: number }
              "center_short_turnover_worthy_plays": { type: number }
              "center_behind_los_scrambles": { type: number }
              "pressure_aimed_passes": { type: number }
              "no_screen_completions": { type: number }
              "right_short_aimed_passes": { type: number }
              "no_screen_positive_epa_percent": { type: number }
              "center_short_dropbacks": { type: number }
              "medium_epa": { type: number }
              "right_short_ypa": { type: number }
              "blitz_sacks": { type: number }
              "center_medium_ypa": { type: number }
              "screen_spikes": { type: number }
              "pa_first_downs": { type: number }
              "medium_attempts": { type: number }
              "no_pressure_interceptions": { type: number }
              "right_deep_accuracy_percent": { type: number }
              "behind_los_scrambles": { type: number }
              "center_behind_los_completion_percent": { type: number }
              "left_behind_los_btt_rate": { type: number }
              "right_behind_los_btt_rate": { type: number }
              "pa_big_time_throws": { type: number }
              "team_name": { type: string }
              "short_touchdowns": { type: number }
              "pa_spikes": { type: number }
              "center_medium_drops": { type: number }
              "left_behind_los_aimed_passes": { type: number }
              "pa_sack_percent": { type: number }
              "deep_attempts": { type: number }
              "right_behind_los_sack_percent": { type: number }
              "pressure_epa": { type: number }
              "center_short_positive_epa_percent": { type: number }
              "deep_avg_depth_of_target": { type: number }
              "left_deep_btt_rate": { type: number }
              "medium_scrambles": { type: number }
              "blitz_completions": { type: number }
              "center_behind_los_avg_depth_of_target": { type: number }
              "blitz_attempts": { type: number }
              "short_attempts_percent": { type: number }
              "right_behind_los_sacks": { type: number }
              "screen_dropbacks_percent": { type: number }
              "center_medium_avg_time_to_throw": { type: number }
              "pressure_twp_rate": { type: number }
              "pressure_sacks": { type: number }
              "left_short_pressure_to_sack_rate": { type: number }
              "no_blitz_pressure_to_sack_rate": { type: number }
              "no_pressure_ypa": { type: number }
              "no_screen_epa": { type: number }
              "center_deep_sack_percent": { type: number }
              "center_deep_ypa": { type: number }
              "left_behind_los_hit_as_threw": { type: number }
              "pressure_passing_snaps": { type: number }
              "medium_big_time_throws": { type: number }
              "grades_pass": { type: number }
              "npa_avg_time_to_throw": { type: number }
              "deep_thrown_aways": { type: number }
              "right_short_accuracy_percent": { type: number }
              "left_deep_turnover_worthy_plays": { type: number }
              "center_medium_bats": { type: number }
              "right_short_grades_pass": { type: number }
              "hit_as_threw": { type: number }
              "right_deep_spikes": { type: number }
              "left_deep_passing_snaps": { type: number }
              "center_medium_twp_rate": { type: number }
              "right_behind_los_passing_snaps": { type: number }
              "left_deep_qb_rating": { type: number }
              "screen_bats": { type: number }
              "right_deep_drop_rate": { type: number }
              "first_downs": { type: number }
              "screen_grades_run_block": { type: string, nullable: true }
              "left_behind_los_drop_rate": { type: number }
              "pressure_bats": { type: number }
              "left_medium_drop_rate": { type: number }
              "right_deep_attempts": { type: number }
              "left_deep_spikes": { type: number }
              "center_behind_los_dropbacks": { type: number }
              "blitz_thrown_aways": { type: number }
              "right_deep_big_time_throws": { type: number }
              "medium_hit_as_threw": { type: number }
              "right_short_dropbacks": { type: number }
              "no_pressure_drops": { type: number }
              "medium_def_gen_pressures": { type: number }
              "jersey_number": { type: string }
              "left_short_positive_epa_percent": { type: number }
              "left_short_attempts": { type: number }
              "pressure_grades_offense_penalty": { type: number }
              "center_deep_twp_rate": { type: number }
              "right_medium_avg_time_to_throw": { type: number }
              "left_behind_los_qb_rating": { type: number }
              "no_screen_bats": { type: number }
              "left_behind_los_dropbacks": { type: number }
              "pressure_scrambles": { type: number }
              "blitz_drop_rate": { type: number }
              "deep_dropbacks": { type: number }
              "right_behind_los_scrambles": { type: number }
              "sack_percent": { type: number }
              "behind_los_interceptions": { type: number }
              "right_deep_drops": { type: number }
              "right_deep_yards": { type: number }
              "right_short_hit_as_threw": { type: number }
              "npa_grades_offense": { type: number }
              "right_short_avg_depth_of_target": { type: number }
              "short_bats": { type: number }
              "right_deep_twp_rate": { type: number }
              "right_behind_los_pressure_to_sack_rate": { type: number }
              "screen_def_gen_pressures": { type: number }
              "deep_spikes": { type: number }
              "pa_pressure_to_sack_rate": { type: number }
              "center_medium_spikes": { type: number }
              "screen_sack_percent": { type: number }
              "blitz_completion_percent": { type: number }
              "behind_los_aimed_passes": { type: number }
              "right_behind_los_touchdowns": { type: number }
              "bats": { type: number }
              "right_medium_pressure_to_sack_rate": { type: number }
              "no_screen_btt_rate": { type: number }
              "medium_thrown_aways": { type: number }
              "short_sacks": { type: number }
              "center_behind_los_twp_rate": { type: number }
              "left_behind_los_attempts": { type: number }
              "short_aimed_passes": { type: number }
              "short_completions": { type: number }
              "right_short_pressure_to_sack_rate": { type: number }
              "npa_btt_rate": { type: number }
              "medium_avg_depth_of_target": { type: number }
              "left_behind_los_positive_epa_percent": { type: number }
              "screen_interceptions": { type: number }
              "center_medium_attempts_percent": { type: number }
              "left_medium_touchdowns": { type: number }
              "center_short_bats": { type: number }
              "left_deep_avg_time_to_throw": { type: number }
              "no_screen_passing_snaps": { type: number }
              "no_pressure_first_downs": { type: number }
              "center_behind_los_passing_snaps": { type: number }
              "center_short_yards": { type: number }
              "blitz_grades_offense_penalty": { type: number }
              "right_medium_btt_rate": { type: number }
              "right_medium_scrambles": { type: number }
              "no_screen_grades_hands_fumble": { type: number }
              "medium_btt_rate": { type: number }
              "no_blitz_epa": { type: number }
              "center_behind_los_btt_rate": { type: number }
              "blitz_interceptions": { type: number }
              "no_blitz_dropbacks": { type: number }
              "center_short_avg_depth_of_target": { type: number }
              "left_medium_sacks": { type: number }
              "right_short_yards": { type: number }
              "left_medium_first_downs": { type: number }
              "no_blitz_grades_pass": { type: number }
              "right_medium_positive_epa_percent": { type: number }
              "screen_scrambles": { type: number }
              "left_short_big_time_throws": { type: number }
              "deep_turnover_worthy_plays": { type: number }
              "no_blitz_scrambles": { type: number }
              "pressure_drop_rate": { type: number }
              "left_deep_bats": { type: number }
              "no_blitz_yards": { type: number }
              "left_medium_turnover_worthy_plays": { type: number }
              "screen_grades_pass": { type: number }
              "center_deep_drops": { type: number }
              "center_medium_avg_depth_of_target": { type: number }
              "sacks": { type: number }
              "pressure_pressure_to_sack_rate": { type: number }
              "center_behind_los_ypa": { type: number }
              "right_short_attempts": { type: number }
              "center_medium_completion_percent": { type: number }
              "no_blitz_grades_hands_fumble": { type: number }
              "right_short_sack_percent": { type: number }
              "left_behind_los_avg_depth_of_target": { type: number }
              "center_medium_epa": { type: number }
              "center_behind_los_sack_percent": { type: number }
              "npa_qb_rating": { type: number }
              "no_pressure_grades_offense": { type: number }
              "medium_completions": { type: number }
              "no_screen_grades_pass": { type: number }
              "medium_sack_percent": { type: number }
              "left_short_grades_pass": { type: number }
              "deep_btt_rate": { type: number }
              "pa_avg_time_to_throw": { type: number }
              "left_short_accuracy_percent": { type: number }
              "no_pressure_avg_time_to_throw": { type: number }
              "screen_twp_rate": { type: number }
              "pressure_dropbacks": { type: number }
              "short_twp_rate": { type: number }
              "short_passing_snaps": { type: number }
              "left_deep_sacks": { type: number }
              "short_scrambles": { type: number }
              "center_medium_turnover_worthy_plays": { type: number }
              "no_blitz_grades_offense_penalty": { type: number }
              "behind_los_drop_rate": { type: number }
              "right_behind_los_epa": { type: number }
              "right_medium_aimed_passes": { type: number }
              "no_pressure_grades_run": { type: number }
              "short_accuracy_percent": { type: number }
              "player_game_count": { type: number }
              "short_btt_rate": { type: number }
              "right_short_touchdowns": { type: number }
              "center_short_completions": { type: number }
              "right_short_spikes": { type: number }
              "behind_los_first_downs": { type: number }
              "right_medium_def_gen_pressures": { type: number }
              "blitz_turnover_worthy_plays": { type: number }
              "deep_pressure_to_sack_rate": { type: number }
              "npa_accuracy_percent": { type: number }
              "no_blitz_touchdowns": { type: number }
              "no_blitz_avg_depth_of_target": { type: number }
              "medium_qb_rating": { type: number }
              "short_completion_percent": { type: number }
              "right_deep_attempts_percent": { type: number }
              "no_pressure_dropbacks_percent": { type: number }
              "blitz_grades_pass": { type: number }
              "eligible_season": { type: number }
              "short_big_time_throws": { type: number }
              "behind_los_attempts": { type: number }
              "blitz_avg_depth_of_target": { type: number }
              "no_blitz_spikes": { type: number }
              "center_behind_los_yards": { type: number }
              "npa_drops": { type: number }
              "center_behind_los_bats": { type: number }
              "center_behind_los_qb_rating": { type: number }
              "right_deep_pressure_to_sack_rate": { type: number }
              "center_short_accuracy_percent": { type: number }
              "left_behind_los_bats": { type: number }
              "no_pressure_dropbacks": { type: number }
              "center_deep_passing_snaps": { type: number }
              "right_behind_los_hit_as_threw": { type: number }
              "medium_bats": { type: number }
              "right_medium_first_downs": { type: number }
              "completions": { type: number }
              "medium_spikes": { type: number }
              "left_deep_thrown_aways": { type: number }
              "screen_yards": { type: number }
              "right_deep_epa": { type: number }
              "center_medium_hit_as_threw": { type: number }
              "left_behind_los_completion_percent": { type: number }
              "blitz_btt_rate": { type: number }
              "no_screen_drop_rate": { type: number }
              "center_short_ypa": { type: number }
              "right_short_drop_rate": { type: number }
              "right_behind_los_accuracy_percent": { type: number }
              "blitz_positive_epa_percent": { type: number }
              "no_pressure_btt_rate": { type: number }
              "left_short_yards": { type: number }
              "deep_accuracy_percent": { type: number }
              "right_behind_los_avg_depth_of_target": { type: number }
              "center_behind_los_thrown_aways": { type: number }
              "center_behind_los_attempts_percent": { type: number }
              "no_screen_grades_offense_penalty": { type: number }
              "right_deep_first_downs": { type: number }
              "left_short_completions": { type: number }
              "deep_completion_percent": { type: number }
              "left_deep_positive_epa_percent": { type: number }
              "npa_passing_snaps": { type: number }
              "screen_drop_rate": { type: number }
              "screen_epa": { type: number }
              "no_pressure_drop_rate": { type: number }
              "no_blitz_turnover_worthy_plays": { type: number }
              "yards": { type: number }
              "right_deep_sack_percent": { type: number }
              "behind_los_pressure_to_sack_rate": { type: number }
              "screen_grades_offense_penalty": { type: number }
              "right_deep_touchdowns": { type: number }
              "npa_spikes": { type: number }
              "pressure_positive_epa_percent": { type: number }
              "screen_hit_as_threw": { type: number }
              "left_behind_los_def_gen_pressures": { type: number }
              "left_behind_los_drops": { type: number }
              "deep_epa": { type: number }
              "left_deep_ypa": { type: number }
              "medium_touchdowns": { type: number }
              "no_screen_aimed_passes": { type: number }
              "screen_drops": { type: number }
              "left_medium_grades_pass": { type: number }
              "accuracy_percent": { type: number }
              "right_behind_los_spikes": { type: number }
              "screen_ypa": { type: number }
              "medium_grades_pass": { type: number }
              "blitz_first_downs": { type: number }
              "npa_twp_rate": { type: number }
              "behind_los_passing_snaps": { type: number }
              "left_short_first_downs": { type: number }
              "center_short_passing_snaps": { type: number }
              "center_deep_accuracy_percent": { type: number }
              "right_deep_positive_epa_percent": { type: number }
              "right_medium_sack_percent": { type: number }
              "right_deep_qb_rating": { type: number }
              "no_blitz_dropbacks_percent": { type: number }
              "right_short_completion_percent": { type: number }
              "screen_accuracy_percent": { type: number }
              "right_behind_los_interceptions": { type: number }
              "behind_los_yards": { type: number }
              "center_behind_los_grades_pass": { type: number }
              "left_deep_dropbacks": { type: number }
              "npa_hit_as_threw": { type: number }
              "center_behind_los_spikes": { type: number }
              "scrambles": { type: number }
              "right_behind_los_aimed_passes": { type: number }
              "left_short_interceptions": { type: number }
              "right_medium_interceptions": { type: number }
              "left_behind_los_yards": { type: number }
              "pa_accuracy_percent": { type: number }
              "center_deep_btt_rate": { type: number }
              "pressure_turnover_worthy_plays": { type: number }
              "medium_first_downs": { type: number }
              "no_pressure_epa": { type: number }
              "left_short_avg_depth_of_target": { type: number }
              "left_behind_los_ypa": { type: number }
              "short_attempts": { type: number }
              "right_medium_bats": { type: number }
              "no_blitz_avg_time_to_throw": { type: number }
              "left_behind_los_touchdowns": { type: number }
              "pa_def_gen_pressures": { type: number }
              "right_medium_dropbacks": { type: number }
              "interceptions": { type: number }
              "screen_avg_depth_of_target": { type: number }
              "pa_sacks": { type: number }
              "short_turnover_worthy_plays": { type: number }
              "screen_passing_snaps": { type: number }
              "right_deep_thrown_aways": { type: number }
              "drop_rate": { type: number }
              "right_behind_los_drop_rate": { type: number }
              "no_screen_grades_run": { type: number }
              "right_short_qb_rating": { type: number }
              "medium_sacks": { type: number }
              "center_deep_attempts_percent": { type: number }
              "left_short_dropbacks": { type: number }
              "behind_los_drops": { type: number }
              "short_sack_percent": { type: number }
              "no_screen_first_downs": { type: number }
              "no_blitz_positive_epa_percent": { type: number }
              "left_medium_spikes": { type: number }
              "left_medium_accuracy_percent": { type: number }
              "pressure_btt_rate": { type: number }
              "pa_ypa": { type: number }
              "behind_los_completions": { type: number }
              "npa_scrambles": { type: number }
              "no_pressure_aimed_passes": { type: number }
              "pressure_dropbacks_percent": { type: number }
              "grades_run": { type: number }
              "behind_los_sack_percent": { type: number }
              "left_deep_yards": { type: number }
              "left_short_aimed_passes": { type: number }
              "npa_pressure_to_sack_rate": { type: number }
              "center_behind_los_completions": { type: number }
              "pa_twp_rate": { type: number }
              "no_pressure_def_gen_pressures": { type: number }
              "left_short_thrown_aways": { type: number }
              "pressure_grades_offense": { type: number }
              "left_short_sack_percent": { type: number }
              "center_short_thrown_aways": { type: number }
              "center_short_interceptions": { type: number }
              "short_avg_depth_of_target": { type: number }
              "pressure_completion_percent": { type: number }
              "left_deep_touchdowns": { type: number }
              "deep_yards": { type: number }
              "center_behind_los_turnover_worthy_plays": { type: number }
              "medium_ypa": { type: number }
              "left_medium_epa": { type: number }
              "left_deep_avg_depth_of_target": { type: number }
              "deep_first_downs": { type: number }
              "pressure_avg_depth_of_target": { type: number }
              "short_drop_rate": { type: number }
              "left_medium_bats": { type: number }
              "blitz_epa": { type: number }
              "center_deep_spikes": { type: number }
              "center_short_hit_as_threw": { type: number }
              "left_medium_positive_epa_percent": { type: number }
              "center_deep_touchdowns": { type: number }
              "right_deep_ypa": { type: number }
              "right_short_big_time_throws": { type: number }
              "center_short_big_time_throws": { type: number }
              "short_positive_epa_percent": { type: number }
              "no_screen_twp_rate": { type: number }
              "left_behind_los_avg_time_to_throw": { type: number }
              "right_deep_passing_snaps": { type: number }
              "pressure_drops": { type: number }
              "right_short_twp_rate": { type: number }
              "center_medium_attempts": { type: number }
              "right_deep_avg_time_to_throw": { type: number }
              "no_blitz_def_gen_pressures": { type: number }
              "center_deep_def_gen_pressures": { type: number }
              "pressure_attempts": { type: number }
              "npa_grades_hands_fumble": { type: number }
              "behind_los_epa": { type: number }
              "right_medium_twp_rate": { type: number }
              "right_deep_aimed_passes": { type: number }
              "right_deep_scrambles": { type: number }
              "deep_big_time_throws": { type: number }
              "left_short_turnover_worthy_plays": { type: number }
              "qb_rating": { type: number }
              "center_short_touchdowns": { type: number }
              "right_medium_drops": { type: number }
              "left_deep_epa": { type: number }
              "pressure_big_time_throws": { type: number }
              "no_blitz_thrown_aways": { type: number }
              "short_ypa": { type: number }
              "medium_pressure_to_sack_rate": { type: number }
              "left_medium_thrown_aways": { type: number }
[...]
