openapi: 3.1.0
info:
  title: Yahoo Sports shangrila stats graph (unofficial)
  version: 0.1.0-rev2026.06
  summary: Reverse-engineered spec for graphite-secure /v1/query/shangrila.
  description: 'GraphQL persisted-query backend; the path segment is the query name. Envelope {data,extensions};
    errors -> HTTP 400 GraphqlError. No auth; Origin/Referer headers only. Modern generic queries cover
    all sports; legacy seasonStats* queries are football-only (NCAAF data 2013+). Schemas inferred from
    captured bodies. NOT official.

    '
  x-yahoo-schema-source: captured-2026-06
  contact:
    name: sdv-internal-refs
  license:
    name: Reference only
servers:
- url: https://graphite-secure.sports.yahoo.com
  description: Yahoo Sports shangrila stats graph
tags:
- name: shangrila
  description: Modern generic stats + resource queries.
- name: shangrila-legacy
  description: Legacy football per-category queries (NCAAF).
paths:
  /v1/query/shangrila/OlyMedalCount:
    get:
      operationId: getShangrila_OlyMedalCount
      summary: 'shangrila: OlyMedalCount'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: sortMethod
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OlyMedalCountResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/OlySeasons:
    get:
      operationId: getShangrila_OlySeasons
      summary: 'shangrila: OlySeasons'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: seasons
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OlySeasonsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/alias:
    get:
      operationId: getShangrila_alias
      summary: 'shangrila: alias'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: alias
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/articleListCardPlayers:
    get:
      operationId: getShangrila_articleListCardPlayers
      summary: 'shangrila: articleListCardPlayers'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListCardPlayersResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/articleListCardTeams:
    get:
      operationId: getShangrila_articleListCardTeams
      summary: 'shangrila: articleListCardTeams'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: teamIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListCardTeamsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/basicPlayers:
    get:
      operationId: getShangrila_basicPlayers
      summary: 'shangrila: basicPlayers'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: players
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicPlayersResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/bettingDisclaimer:
    get:
      operationId: getShangrila_bettingDisclaimer
      summary: 'shangrila: bettingDisclaimer'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: bettingDisclaimerId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BettingDisclaimerResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/combatEventFights:
    get:
      operationId: getShangrila_combatEventFights
      summary: 'shangrila: combatEventFights'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: eventGroupId
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: league
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatEventFightsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/combatSchedule:
    get:
      operationId: getShangrila_combatSchedule
      summary: 'shangrila: combatSchedule'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: league
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatScheduleResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/common/pills:
    get:
      operationId: getShangrila_common/pills
      summary: 'shangrila: common/pills'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: addTeamLogos
        in: query
        required: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: teamIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/consensus-rankings.php:
    get:
      operationId: getShangrila_consensus-rankings.php
      summary: 'shangrila: consensus-rankings.php'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: sport
        in: query
        required: false
        schema:
          type: string
      - name: position
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        schema:
          type: string
      - name: experts
        in: query
        required: false
        schema:
          type: string
      - name: scoring
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/draft:
    get:
      operationId: getShangrila_draft
      summary: 'shangrila: draft'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/draftProspects:
    get:
      operationId: getShangrila_draftProspects
      summary: 'shangrila: draftProspects'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftProspectsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/driverResults:
    get:
      operationId: getShangrila_driverResults
      summary: 'shangrila: driverResults'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverResultsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/driverSplits:
    get:
      operationId: getShangrila_driverSplits
      summary: 'shangrila: driverSplits'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverSplitsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/featuredGameIds:
    get:
      operationId: getShangrila_featuredGameIds
      summary: 'shangrila: featuredGameIds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedGameIdsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/gamePropBets:
    get:
      operationId: getShangrila_gamePropBets
      summary: 'shangrila: gamePropBets'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GamePropBetsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/gameStatsLeaders:
    get:
      operationId: getShangrila_gameStatsLeaders
      summary: 'shangrila: gameStatsLeaders'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: qualified
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: isPregame
        in: query
        required: false
        schema:
          type: string
      - name: teamImageHeight
        in: query
        required: false
        schema:
          type: string
      - name: teamImageWidth
        in: query
        required: false
        schema:
          type: string
      - name: playerImageHeight
        in: query
        required: false
        schema:
          type: string
      - name: playerImageWidth
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: baseballLeaderStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: baseballPlayerStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: baseballPlayerStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat5
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat6
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat7
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat8
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat9
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat10
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamSortStat11
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds5
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds6
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds7
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds8
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds9
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds10
        in: query
        required: false
        schema:
          type: string
      - name: baseballTeamStatIds11
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: basketballLeaderStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: basketballPlayerStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat5
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat6
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat7
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat8
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamSortStat9
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds5
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds6
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds7
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds8
        in: query
        required: false
        schema:
          type: string
      - name: basketballTeamStatIds9
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: footballLeaderStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds5
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds6
        in: query
        required: false
        schema:
          type: string
      - name: footballPlayerStatIds7
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat5
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat6
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat7
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat8
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat9
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat10
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamSortStat11
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds5
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds6
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds7
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds8
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds9
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds10
        in: query
        required: false
        schema:
          type: string
      - name: footballTeamStatIds11
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: hockeyLeaderStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: hockeyPlayerStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: hockeyPlayerStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: hockeyPlayerStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat5
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamSortStat6
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds5
        in: query
        required: false
        schema:
          type: string
      - name: hockeyTeamStatIds6
        in: query
        required: false
        schema:
          type: string
      - name: soccerPlayerStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: soccerPlayerStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: soccerPlayerStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: soccerPlayerStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: soccerPlayerStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat0
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat1
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat2
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat3
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat4
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamSortStat5
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds0
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds1
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds2
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds3
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds4
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamStatIds5
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameStatsLeadersResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/gametimeGame:
    get:
      operationId: getShangrila_gametimeGame
      summary: 'shangrila: gametimeGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GametimeGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/gametimeTeam:
    get:
      operationId: getShangrila_gametimeTeam
      summary: 'shangrila: gametimeTeam'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: teamId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GametimeTeamResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/golfTournamentSeasons:
    get:
      operationId: getShangrila_golfTournamentSeasons
      summary: 'shangrila: golfTournamentSeasons'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: eventGroupId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/golfTournaments:
    get:
      operationId: getShangrila_golfTournaments
      summary: 'shangrila: golfTournaments'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: association
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: showDefendingChamps
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GolfTournamentsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/golfTournamentsBasic:
    get:
      operationId: getShangrila_golfTournamentsBasic
      summary: 'shangrila: golfTournamentsBasic'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: eventGroupId
        in: query
        required: false
        schema:
          type: string
      - name: association
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GolfTournamentsBasicResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueConferences:
    get:
      operationId: getShangrila_leagueConferences
      summary: 'shangrila: leagueConferences'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: divisionIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueConferencesResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueFiltersData:
    get:
      operationId: getShangrila_leagueFiltersData
      summary: 'shangrila: leagueFiltersData'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: viewType
        in: query
        required: false
        schema:
          type: string
      - name: includePosAndSplitsData
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueFiltersDataResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueFutureOdds:
    get:
      operationId: getShangrila_leagueFutureOdds
      summary: 'shangrila: leagueFutureOdds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: betCategories
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueFutureOddsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueGameIds:
    get:
      operationId: getShangrila_leagueGameIds
      summary: 'shangrila: leagueGameIds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: week
        in: query
        required: false
        schema:
          type: string
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: gameStatusOrder
        in: query
        required: false
        schema:
          type: string
      - name: startTimeOrder
        in: query
        required: false
        schema:
          type: string
      - name: dateFlipOffset
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhase
        in: query
        required: false
        schema:
          type: string
      - name: conferenceIds
        in: query
        required: false
        schema:
          type: string
      - name: top25
        in: query
        required: false
        schema:
          type: string
      - name: gameDayQueryType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueGameIdsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueGameIdsByDate:
    get:
      operationId: getShangrila_leagueGameIdsByDate
      summary: 'shangrila: leagueGameIdsByDate'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      - name: week
        in: query
        required: false
        schema:
          type: string
      - name: dates
        in: query
        required: false
        schema:
          type: string
      - name: startRange
        in: query
        required: false
        schema:
          type: string
      - name: endRange
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: conferenceIds
        in: query
        required: false
        schema:
          type: string
      - name: divisionIds
        in: query
        required: false
        schema:
          type: string
      - name: top25
        in: query
        required: false
        schema:
          type: string
      - name: tournamentIds
        in: query
        required: false
        schema:
          type: string
      - name: isTennis
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueGameIdsByDateResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueGamesByRound:
    get:
      operationId: getShangrila_leagueGamesByRound
      summary: 'shangrila: leagueGamesByRound'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: tournamentRoundIds
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueGamesByRoundResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueInfo:
    get:
      operationId: getShangrila_leagueInfo
      summary: 'shangrila: leagueInfo'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueInfoResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueInjuries:
    get:
      operationId: getShangrila_leagueInjuries
      summary: 'shangrila: leagueInjuries'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagueId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueInjuriesResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueNames:
    get:
      operationId: getShangrila_leagueNames
      summary: 'shangrila: leagueNames'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueNamesResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leaguePropOdds:
    get:
      operationId: getShangrila_leaguePropOdds
      summary: 'shangrila: leaguePropOdds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: league
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaguePropOddsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueStandings:
    get:
      operationId: getShangrila_leagueStandings
      summary: 'shangrila: leagueStandings'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhase
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueStandingsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueStatsByTeam:
    get:
      operationId: getShangrila_leagueStatsByTeam
      summary: 'shangrila: leagueStatsByTeam'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: leagueStructureId
        in: query
        required: false
        schema:
          type: string
      - name: baseballCutType
        in: query
        required: false
        schema:
          type: string
      - name: basketballCutType
        in: query
        required: false
        schema:
          type: string
      - name: footballCutType
        in: query
        required: false
        schema:
          type: string
      - name: hockeyCutType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueStatsByTeamResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueStatsIndividual:
    get:
      operationId: getShangrila_leagueStatsIndividual
      summary: 'shangrila: leagueStatsIndividual'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: qualified
        in: query
        required: false
        schema:
          type: string
      - name: leagueStructureId
        in: query
        required: false
        schema:
          type: string
      - name: baseballCutType
        in: query
        required: false
        schema:
          type: string
      - name: baseballPosition
        in: query
        required: false
        schema:
          type: string
      - name: basketballCutType
        in: query
        required: false
        schema:
          type: string
      - name: basketballPosition
        in: query
        required: false
        schema:
          type: string
      - name: footballCutType
        in: query
        required: false
        schema:
          type: string
      - name: hockeyCutType
        in: query
        required: false
        schema:
          type: string
      - name: hockeyPosition
        in: query
        required: false
        schema:
          type: string
      - name: golfSortStat
        in: query
        required: false
        schema:
          type: string
      - name: golfStatIds
        in: query
        required: false
        schema:
          type: string
      - name: motorsportsSortStat
        in: query
        required: false
        schema:
          type: string
      - name: motorsportsStatIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueStatsIndividualResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueStatsOverview:
    get:
      operationId: getShangrila_leagueStatsOverview
      summary: 'shangrila: leagueStatsOverview'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: week
        in: query
        required: false
        schema:
          type: string
      - name: weekSeasonPhase
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhase
        in: query
        required: false
        schema:
          type: string
      - name: leagueStructureId
        in: query
        required: false
        schema:
          type: string
      - name: golfSortStat
        in: query
        required: false
        schema:
          type: string
      - name: golfStatIds
        in: query
        required: false
        schema:
          type: string
      - name: motorsportsSortStat
        in: query
        required: false
        schema:
          type: string
      - name: motorsportsStatIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueStatsWeekly:
    get:
      operationId: getShangrila_leagueStatsWeekly
      summary: 'shangrila: leagueStatsWeekly'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: week
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhase
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueStatsWeeklyResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueTeamIds:
    get:
      operationId: getShangrila_leagueTeamIds
      summary: 'shangrila: leagueTeamIds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: divisionIds
        in: query
        required: false
        schema:
          type: string
      - name: getTeamsByDivision
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueTeamIdsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leagueTeams:
    get:
      operationId: getShangrila_leagueTeams
      summary: 'shangrila: leagueTeams'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: divisionIds
        in: query
        required: false
        schema:
          type: string
      - name: getTeamsByDivision
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeagueTeamsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/leaguesSeasonStates:
    get:
      operationId: getShangrila_leaguesSeasonStates
      summary: 'shangrila: leaguesSeasonStates'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaguesSeasonStatesResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/moduleGame:
    get:
      operationId: getShangrila_moduleGame
      summary: 'shangrila: moduleGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/motorsportStandings:
    get:
      operationId: getShangrila_motorsportStandings
      summary: 'shangrila: motorsportStandings'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MotorsportStandingsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/nascarDrivers:
    get:
      operationId: getShangrila_nascarDrivers
      summary: 'shangrila: nascarDrivers'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NascarDriversResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/navDropdownTray:
    get:
      operationId: getShangrila_navDropdownTray
      summary: 'shangrila: navDropdownTray'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: getSoccerData
        in: query
        required: false
        schema:
          type: string
      - name: soccerLeagueIds
        in: query
        required: false
        schema:
          type: string
      - name: soccerTeamIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavDropdownTrayResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/pickDistribution:
    get:
      operationId: getShangrila_pickDistribution
      summary: 'shangrila: pickDistribution'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: dates
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickDistributionResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookBoxscore:
    get:
      operationId: getShangrila_playbookBoxscore
      summary: 'shangrila: playbookBoxscore'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: standingsSeasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      - name: isBaseball
        in: query
        required: false
        schema:
          type: string
      - name: isFootball
        in: query
        required: false
        schema:
          type: string
      - name: isProBasketball
        in: query
        required: false
        schema:
          type: string
      - name: isCollegeBasketball
        in: query
        required: false
        schema:
          type: string
      - name: isHockey
        in: query
        required: false
        schema:
          type: string
      - name: isSoccer
        in: query
        required: false
        schema:
          type: string
      - name: eventState
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookBoxscoreResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookBoxscorePoll:
    get:
      operationId: getShangrila_playbookBoxscorePoll
      summary: 'shangrila: playbookBoxscorePoll'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: standingsSeasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: isBaseball
        in: query
        required: false
        schema:
          type: string
      - name: isFootball
        in: query
        required: false
        schema:
          type: string
      - name: isProBasketball
        in: query
        required: false
        schema:
          type: string
      - name: isCollegeBasketball
        in: query
        required: false
        schema:
          type: string
      - name: isHockey
        in: query
        required: false
        schema:
          type: string
      - name: isSoccer
        in: query
        required: false
        schema:
          type: string
      - name: eventState
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookBoxscorePollResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookBoxscoreSocialShare:
    get:
      operationId: getShangrila_playbookBoxscoreSocialShare
      summary: 'shangrila: playbookBoxscoreSocialShare'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookBoxscoreSocialShareResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookCombatMatch:
    get:
      operationId: getShangrila_playbookCombatMatch
      summary: 'shangrila: playbookCombatMatch'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      - name: headshotHeight
        in: query
        required: false
        schema:
          type: string
      - name: headshotWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookCombatMatchResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookGame:
    get:
      operationId: getShangrila_playbookGame
      summary: 'shangrila: playbookGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookGameOddsPoll:
    get:
      operationId: getShangrila_playbookGameOddsPoll
      summary: 'shangrila: playbookGameOddsPoll'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: eventState
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookGameOddsPollResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookGolfTournament:
    get:
      operationId: getShangrila_playbookGolfTournament
      summary: 'shangrila: playbookGolfTournament'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: statIds
        in: query
        required: false
        schema:
          type: string
      - name: showHoleResults
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookLeagueOdds:
    get:
      operationId: getShangrila_playbookLeagueOdds
      summary: 'shangrila: playbookLeagueOdds'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: dates
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: startTimeFilter
        in: query
        required: false
        schema:
          type: string
      - name: rangeStartDate
        in: query
        required: false
        schema:
          type: string
      - name: rangeEndDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookLeagueOddsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookPlayer:
    get:
      operationId: getShangrila_playbookPlayer
      summary: 'shangrila: playbookPlayer'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookPlayerResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookPlayerSocialShare:
    get:
      operationId: getShangrila_playbookPlayerSocialShare
      summary: 'shangrila: playbookPlayerSocialShare'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookPlayerSocialShareResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookRace:
    get:
      operationId: getShangrila_playbookRace
      summary: 'shangrila: playbookRace'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: playerImageHeight
        in: query
        required: false
        schema:
          type: string
      - name: playerImageWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookRaceResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookTeam:
    get:
      operationId: getShangrila_playbookTeam
      summary: 'shangrila: playbookTeam'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: teamId
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      - name: leagueShortName
        in: query
        required: false
        schema:
          type: string
      - name: disableConference
        in: query
        required: false
        schema:
          type: string
      - name: disableDivision
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookTeamResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookTeamBasic:
    get:
      operationId: getShangrila_playbookTeamBasic
      summary: 'shangrila: playbookTeamBasic'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: teamId
        in: query
        required: false
        schema:
          type: string
      - name: imageHeight
        in: query
        required: false
        schema:
          type: string
      - name: imageWidth
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookTeamBasicResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookTeamSocialShare:
    get:
      operationId: getShangrila_playbookTeamSocialShare
      summary: 'shangrila: playbookTeamSocialShare'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: teamId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookTeamSocialShareResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playbookTennisMatch:
    get:
      operationId: getShangrila_playbookTennisMatch
      summary: 'shangrila: playbookTennisMatch'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaybookTennisMatchResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerBasic:
    get:
      operationId: getShangrila_playerBasic
      summary: 'shangrila: playerBasic'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerBasicResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerCareerStats:
    get:
      operationId: getShangrila_playerCareerStats
      summary: 'shangrila: playerCareerStats'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: footballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: basketballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: baseballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: hockeyStatIds
        in: query
        required: false
        schema:
          type: string
      - name: soccerStatIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCareerStatsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerGameLog:
    get:
      operationId: getShangrila_playerGameLog
      summary: 'shangrila: playerGameLog'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: string
      - name: seasons
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: footballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: basketballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: baseballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: hockeyStatIds
        in: query
        required: false
        schema:
          type: string
      - name: soccerStatIds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameLogResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerProps:
    get:
      operationId: getShangrila_playerProps
      summary: 'shangrila: playerProps'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerPropsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerSearch:
    get:
      operationId: getShangrila_playerSearch
      summary: 'shangrila: playerSearch'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: onActiveRosterOnly
        in: query
        required: false
        schema:
          type: string
      - name: nflPositionId
        in: query
        required: false
        schema:
          type: string
      - name: nbaPositionId
        in: query
        required: false
        schema:
          type: string
      - name: mlbPositionId
        in: query
        required: false
        schema:
          type: string
      - name: nhlPositionId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSearchResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playerSeasonStats:
    get:
      operationId: getShangrila_playerSeasonStats
      summary: 'shangrila: playerSeasonStats'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: playerId
        in: query
        required: false
        schema:
          type: string
      - name: seasons
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhases
        in: query
        required: false
        schema:
          type: string
      - name: footballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: footballCutTypeGroups
        in: query
        required: false
        schema:
          type: string
      - name: basketballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: basketballCutTypeGroups
        in: query
        required: false
        schema:
          type: string
      - name: baseballStatIds
        in: query
        required: false
        schema:
          type: string
      - name: baseballCutTypeGroups
        in: query
        required: false
        schema:
          type: string
      - name: hockeyStatIds
        in: query
        required: false
        schema:
          type: string
      - name: hockeyCutTypeGroups
        in: query
        required: false
        schema:
          type: string
      - name: groupBySeasonPhase
        in: query
        required: false
        schema:
          type: string
      - name: usePlayerUniqueId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeasonStatsResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playoffBracket:
    get:
      operationId: getShangrila_playoffBracket
      summary: 'shangrila: playoffBracket'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: tournament
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: playoffRounds
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayoffBracketResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/playoffSeriesGame:
    get:
      operationId: getShangrila_playoffSeriesGame
      summary: 'shangrila: playoffSeriesGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayoffSeriesGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/polymarketGame:
    get:
      operationId: getShangrila_polymarketGame
      summary: 'shangrila: polymarketGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/racingSchedule:
    get:
      operationId: getShangrila_racingSchedule
      summary: 'shangrila: racingSchedule'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: league
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: today
        in: query
        required: false
        schema:
          type: string
      - name: hasSeries
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RacingScheduleResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/scoreboardGame:
    get:
      operationId: getShangrila_scoreboardGame
      summary: 'shangrila: scoreboardGame'
      tags:
      - shangrila
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: gameId
        in: query
        required: false
        schema:
          type: string
      - name: season
        in: query
        required: false
        schema:
          type: string
      - name: seasonPhase
        in: query
        required: false
        schema:
          type: string
      - name: statLeaderCount
        in: query
        required: false
        schema:
          type: string
      - name: singleStatLeader
        in: query
        required: false
        schema:
          type: string
      - name: betEventState
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreboardGameResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/seasonStatsFootballDefenseNcaaf:
    get:
      operationId: getShangrila_seasonStatsFootballDefenseNcaaf
      summary: Legacy player season Defense leaders (NCAAF)
      tags:
      - shangrila-legacy
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: season
        in: query
        required: true
        schema:
          type: integer
      - name: league
        in: query
        required: true
        schema:
          type: string
          default: ncaaf
      - name: leagueStructure
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: integer
      - name: sortStatId
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/FootballStatId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyLeadersResponse'
        '400':
          description: GraphQL error envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphqlError'
  /v1/query/shangrila/seasonStatsFootballKickingNcaaf:
    get:
      operationId: getShangrila_seasonStatsFootballKickingNcaaf
      summary: Legacy player season Kicking leaders (NCAAF)
      tags:
      - shangrila-legacy
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: season
        in: query
        required: true
        schema:
          type: integer
      - name: league
        in: query
        required: true
        schema:
          type: string
          default: ncaaf
      - name: leagueStructure
        in: query
        required: false
        schema:
[...]
