openapi: 3.1.0
info:
  title: Yahoo Sports Editorial API (unofficial)
  version: 0.1.0-rev2026.06
  summary: Reverse-engineered spec for Yahoo's editorial scoreboard/boxscore feed.
  description: 'api-secure.sports.yahoo.com/v1/editorial/s is a game/event feed. No auth; send Origin:
    https://sports.yahoo.com + Referer. Schemas inferred from captured NCAAF bodies (yahoo/discovery/responses/).
    Shapes are league-agnostic. NOT an official API.

    '
  x-yahoo-schema-source: captured-2026-06
  contact:
    name: sdv-internal-refs
  license:
    name: Reference only
servers:
- url: https://api-secure.sports.yahoo.com
  description: Yahoo Sports editorial host
tags:
- name: editorial
  description: Game/event editorial feed.
paths:
  /v1/editorial/s/boxscore/{gameId}:
    get:
      operationId: getEditorial_boxscore
      summary: Full game box score + play-by-play (normalized stat dictionaries)
      tags:
      - editorial
      parameters:
      - $ref: '#/components/parameters/gameId'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: v
        in: query
        required: false
        schema:
          type: integer
          default: 4
      - name: polling
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxscoreResponse'
      description: 'service.boxscore: player_stats[playerId][variation][stat_type]=value, decode via stat_types/stat_categories;
        gameplay_by_play[gameId][period].'
  /v1/editorial/s/scoreboard:
    get:
      operationId: getEditorial_scoreboard
      summary: 'Scoreboard: games + teams + leagues + odds (fat payload)'
      tags:
      - editorial
      parameters:
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/region'
      - $ref: '#/components/parameters/tz'
      - name: leagues
        in: query
        required: true
        schema:
          type: string
      - name: week
        in: query
        required: false
        schema:
          type: integer
      - name: season
        in: query
        required: false
        schema:
          type: integer
      - name: conferences
        in: query
        required: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        schema:
          type: integer
          default: 500
      - name: v
        in: query
        required: false
        schema:
          type: integer
          default: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreboardResponse'
      description: 'service.scoreboard maps keyed by entity id: games (ncaaf.g.*), teams (ncaaf.t.*, full
        metadata), leagues, divisions, gameodds, teamrankings (ncaaf.poll.*), gametv_details.'
components:
  parameters:
    lang:
      name: lang
      in: query
      required: false
      schema:
        type: string
        default: en-US
    region:
      name: region
      in: query
      required: false
      schema:
        type: string
        default: US
    tz:
      name: tz
      in: query
      required: false
      schema:
        type: string
        default: America/Chicago
    gameId:
      name: gameId
      in: path
      required: true
      description: Dotted game id, e.g. ncaaf.g.202509200023.
      schema:
        type: string
  schemas:
    ScoreboardResponse:
      title: ScoreboardResponse
      description: Inferred from a captured `editorial_scoreboard_ncaaf.json` body (depth <= 4).
      type: object
      properties:
        service:
          type: object
          properties:
            xml:lang:
              type: string
            scoreboard:
              type: object
              properties:
                games:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                gameplayoff_round:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                gameplayoff_series_status:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                gameplayoff_series_details:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                teams:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamsportacularLogo:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamsportacularLogoDark:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamLogo:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamLogoDark:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamrecord:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamrankings:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                leagues:
                  type: object
                  properties:
                    ncaaf: {}
                divisions:
                  type: object
                  properties:
                    ncaaf: {}
                gameodds:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                gamebyline:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                gameunrestricted_streams:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
                    ncaaf.g.202609050076: {}
                    ncaaf.g.202609050029: {}
                    ncaaf.g.202609050078: {}
                    ncaaf.g.202609050016: {}
                    ncaaf.g.202609050038: {}
                    ncaaf.g.202609050067: {}
                    ncaaf.g.202609050005: {}
                    ncaaf.g.202609050088: {}
                    ncaaf.g.202609050045: {}
                    ncaaf.g.202609050032: {}
                    ncaaf.g.202609050041: {}
                    ncaaf.g.202609050093: {}
                    ncaaf.g.202609050057: {}
                    ncaaf.g.202609050092: {}
                    ncaaf.g.202609050058: {}
                    ncaaf.g.202609050110: {}
                    ncaaf.g.202609050091: {}
                    ncaaf.g.202609050059: {}
                    ncaaf.g.202609050039: {}
                    ncaaf.g.202609060065: {}
                    ncaaf.g.202609060104: {}
                    ncaaf.g.202609060077: {}
                    ncaaf.g.202609070003: {}
                teamcolorPrimary:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                teamcolorSecondary:
                  type: object
                  properties:
                    ncaaf.t.85: {}
                    ncaaf.t.6: {}
                    ncaaf.t.62: {}
                    ncaaf.t.44: {}
                    ncaaf.t.8: {}
                    ncaaf.t.7: {}
                    ncaaf.t.309: {}
                    ncaaf.t.247: {}
                    ncaaf.t.51: {}
                    ncaaf.t.110: {}
                    ncaaf.t.63: {}
                    ncaaf.t.91: {}
                    ncaaf.t.3: {}
                    ncaaf.t.41: {}
                    ncaaf.t.40: {}
                    ncaaf.t.101: {}
                    ncaaf.t.13: {}
                    ncaaf.t.204: {}
                    ncaaf.t.210: {}
                    ncaaf.t.143: {}
                    ncaaf.t.208: {}
                    ncaaf.t.546: {}
                    ncaaf.t.195: {}
                    ncaaf.t.2332: {}
                    ncaaf.t.2610: {}
                    ncaaf.t.275: {}
                    ncaaf.t.9: {}
                    ncaaf.t.47: {}
                    ncaaf.t.22: {}
                    ncaaf.t.589: {}
                    ncaaf.t.31: {}
                    ncaaf.t.120: {}
                    ncaaf.t.4: {}
                    ncaaf.t.18: {}
                    ncaaf.t.26: {}
                    ncaaf.t.207: {}
                    ncaaf.t.94: {}
                    ncaaf.t.114: {}
                    ncaaf.t.35: {}
                    ncaaf.t.122: {}
                    ncaaf.t.2558: {}
                    ncaaf.t.148: {}
                    ncaaf.t.30: {}
                    ncaaf.t.55: {}
                    ncaaf.t.20: {}
                    ncaaf.t.251: {}
                    ncaaf.t.11: {}
                    ncaaf.t.90: {}
                    ncaaf.t.80: {}
                    ncaaf.t.61: {}
                    ncaaf.t.73: {}
                    ncaaf.t.99: {}
                    ncaaf.t.49: {}
                    ncaaf.t.262: {}
                    ncaaf.t.27: {}
                    ncaaf.t.182: {}
                    ncaaf.t.23: {}
                    ncaaf.t.54: {}
                    ncaaf.t.202: {}
                    ncaaf.t.163: {}
                    ncaaf.t.12: {}
                    ncaaf.t.53: {}
                    ncaaf.t.97: {}
                    ncaaf.t.1948: {}
                    ncaaf.t.196: {}
                    ncaaf.t.215: {}
                    ncaaf.t.14: {}
                    ncaaf.t.205: {}
                    ncaaf.t.17: {}
                    ncaaf.t.2316: {}
                    ncaaf.t.33: {}
                    ncaaf.t.48: {}
                    ncaaf.t.70: {}
                    ncaaf.t.52: {}
                    ncaaf.t.87: {}
                    ncaaf.t.136: {}
                    ncaaf.t.69: {}
                    ncaaf.t.225: {}
                    ncaaf.t.24: {}
                    ncaaf.t.95: {}
                    ncaaf.t.19: {}
                    ncaaf.t.155: {}
                    ncaaf.t.15: {}
                    ncaaf.t.206: {}
                    ncaaf.t.68: {}
                    ncaaf.t.157: {}
                    ncaaf.t.98: {}
                    ncaaf.t.10: {}
                    ncaaf.t.83: {}
                    ncaaf.t.185: {}
                    ncaaf.t.2595: {}
                    ncaaf.t.172: {}
                    ncaaf.t.71: {}
                    ncaaf.t.174: {}
                    ncaaf.t.60: {}
                    ncaaf.t.112: {}
                    ncaaf.t.161: {}
                    ncaaf.t.102: {}
                    ncaaf.t.221: {}
                    ncaaf.t.171: {}
                    ncaaf.t.203: {}
                    ncaaf.t.2: {}
                    ncaaf.t.106: {}
                    ncaaf.t.2560: {}
                    ncaaf.t.2659: {}
                    ncaaf.t.34: {}
                    ncaaf.t.176: {}
                    ncaaf.t.75: {}
                    ncaaf.t.79: {}
                    ncaaf.t.107: {}
                    ncaaf.t.25: {}
                    ncaaf.t.28: {}
                    ncaaf.t.42: {}
                    ncaaf.t.74: {}
                    ncaaf.t.273: {}
                    ncaaf.t.105: {}
                    ncaaf.t.188: {}
                    ncaaf.t.2371: {}
                    ncaaf.t.233: {}
                    ncaaf.t.89: {}
                    ncaaf.t.96: {}
                    ncaaf.t.222: {}
                    ncaaf.t.184: {}
                    ncaaf.t.175: {}
                    ncaaf.t.211: {}
                    ncaaf.t.152: {}
                    ncaaf.t.154: {}
                    ncaaf.t.37: {}
                    ncaaf.t.84: {}
                    ncaaf.t.125: {}
                    ncaaf.t.2549: {}
                    ncaaf.t.2234: {}
                    ncaaf.t.72: {}
                    ncaaf.t.150: {}
                    ncaaf.t.46: {}
                    ncaaf.t.115: {}
                    ncaaf.t.21: {}
                    ncaaf.t.181: {}
                    ncaaf.t.151: {}
                    ncaaf.t.1019: {}
                    ncaaf.t.2307: {}
                    ncaaf.t.81: {}
                    ncaaf.t.2601: {}
                    ncaaf.t.86: {}
                    ncaaf.t.276: {}
                    ncaaf.t.76: {}
                    ncaaf.t.1: {}
                    ncaaf.t.29: {}
                    ncaaf.t.56: {}
                    ncaaf.t.78: {}
                    ncaaf.t.103: {}
                    ncaaf.t.16: {}
                    ncaaf.t.178: {}
                    ncaaf.t.38: {}
                    ncaaf.t.183: {}
                    ncaaf.t.67: {}
                    ncaaf.t.2294: {}
                    ncaaf.t.5: {}
                    ncaaf.t.229: {}
                    ncaaf.t.88: {}
                    ncaaf.t.2344: {}
                    ncaaf.t.45: {}
                    ncaaf.t.2559: {}
                    ncaaf.t.32: {}
                    ncaaf.t.312: {}
                    ncaaf.t.253: {}
                    ncaaf.t.93: {}
                    ncaaf.t.257: {}
                    ncaaf.t.57: {}
                    ncaaf.t.118: {}
                    ncaaf.t.92: {}
                    ncaaf.t.50: {}
                    ncaaf.t.58: {}
                    ncaaf.t.147: {}
                    ncaaf.t.191: {}
                    ncaaf.t.59: {}
                    ncaaf.t.64: {}
                    ncaaf.t.39: {}
                    ncaaf.t.224: {}
                    ncaaf.t.65: {}
                    ncaaf.t.66: {}
                    ncaaf.t.104: {}
                    ncaaf.t.36: {}
                    ncaaf.t.77: {}
                    ncaaf.t.100: {}
                    ncaaf.t.82: {}
                gamehighlight:
                  type: object
                  properties:
                    ncaaf.g.202608290085: {}
                    ncaaf.g.202608290062: {}
                    ncaaf.g.202608290008: {}
                    ncaaf.g.202608290309: {}
                    ncaaf.g.202608290051: {}
                    ncaaf.g.202608290063: {}
                    ncaaf.g.202608290003: {}
                    ncaaf.g.202608290040: {}
                    ncaaf.g.202609030013: {}
                    ncaaf.g.202609030210: {}
                    ncaaf.g.202609030208: {}
                    ncaaf.g.202609030195: {}
                    ncaaf.g.202609032610: {}
                    ncaaf.g.202609030009: {}
                    ncaaf.g.202609030022: {}
                    ncaaf.g.202609030031: {}
                    ncaaf.g.202609030004: {}
                    ncaaf.g.202609030026: {}
                    ncaaf.g.202609030094: {}
                    ncaaf.g.202609040051: {}
                    ncaaf.g.202609040035: {}
                    ncaaf.g.202609042558: {}
                    ncaaf.g.202609040030: {}
                    ncaaf.g.202609040020: {}
                    ncaaf.g.202609040063: {}
                    ncaaf.g.202609040062: {}
                    ncaaf.g.202609050080: {}
                    ncaaf.g.202609050073: {}
                    ncaaf.g.202609050049: {}
                    ncaaf.g.202609050027: {}
                    ncaaf.g.202609050023: {}
                    ncaaf.g.202609050202: {}
                    ncaaf.g.202609050012: {}
                    ncaaf.g.202609050097: {}
                    ncaaf.g.202609050196: {}
                    ncaaf.g.202609050014: {}
                    ncaaf.g.202609050017: {}
                    ncaaf.g.202609050033: {}
                    ncaaf.g.202609050070: {}
                    ncaaf.g.202609050087: {}
                    ncaaf.g.202609050069: {}
                    ncaaf.g.202609050024: {}
                    ncaaf.g.202609050019: {}
                    ncaaf.g.202609050015: {}
                    ncaaf.g.202609050068: {}
                    ncaaf.g.202609050098: {}
                    ncaaf.g.202609050083: {}
                    ncaaf.g.202609052595: {}
                    ncaaf.g.202609050071: {}
                    ncaaf.g.202609050060: {}
                    ncaaf.g.202609050309: {}
                    ncaaf.g.202609050102: {}
                    ncaaf.g.202609050171: {}
                    ncaaf.g.202609050002: {}
                    ncaaf.g.202609052560: {}
                    ncaaf.g.202609050034: {}
                    ncaaf.g.202609050075: {}
                    ncaaf.g.202609050107: {}
                    ncaaf.g.202609050028: {}
                    ncaaf.g.202609050074: {}
                    ncaaf.g.202609050105: {}
                    ncaaf.g.202609052371: {}
                    ncaaf.g.202609050089: {}
                    ncaaf.g.202609050222: {}
                    ncaaf.g.202609050175: {}
                    ncaaf.g.202609050152: {}
                    ncaaf.g.202609050101: {}
                    ncaaf.g.202609050084: {}
                    ncaaf.g.202609052549: {}
                    ncaaf.g.202609050072: {}
                    ncaaf.g.202609050046: {}
                    ncaaf.g.202609050021: {}
                    ncaaf.g.202609050247: {}
                    ncaaf.g.202609051019: {}
                    ncaaf.g.202609050081: {}
                    ncaaf.g.202609050086: {}
[...]
